provider/provider-user-service/target/classes/
provider/provider-order-service/target/
provider/provider-order-api/target/
provider/provider-user-service/target/
commons/commons-utils/target/
commons/commons-dto/target/
commons/commons-provider/target/
configuration/configuration-feign/target/
business/business-oauth2/target/classes/
business/business-oauth2/target/
business/business-user/business-user-feign/target/
gateway/target/classes/
business/business-order/target/classes/
business/business-car/target/classes/
provider/provider-car-api/target/classes/
provider/provider-car-service/target/classes/
