<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funtl.myshop.plus.provider.mapper.CarApplicationMapper">
  <resultMap id="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.CarApplication">
    <!--@mbg.generated-->
    <!--@Table CarApplication-->
    <id column="CarApplication_Auto" jdbcType="BIGINT" property="carApplicationAuto" />
    <result column="AppUser" jdbcType="INTEGER" property="appUser" />
    <result column="AppDT" jdbcType="TIMESTAMP" property="appDT" />
    <result column="AppType" jdbcType="INTEGER" property="appType" />
    <result column="FeeType" jdbcType="INTEGER" property="feeType" />
    <result column="FeeAmt" jdbcType="DECIMAL" property="feeAmt" />
    <result column="WHType" jdbcType="INTEGER" property="wHType" />
    <result column="PlanStartDT" jdbcType="TIMESTAMP" property="planStartDT" />
    <result column="PlanEndDT" jdbcType="TIMESTAMP" property="planEndDT" />
    <result column="Fname" jdbcType="VARCHAR" property="fName" />
      <result column="UserAuto" jdbcType="BIGINT" property="userAuto" />
      <result column="UserName" jdbcType="VARCHAR" property="username" />
    <result column="IsDriver" jdbcType="INTEGER" property="isDriver" />
    <result column="DriverUser_Auto" jdbcType="VARCHAR" property="driverUserAuto" />
    <result column="AppCarbase_Auto" jdbcType="BIGINT" property="appCarbaseAuto" />
    <result column="SpecialMemo" jdbcType="VARCHAR" property="specialMemo" />
    <result column="LicenceMemo" jdbcType="VARCHAR" property="licenceMemo" />
    <result column="Carbase_Auto" jdbcType="BIGINT" property="carBaseAuto" />
    <result column="StartDT" jdbcType="TIMESTAMP" property="startDT" />
    <result column="OilGaugeOut" jdbcType="INTEGER" property="oilGaugeOut" />
    <result column="MileageOut" jdbcType="DECIMAL" property="mileageOut" />
    <result column="OilCardNum" jdbcType="VARCHAR" property="oilCardNum" />
      <result column="IsBack" jdbcType="INTEGER" property="isBack" />
      <result column="giveBackUser" jdbcType="BIGINT" property="giveBackUser" />
    <result column="EndDT" jdbcType="TIMESTAMP" property="endDT" />
    <result column="OilGaugeIn" jdbcType="INTEGER" property="oilGaugeIn" />
    <result column="MileageIn" jdbcType="DECIMAL" property="mileageIn" />
    <result column="Memo" jdbcType="VARCHAR" property="memo" />
    <result column="Status" jdbcType="INTEGER" property="status" />
    <result column="CUser" jdbcType="INTEGER" property="cUser" />
    <result column="CDT" jdbcType="TIMESTAMP" property="cdt" />
    <result column="MUser" jdbcType="INTEGER" property="mUser" />
    <result column="MDT" jdbcType="TIMESTAMP" property="mdt" />
    <result column="OilKM" jdbcType="INTEGER" property="oilKM" />
    <result column="OilKG" jdbcType="DECIMAL" property="oilKG" />
    <result column="RoadFee" jdbcType="DECIMAL" property="roadFee" />
    <result column="ParkingFee" jdbcType="DECIMAL" property="parkingFee" />
    <result column="IsSave" jdbcType="INTEGER" property="isSave" />
      <result column="IsHoliday" jdbcType="INTEGER" property="isHoliday" />
      <result column="useCarTime" jdbcType="DECIMAL" property="useCarTime" />
      <result column="startAddr" jdbcType="VARCHAR" property="startAddr" />
      <result column="startAddrLat" jdbcType="VARCHAR" property="startAddrLat" />
      <result column="startAddrLng" jdbcType="VARCHAR" property="startAddrLng" />
      <result column="endAddr" jdbcType="VARCHAR" property="endAddr" />
      <result column="endAddrLat" jdbcType="VARCHAR" property="endAddrLat" />
      <result column="endAddrLng" jdbcType="VARCHAR" property="endAddrLng" />
      <result column="distance" jdbcType="DECIMAL" property="distance" />
      <result column="areaType" jdbcType="INTEGER" property="areaType" />
      <result column="IsGive" jdbcType="INTEGER" property="isGive" />
      <result column="IsGet" jdbcType="INTEGER" property="isGet" />
      <result column="giveKeyUser" jdbcType="BIGINT" property="giveKeyUser" />
      <result column="giveKeyDT" jdbcType="TIMESTAMP" property="giveKeyDT" />
      <result column="getKeyUser" jdbcType="BIGINT" property="getKeyUser" />
      <result column="getKeyDT" jdbcType="TIMESTAMP" property="getKeyDT" />
      <result column="startImg" jdbcType="VARCHAR" property="startImg" />
      <result column="endImg" jdbcType="VARCHAR" property="endImg" />
      <result column="leftImg" jdbcType="VARCHAR" property="leftImg" />
      <result column="rightImg" jdbcType="VARCHAR" property="rightImg" />
      <result column="behindImg" jdbcType="VARCHAR" property="behindImg" />
      <result column="time1" jdbcType="TIMESTAMP" property="time1" />
      <result column="time2" jdbcType="TIMESTAMP" property="time2" />
      <result column="time3" jdbcType="TIMESTAMP" property="time3" />
      <result column="time4" jdbcType="TIMESTAMP" property="time4" />
      <result column="time5" jdbcType="TIMESTAMP" property="time5" />
      <result column="address1" jdbcType="VARCHAR" property="address1" />
      <result column="address2" jdbcType="VARCHAR" property="address2" />
      <result column="address3" jdbcType="VARCHAR" property="address3" />
      <result column="address4" jdbcType="VARCHAR" property="address4" />
      <result column="address5" jdbcType="VARCHAR" property="address5" />
      <result column="passAddr1" jdbcType="VARCHAR" property="passAddr1" />
      <result column="passAddrLat1" jdbcType="VARCHAR" property="passAddrLat1" />
      <result column="passAddrLng1" jdbcType="VARCHAR" property="passAddrLng1" />
      <result column="passAddr2" jdbcType="VARCHAR" property="passAddr2" />
      <result column="passAddrLat2" jdbcType="VARCHAR" property="passAddrLat2" />
      <result column="passAddrLng2" jdbcType="VARCHAR" property="passAddrLng2" />
      <result column="passAddr3" jdbcType="VARCHAR" property="passAddr3" />
      <result column="passAddrLat3" jdbcType="VARCHAR" property="passAddrLat3" />
      <result column="passAddrLng3" jdbcType="VARCHAR" property="passAddrLng3" />
      <result column="passAddr4" jdbcType="VARCHAR" property="passAddr4" />
      <result column="passAddrLat4" jdbcType="VARCHAR" property="passAddrLat4" />
      <result column="passAddrLng4" jdbcType="VARCHAR" property="passAddrLng4" />
      <result column="passAddr5" jdbcType="VARCHAR" property="passAddr5" />
      <result column="passAddrLat5" jdbcType="VARCHAR" property="passAddrLat5" />
      <result column="passAddrLng5" jdbcType="VARCHAR" property="passAddrLng5" />
      <result column="useCarAmt" jdbcType="DECIMAL" property="useCarAmt" />
      <result column="followAuto1" jdbcType="BIGINT" property="followAuto1" />
      <result column="followName1" jdbcType="VARCHAR" property="followName1" />
      <result column="followAuto2" jdbcType="BIGINT" property="followAuto2" />
      <result column="followName2" jdbcType="VARCHAR" property="followName2" />
      <result column="followAuto3" jdbcType="BIGINT" property="followAuto3" />
      <result column="followName3" jdbcType="VARCHAR" property="followName3" />
      <result column="followAuto4" jdbcType="BIGINT" property="followAuto4" />
      <result column="followName4" jdbcType="VARCHAR" property="followName4" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    CarApplication_Auto, AppUser, AppDT, AppType, FeeType, FeeAmt, WHType, PlanStartDT,
    PlanEndDT, Fname, UserName, IsDriver, DriverUser_Auto, AppCarbase_Auto, SpecialMemo,
    LicenceMemo, Carbase_Auto, StartDT, OilGaugeOut, MileageOut, OilCardNum, EndDT,
      IsBack,giveBackUser, OilGaugeIn,
    MileageIn, Memo, [Status], CUser, CDT, MUser, MDT, OilKM, OilKG, RoadFee, ParkingFee,
    IsSave,IsHoliday,useCarTime,startAddr,startAddrLat,startAddrLng,endAddr,endAddrLat,
      endAddrLng,distance,areaType,IsGive,IsGet,giveKeyUser,giveKeyDT,getKeyUser,getKeyDT,
      startImg,endImg,leftImg,rightImg,behindImg,time1,time2,time3,time4,time5,
      address1,address2,address3,address4,address5,passAddr1,passAddrLat1,passAddrLng1,
      passAddr2,passAddrLat2,passAddrLng2,passAddr3,passAddrLat3,passAddrLng3,passAddr4,
      passAddrLat4,passAddrLng4,passAddr5,passAddrLat5,passAddrLng5,useCarAmt,
      followAuto1,followName1,followAuto2,followName2,followAuto3,followName3,
      followAuto4,followName4
  </sql>
  <!--用车申请、车辆领取、车辆归还：获取申请列表数据-->
  <resultMap id="queryUserCar" extends="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.UserCarList">
      <result column="MakNo" jdbcType="VARCHAR" property="makNo" />
      <result column="appUserN" jdbcType="VARCHAR" property="appUserN" />
      <result column="appTypeN" jdbcType="VARCHAR" property="appTypeN" />
      <result column="statusN" jdbcType="VARCHAR" property="statusN" />
      <result column="DepName" jdbcType="VARCHAR" property="orgName" />
  </resultMap>
  <select id="selectUserCar" resultMap="queryUserCar">
      select
      aa.*
      from
      (select c.CarApplication_Auto,v.FName appUserN,i.ItemName appTypeN, c.PlanStartDT,
		c.PlanEndDT,
		c.CDT,
        v2.DepName,
		c.UserName,cb.MakNo,
        statusN= case c.Status when 10 then '送件中'
		when 5 then '驳回'
		when 20 then '核准'
        when 21 then '待取车'
		when 30 then '出车'
		when 40 then '还车'
		when -1 then '已删除' end
		from CarApplication c
        left join v_Emp v on c.AppUser=v.User_Auto--申请人
        left join v_Emp v2 on c.UserAuto=v2.User_Auto--使用人
		left join ItemCode i on i.Num=c.AppType and i.ItemType=833
		left join CarBase cb on c.Carbase_Auto=cb.CarBase_Auto
        where (c.AppUser=#{param.appUser} OR c.UserAuto = #{param.appUser})
      )aa
		where
		1 = 1
		<if test="param.carApplicationAuto != null and param.carApplicationAuto != '' ">
          AND aa.CarApplication_Auto = #{param.carApplicationAuto}
        </if>
		<if test="param.username != null and param.username != ''">
          and  aa.UserName = #{param.username}
        </if>
		<if test="param.makNo != null and param.makNo != ''">
          and  aa.MakNo = #{param.makNo}
        </if>
		<if test="param.statusN != null and param.statusN != ''">
          and  aa.statusN = #{param.statusN}
        </if>
        <if test="param.planStartDT != null and param.planStartDT != '' and param.planEndDT != null and param.planEndDT != ''">
          and  aa.CDT between #{param.planStartDT} and #{param.planEndDT}
        </if>
        order by aa.CarApplication_Auto desc
  </select>

    <!--用车申请：签核明细数据-->
    <resultMap id="queryUseCarDoc" type="com.funtl.myshop.plus.provider.domain.UseCarDoc">
        <result column="DocPostID" jdbcType="BIGINT" property="carApplicationAuto" />
        <result column="RoleID" jdbcType="BIGINT" property="roleId" />
        <result column="RoleName" jdbcType="VARCHAR" property="roleName" />
        <result column="Memo" jdbcType="VARCHAR" property="memo" />
        <result column="checkName" jdbcType="VARCHAR" property="checkName" />
        <result column="MDT" jdbcType="TIMESTAMP" property="mdt" />
        <result column="AppSeq" jdbcType="INTEGER" property="appSeq" />
        <result column="statusN" jdbcType="VARCHAR" property="statusN" />
        <result column="CDT" jdbcType="TIMESTAMP" property="cdt" />
        <result column="appUserN" jdbcType="VARCHAR" property="appUserN" />
    </resultMap>
    <select id="selectUseCarDoc" resultMap="queryUseCarDoc">
        declare
        @DocPostID bigint=#{carApplicationAuto}
begin
		select t1.DocPostID,t2.RoleID,t2.RoleName,t1.AppSeq,t1.Memo,
		checkName=case t1.IsAgent when 0 then t3.FName when 1 then t3.FName+'(代)' end
		,statusN = case t1.[Status] when 20 then '核准'when 5 then '驳回' when 0 then '' when 25 then '驳回' end,
		t1.MDT,t1.CDT,t4.FName appUserN
		from  CarApplication c
		left join DocSystem.dbo.WorkFlowDoc  t1 on c.CarApplication_Auto=t1.DocPostID  and t1.DocType=10
		left join [Portal].[dbo].[Portal_Roles] t2  on t1.RoleID=t2.RoleID
		left join v_Emp t3 on t3.User_Auto=t1.MUser
		left join v_Emp t4 on t4.User_Auto=c.AppUser
		where c.CarApplication_Auto = @DocPostID
		order by t1.CDT ,t1.AppSeq
end
    </select>

    <!--用车申请：用车时间-->
    <resultMap id="queryByTime" type="com.funtl.myshop.plus.provider.domain.Holiday">
        <result column="num" jdbcType="INTEGER" property="num" />
        <result column="useCarTime" jdbcType="DECIMAL" property="useCarTime" />
    </resultMap>
    <select id="selectByTime" resultMap="queryByTime">
        select
        num=count(*),
        useCarTime=cast(DATEDIFF(minute,#{startTime},#{endTime})*1./60 as decimal(18,1))
        from DocSystem.dbo.Holiday where HolidayDate between #{startTime} and #{endTime}
    </select>

    <!--用车申请：送件-->
    <insert id="applyInsert">
        declare
        @AppUser bigint=#{param.appUser},--申请人id
        @AppType int=#{param.appType},--用车类别
        @WHType int=#{param.whType},--仓库别
        @PlanStartDT datetime=#{param.planStartDT},
        @PlanEndDT datetime=#{param.planEndDT},
        @UserName nvarchar(50)=#{param.username},--使用人
        @userAuto bigint=#{param.userAuto},--使用人序号
        @IsDriver int=#{param.isDriver},
        @DriverUser_Auto int=0,
        @LicenceMemo nvarchar(200)=#{param.licenceMemo},
        @Carbase_Auto bigint=#{param.carBaseAuto},--车籍序号
        @Status int=10,--送件
        @CUser int=#{param.appUser}, --申请人id,及创建人id
        @startAddr varchar(50)=#{param.startAddr},
        @startAddrLat varchar(50)=#{param.startAddrLat},
        @startAddrLng varchar(50)=#{param.startAddrLng},
        @endAddr varchar(50)=#{param.endAddr},
        @endAddrLat varchar(50)=#{param.endAddrLat},
        @endAddrLng varchar(50)=#{param.endAddrLng},
        @distance decimal(18,3)=#{param.distance},
        @isHoliday int=#{param.isHoliday},
        @useCarTime decimal(18,1)=#{param.useCarTime},
        @areaType int =#{param.areaType},
        @passAddr1 varchar(50)=#{param.passAddr1},
        @passAddrLat1 varchar(50)=#{param.passAddrLat1},
        @passAddrLng1 varchar(50)=#{param.passAddrLng1},
        @passAddr2 varchar(50)=#{param.passAddr2},
        @passAddrLat2 varchar(50)=#{param.passAddrLat2},
        @passAddrLng2 varchar(50)=#{param.passAddrLng2},
        @passAddr3 varchar(50)=#{param.passAddr3},
        @passAddrLat3 varchar(50)=#{param.passAddrLat3},
        @passAddrLng3 varchar(50)=#{param.passAddrLng3},
        @passAddr4 varchar(50)=#{param.passAddr4},
        @passAddrLat4 varchar(50)=#{param.passAddrLat4},
        @passAddrLng4 varchar(50)=#{param.passAddrLng4},
        @passAddr5 varchar(50)=#{param.passAddr5},
        @passAddrLat5 varchar(50)=#{param.passAddrLat5},
        @passAddrLng5 varchar(50)=#{param.passAddrLng5},
        @followName1 nvarchar(50)=#{param.followName1},--随车人
        @followAuto1 bigint=#{param.followAuto1},--随车人序号
        @followName2 nvarchar(50)=#{param.followName2},
        @followAuto2 bigint=#{param.followAuto2},
        @followName3 nvarchar(50)=#{param.followName3},
        @followAuto3 bigint=#{param.followAuto3},
        @followName4 nvarchar(50)=#{param.followName4},
        @followAuto4 bigint=#{param.followAuto4}

        BEGIN
        SET NOCOUNT ON;
        Declare @WorkFlow_Auto bigint
        Declare @Title nvarchar(10)
        Declare @UpUnit Nvarchar(20)
        Declare @UnitId NVarChar(6)
        Declare @OldUnitId NVarChar(6)
        Declare @ChiefId varchar(2)
        Declare @SerialNo bigint
        Declare @sType int
        Declare @sChiefFlag int
        declare @EmpId nvarchar(7)
        declare @IsSalesDep int
        declare @NAme nvarchar(20)
        declare @CNum int --判断实习组长是否能签核

        begin
        select @IsSalesDep=IsSalesDep,@NAme=FName from v_Emp where User_Auto=@AppUser

        select @EmpId=EmpId from DocSystem.dbo.v_User where UserID= @AppUser

        Select top 1 @UnitId=a.UnitId,
        @OldUnitId=a.UnitId,@UpUnit=b.UpUnit ,@ChiefId=ChiefId,@Title=Title
        from dbo.Unit a (NoLock)
        Inner Join dbo.Promoter b (NoLock) on a.UnitId = b.UnitId
        Where EmpId = @EmpId



        if(@UpUnit='华南营业二部三课（中山/佛山）' or @UpUnit='华东营业二部三课（南京）' or (@UpUnit='华东营业三部' and @UnitId='11676') or @UnitId='11293')  --11676 临沂课
        begin
        set @sChiefFlag = 1
        end
        else if(@UnitId='11500' and @ChiefId=1)--联办  组长
        begin
        set @sChiefFlag =0
        end
        else
        begin
        --组长
        set @sChiefFlag = Case When @OldUnitId in (Select top 1 Matter from DocSystem.dbo.IdCode (NoLock) Where cboKind = N'代理部门') Then 1
        Else IsNull((Select top 1 Cast(Max(a.ChiefId) as int)
        from DocSystem.dbo.Promoter  a (NoLock) Inner Join DocSystem.dbo.Unit b (NoLock) on a.UnitId = b.UnitId
        Where b.UnitId = @OldUnitId And a.ChiefId = '1' And a.Title != N'离职'),0) End

        end

        declare @Zuzhang bigint
        select @Zuzhang=User_Auto from v_Emp where DepCode=(select DepCode from v_Emp where User_Auto=@CUser) and IsOn=1 and TitleLevel=60

        select @CNum=count(a.RoleID) from Portal.dbo.Portal_Roles a where   a.RoleID  in (select b.RoleID from Portal.dbo.Portal_UserRoles b  where b.UserID=@Zuzhang) and      (a.RoleName like'%组长%' or a.RoleName like'%組長%' )
        if @CNum != 0 or @sChiefFlag=1
        begin
        set @sChiefFlag=1
        end
        else
        begin
        set @sChiefFlag=0
        end

        set @WorkFlow_Auto =(Select top 1 KindId from DocSystem.dbo.IdCode a  (NoLock)
        Inner Join DocSystem.dbo.Unit b on a.Matter = b.UnitName
        Where cboKind = N'请假签核'
        And UnitId = @UnitId)
        If @WorkFlow_Auto Is Null
        Begin
        set @WorkFlow_Auto =(Select top 1 KindId from DocSystem.dbo.IdCode a  (NoLock)
        Inner Join DocSystem.dbo.Unit b on a.Matter = b.UnitName
        Where cboKind = N'请假签核'
        And UnitName = @UpUnit)
        End

        If IsNull(@WorkFlow_Auto,0) = 0 or IsNull((Select WorkFlow_Auto from DocSystem.dbo.WorkFlow (NoLock) Where WorkFlow_Auto = @WorkFlow_Auto),0) = 0
        Begin
        RAISERROR (N'查无签核流程设定!请联系系统管理员!',16,1)
        End
        Else
        Begin
        declare @IsSave int
        if @Carbase_Auto > 0 and exists (select * from CarApplication where Carbase_Auto=@Carbase_Auto and Status=30 and IsSave=0)
        set @IsSave=1
        else
        set @IsSave=0

        if(@AppType != 2)--非主管用车
        begin
        Insert Into CarApplication(AppUser,AppDT,AppType,FeeType,WHType,PlanStartDT,PlanEndDT,
        UserName,IsDriver,DriverUser_Auto,LicenceMemo,Carbase_Auto,[Status],CUser,CDT,IsSave,
        startAddr,startAddrLat,startAddrLng,endAddr,endAddrLat,endAddrLng,distance,IsHoliday,
        useCarTime,areaType,UserAuto,followAuto1,followName1,followAuto2,followName2,
        followAuto3,followName3,followAuto4,followName4,
        passAddr1,passAddrLat1,passAddrLng1,
        passAddr2,passAddrLat2,passAddrLng2,passAddr3,passAddrLat3,passAddrLng3,passAddr4,
        passAddrLat4,passAddrLng4,passAddr5,passAddrLat5,passAddrLng5)
        Values(@AppUser,getdate(),@AppType,1,@WHType,@PlanStartDT,@PlanEndDT,@UserName,@IsDriver,@DriverUser_Auto,
        @LicenceMemo,@Carbase_Auto,@Status,@CUser,getdate(),@IsSave,
        @startAddr,@startAddrLat,@startAddrLng,@endAddr,@endAddrLat,@endAddrLng,@distance,@IsHoliday,@useCarTime,@areaType,
        @UserAuto,@followAuto1,@followName1,@followAuto2,@followName2,@followAuto3,@followName3,@followAuto4,@followName4,
        @passAddr1,@passAddrLat1,@passAddrLng1,
        @passAddr2,@passAddrLat2,@passAddrLng2,@passAddr3,@passAddrLat3,@passAddrLng3,@passAddr4,
        @passAddrLat4,@passAddrLng4,@passAddr5,@passAddrLat5,@passAddrLng5)


        declare @CarApplication_Auto bigint
        select @CarApplication_Auto=MAX(CarApplication_Auto) from CarApplication where CUser=@CUser

        if(@EmpId='17075' or @EmpId='17160')--时长征   一般出车 王春阳审核  长沙张文翔 马骁审核    主任级
        begin
        set @sType =dbo.f_GetOutcarFlowType(@ChiefId,@AppType,@sChiefFlag,1,@PlanStartDT,@PlanEndDT,@IsSalesDep)
        end
        else
        begin
        set @sType =dbo.f_GetOutcarFlowType(@ChiefId,@AppType,@sChiefFlag,DocSystem.dbo.f_GetHasChiefd2(@empid),@PlanStartDT,@PlanEndDT,@IsSalesDep)
        --下面一句是正式库的
        --set @sType =dbo.f_GetOutcarFlowType(@ChiefId,@AppType,@sChiefFlag,DocSystem.dbo.f_GetHasChiefd2_2(@empid),@PlanStartDT,@PlanEndDT,@IsSalesDep)

        end


        Exec s_OutcarApplyFlow @WorkFlow_Auto,@CarApplication_Auto,@EmpId,0,@CUser,@sType,0


        ----外出签核核准的   申请出车自动核准到出车状态
        if(@IsSalesDep=1 and @AppType=1)
        begin
        declare @VisitID bigint,@CheckUser int
        select @VisitID=VisitID,@CheckUser=MUser from VisitPlan where CUser=@CUser and (datediff(d,getdate(),VstDate)=datediff(d,getdate(),getdate())) and [Status]=20

        update DocSystem.dbo.WorkFlowDoc
        set [Status]=20,MDT=GETDATE(),MUser=@CheckUser,Memo='ok',IsAgent=0
        where DocPostID=@CarApplication_Auto  and DocType=10   and status=0

        update CarApplication
        set [Status]=20,
        StartDT=getdate(),
        MUser=@CheckUser,
        MDT=getdate()
        where CarApplication_Auto=@CarApplication_Auto
        end
        end
        else   --主管用车
        begin
        Insert Into CarApplication(AppUser,AppDT,AppType,FeeType,WHType,PlanStartDT,PlanEndDT,
        UserName,IsDriver,DriverUser_Auto,LicenceMemo,Carbase_Auto,[Status],CUser,CDT,IsSave,
        startAddr,startAddrLat,startAddrLng,endAddr,endAddrLat,endAddrLng,distance,IsHoliday,
        useCarTime,areaType,UserAuto,followAuto1,followName1,followAuto2,followName2,
        followAuto3,followName3,followAuto4,followName4,
        passAddr1,passAddrLat1,passAddrLng1,
        passAddr2,passAddrLat2,passAddrLng2,passAddr3,passAddrLat3,passAddrLng3,passAddr4,
        passAddrLat4,passAddrLng4,passAddr5,passAddrLat5,passAddrLng5)
        Values(@AppUser,getdate(),@AppType,1,@WHType,@PlanStartDT,@PlanEndDT,@UserName,@IsDriver,@DriverUser_Auto,
        @LicenceMemo,@Carbase_Auto,20,@CUser,getdate(),@IsSave,
        @startAddr,@startAddrLat,@startAddrLng,@endAddr,@endAddrLat,@endAddrLng,@distance,@IsHoliday,@useCarTime,@areaType,
        @UserAuto,@followAuto1,@followName1,@followAuto2,@followName2,@followAuto3,@followName3,@followAuto4,@followName4,
        @passAddr1,@passAddrLat1,@passAddrLng1,
        @passAddr2,@passAddrLat2,@passAddrLng2,@passAddr3,@passAddrLat3,@passAddrLng3,@passAddr4,
        @passAddrLat4,@passAddrLng4,@passAddr5,@passAddrLat5,@passAddrLng5)
        end
        End
        end

        END
    </insert>

    <!--用车审核：获取审核数据 -->
    <resultMap id="queryCheckList" extends="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.CheckList">
        <result column="MakNo" jdbcType="VARCHAR" property="makNo" />
        <result column="appUserN" jdbcType="VARCHAR" property="appUserN" />
        <result column="appTypeN" jdbcType="VARCHAR" property="appTypeN" />
        <result column="StatusN" jdbcType="VARCHAR" property="statusN" />
        <result column="DepName" jdbcType="VARCHAR" property="orgName" />
    </resultMap>
    <select id="selectCheckList" resultMap="queryCheckList">
        declare
@UserAuto bigint = #{param.loginAuto}
begin
select
aa.*
from
(
select c.CarApplication_Auto,v.FName appUserN,i.ItemName appTypeN, c.PlanStartDT,
		c.PlanEndDT,
		c.CDT,
		v2.DepName,
		c.UserName,cb.MakNo
        ,c.followName1
        ,c.followName2
        ,c.followName3
        ,c.followName4
		,StatusN= case c.Status when 10 then '送件中'
		when 5 then '驳回'
		when 20 then '核准'
        when 21 then '待取车'
		when 30 then '出车'
		when 40 then '还车'
		when -1 then '已删除' end
		from CarApplication c
		left join DocSystem.dbo.WorkFlowDoc  t1 on c.CarApplication_Auto=t1.DocPostID  and t1.DocType=10
		left join [Portal].[dbo].[Portal_Roles] t2  on t1.RoleID=t2.RoleID
        left join v_Emp v on c.AppUser=v.User_Auto--申请人
        left join v_Emp v2 on c.UserAuto=v2.User_Auto--使用人
		left join ItemCode i on i.Num=c.AppType and i.ItemType=833
		left join CarBase cb on c.Carbase_Auto=cb.CarBase_Auto
		where t2.RoleID in (
		select distinct
    c.Roles_Auto
    from
    AspNet.dbo.aspnet_Users a
    join AspNet.dbo.aspnet_UsersInRoles b  on a.UserId=b.UserId
    join AspNet.dbo.aspnet_Roles c  on b.RoleId=c.RoleId
    where
    a.ApplicationId='73663109-dda2-4c2d-8311-337946b5c373'
    and a.User_Auto= @UserAuto
		)  and c.Status in (10,20)
		)aa
		where
        1 = 1
        <if test="param.carApplicationAuto != null and param.carApplicationAuto != ''">
            AND aa.CarApplication_Auto=#{param.carApplicationAuto}
        </if>
        <if test="param.username != null and param.username != ''">
            AND aa.UserName=#{param.username}
        </if>
        <if test="param.appUserN != null and param.appUserN != ''">
            AND aa.appUserN=#{param.appUserN}
        </if>
        <if test="param.makNo != null and param.makNo != ''">
            AND  aa.MakNo = #{param.makNo}
        </if>
        <if test="param.statusN != null and param.statusN != ''">
            AND aa.StatusN=#{param.statusN}
        </if>
        <if test="param.planStartDT != null and param.planStartDT != '' and param.planEndDT != null and param.planEndDT != ''">
            and  aa.CDT between #{param.planStartDT} and #{param.planEndDT}
        </if>
		order by aa.CarApplication_Auto desc
        end
    </select>

    <!--用车审核：选取审核明细-->
    <resultMap id="queryCheckOne" extends="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.CheckOne">
        <result column="MakNo" jdbcType="VARCHAR" property="makNo" />
        <result column="appUserN" jdbcType="VARCHAR" property="appUserN" />
        <result column="appTypeN" jdbcType="VARCHAR" property="appTypeN" />
        <result column="DepName" jdbcType="VARCHAR" property="orgName" />
        <result column="Carbase_Auto" jdbcType="BIGINT" property="carBaseAuto" />
        <result column="MakNo" jdbcType="VARCHAR" property="makNo" />
        <result column="oilName" jdbcType="VARCHAR" property="oilName" />
        <result column="residueDL" jdbcType="DECIMAL" property="residueDL" />
        <result column="mileage" jdbcType="DECIMAL" property="mileage" />
        <result column="BrandName" jdbcType="VARCHAR" property="brandName" />
        <result column="ClasenName" jdbcType="VARCHAR" property="clasenName" />
        <result column="CarColor" jdbcType="VARCHAR" property="carColor" />
        <result column="bsTypeN" jdbcType="VARCHAR" property="bsTypeN" />
        <result column="whTypeN1" jdbcType="VARCHAR" property="whTypeN1" />
        <result column="whTypeN2" jdbcType="VARCHAR" property="whTypeN2" />
        <result column="AppSeq" jdbcType="INTEGER" property="appSeq" />
        <result column="RoleID" jdbcType="BIGINT" property="roleId" />
    </resultMap>
    <select id="selectCheckOne" resultMap="queryCheckOne">
        declare  --S_OutapplyCheck_Q2 20976,10,10
        @UserID bigint=#{loginUserID},
        @CarApplication_Auto bigint=#{carApplicationAuto},
        @DocType int=10
        begin

        declare @TOrg table(UnitID nvarchar(60))
        declare @UnitID_Temp nvarchar(60)
        declare cursor1 cursor for
        select distinct t1.UnitID
        from DocSystem.[dbo].[v_Promoter] t1
        left join DocSystem.dbo.v_User t2 on t1.EmpId=t2.EmpID
        where t2.UserID =@UserID

        open cursor1
        fetch next from cursor1 into @UnitID_Temp
        while @@FETCH_STATUS=0
        begin



        insert into @TOrg (UnitID)
        select distinct t2.ID
        from DocSystem.dbo.UFun_GetChildren(@UnitID_Temp) t2
        fetch next from cursor1 into @UnitID_Temp

        end
        close cursor1
        deallocate  cursor1

        select distinct t1.UnitID
        into #a
        from @TOrg t1,DocSystem.dbo.Unit t2
        where t1.UnitID = t2.UnitID collate Chinese_PRC_Stroke_90_CI_AS

        Declare @Roles table ( RoleId int,RoleName nvarchar(20))
        Insert Into @Roles (RoleId ,RoleName)
        SELECT a.RoleID,c.RoleName
        FROM Portal.dbo.Portal_UserRoles a(Nolock)
        INNER JOIN DocSystem.dbo.v_User b(nolock)ON a.UserID = b.UserID
        inner join Portal.dbo.Portal_Roles c(nolock)on c.RoleID=a.RoleID
        WHERE b.UserID = @UserID

        select t1.CarApplication_Auto,AppSeq=MIN(t4.AppSeq)
        into #b
        from  CarApplication t1,DocSystem.dbo.v_User  t2,DocSystem.dbo.WorkFlowDoc t4
        where t2.UserID=t1.AppUser
        and t4.DocPostID=t1.CarApplication_Auto
        and t4.DocType=@DocType
        and t4.Status=0
        group by t1.CarApplication_Auto

        --2018/01/19副总无法签核,组织管理部门的状况,暂时先排除 wilson

        select t1.CarApplication_Auto,AppSeq=MIN(t4.AppSeq)
        into #c
        from  CarApplication t1,DocSystem.dbo.v_User  t2,#a t3, DocSystem.dbo.WorkFlowDoc t4
        where t2.UserID=t1.AppUser
        and t2.UnitID  collate Chinese_PRC_Stroke_90_CI_AS = t3.UnitID
        and t4.DocPostID=t1.CarApplication_Auto
        and t4.DocType=@DocType
        and t4.Status=0
        group by t1.CarApplication_Auto

        select c.CarApplication_Auto,v.FName appUserN,i.ItemName appTypeN, c.PlanStartDT,
        c.PlanEndDT,
        v2.DepName,
        c.UserAuto,
        c.UserName
        ,c.followName1
        ,c.followName2
        ,c.followName3
        ,c.followName4
        ,c.startAddr
        ,c.endAddr
        ,i2.ItemName areaTypeN
        ,c.LicenceMemo
        ,cb.CarBase_Auto
        ,cb.MakNo
        ,i3.ItemName oilName
        ,isnull(cse.residueDL,0) residueDL
        ,isnull(cse.mileage,0) mileage
        ,b.BrandName
        ,cn.ClasenName
        ,cb.CarColor
        ,i4.ItemName bsTypeN
        ,i5.ItemName whTypeN1
        ,i5.ItemName whTypeN2
        ,t50.AppSeq
        ,t20.RoleID
        ,c.passAddr1,c.passAddr2,c.passAddr3,c.passAddr4,c.passAddr5
        from CarApplication c
        left join v_Emp v on c.AppUser=v.User_Auto--申请人
        left join v_Emp v2 on c.UserAuto=v2.User_Auto--使用人
        left join ItemCode i on i.Num=c.AppType and i.ItemType=833
        left join CarBase cb on c.Carbase_Auto=cb.CarBase_Auto
        left join ItemCode i2 on i2.Num=c.areaType and i2.ItemType=810
        left join ItemCode i3 on i3.num = cb.oil and i3.ItemType=231 --燃油种类
        left join CarStatusEdit cse on cse.CarBase_Auto = c.Carbase_Auto
        left join Clasen cn on cb.Clasen_Auto=cn.Clasen_Auto
        left join Brand b on cb.Brand_Auto=b.Brand_Auto
        left join ItemCode i4 on i4.num = cb.BSType and i4.ItemType=841 --变速类型
        left join ItemCode i5 on i5.num = cse.WHType and i5.ItemType=826--仓库别
        inner join DocSystem.dbo.WorkFlowDoc t20 on c.CarApplication_Auto=t20.DocPostID and t20.DocType=@DocType and t20.InActiveList!=-1
        inner join @Roles t30 on t30.RoleId=t20.RoleID
        inner join #c t50 on t50.CarApplication_Auto=c.CarApplication_Auto and t20.AppSeq=t50.AppSeq
        where c.CarApplication_Auto=@CarApplication_Auto

        drop table #a
        drop table #b
        drop table #c
        end



    </select>

    <!--用车审核：核准、驳回-->
    <insert id="useCarCheckInsert">
        declare
@UserId bigint=#{param.loginUserID},
@CarApplication_Auto bigint=#{param.carApplicationAuto},
@AppSeq int=#{param.appSeq},--等级
@AppStatus int=#{param.appStatus},--5驳回 20核准
@DocType int=10,
@RoleID int=#{param.roleId},
@Memo varchar(50)=#{param.memo}
BEGIN
	if(@AppStatus=5)--出车申请驳回--
	begin
		update DocSystem.dbo.WorkFlowDoc
		set InActiveList=-1
		where DocPostID=@CarApplication_Auto and DocType=@DocType

		update DocSystem.dbo.WorkFlowDoc
		set [Status]=5,MDT=GETDATE(),MUser=@UserId,Memo=@Memo,IsAgent=0
		where DocPostID=@CarApplication_Auto and AppSeq=@AppSeq and DocType=@DocType  and status=0

		update CarApplication
		set [Status]=@AppStatus,
		MUser=@UserId,
		MDT=getdate()
		where CarApplication_Auto=@CarApplication_Auto

		delete DocSystem.dbo.WorkFlowDoc where DocPostID=@CarApplication_Auto and Status=0 and DocType=@DocType


	end
	if(@AppStatus=20)--出车核准--
		begin
			declare @MaxAppSeq int,@OilGaugeIn int,@Legend decimal,
			@CarStatusEdit_Auto int,@CarBase_Auto int,@User_Auto int,@AppType int,@IsSalesDep int


			select  @CarStatusEdit_Auto=Max(CarStatusEdit_Auto),@CarBase_Auto=CarBase_Auto,@OilGaugeIn=OilGaugeIn,@Legend=Legend from CarStatusEdit  where CarBase_Auto=@CarApplication_Auto group by CarBase_Auto,OilGaugeIn,Legend

			select @User_Auto=AppUser,@AppType=AppType from CarApplication where CarApplication_Auto=@CarApplication_Auto

			select IsSalesDep from v_Emp where User_Auto=@User_Auto   --是否为业务

			update DocSystem.dbo.WorkFlowDoc
			set [Status]=20,MDT=GETDATE(),MUser=@UserId,Memo=@Memo,IsAgent=0
			where DocPostID=@CarApplication_Auto and AppSeq=@AppSeq and DocType=@DocType   and status=0


			select @MaxAppSeq=isnull(MAX(AppSeq),0)
			from DocSystem.dbo.WorkFlowDoc
			where DocPostID=@CarApplication_Auto and DocType=@DocType and InActiveList=1
			if(@MaxAppSeq=@AppSeq)--最后一个审核--
			begin
					update CarApplication
					set [Status]=20,
					StartDT=getdate(),
					MUser=@UserId,
					MDT=getdate()
					where CarApplication_Auto=@CarApplication_Auto
			end

		end
END
    </insert>

    <!--查isSalesDep值-->
    <resultMap id="querySC" type="com.funtl.myshop.plus.provider.domain.ApplyJudge">
        <result column="IsSalesDep" jdbcType="INTEGER" property="isSalesDep" />
        <result column="ChiefId" jdbcType="INTEGER" property="chiefId" />
    </resultMap>
    <select id="selectSC" resultMap="querySC">
        declare
        @LoginUserID int=#{loginUserID}--登录者id
        BEGIN
            declare
            @IsSalesDep int,
            @ChiefId int
            --select FName,IsSalesDep from v_Emp where User_Auto=@LoginUserID

            set @IsSalesDep=(select IsSalesDep from v_Emp where User_Auto=@LoginUserID)
            set @ChiefId=(select isnull(p.ChiefId,0)ChiefId from Promoter p left join v_Emp v on v.FName=p.Name where v.User_Auto=@LoginUserID)
            select IsSalesDep=@IsSalesDep,ChiefId=isnull(@ChiefId,0)
        END
    </select>

    <!--查ChiefId值-->
    <resultMap id="queryNum" type="com.funtl.myshop.plus.provider.domain.ApplyJudge">
        <result column="num" jdbcType="INTEGER" property="num" />
    </resultMap>
    <select id="selectNum" resultMap="queryNum">
        declare
        @LoginUserID int=#{loginUserID},--登录者id
        @AppDT datetime=#{appDT} --申请日期默认当天
        BEGIN
        declare @VisitID bigint

        select @VisitID=max(VisitID) from VisitPlan where CUser=@LoginUserID and (datediff(d,getdate(),VstDate)=datediff(d,getdate(),@AppDT))

        select num=count(*) from DocSystem.dbo.WorkFlowDoc where DocPostID=@VisitID and DocType=17 and InActiveList=1 and [Status]=20
        END
    </select>

    <!--用车申请报错信息-->
    <resultMap id="queryErrorN" type="com.funtl.myshop.plus.provider.domain.ApplyJudge">
        <result column="errorN" jdbcType="VARCHAR" property="errorN" />
    </resultMap>
    <select id="selectErrorN" resultMap="querySC">
        declare
        @AppUser bigint=#{param.appUser},--申请人id
        @AppType int=#{param.appType},--用车类别
        @WHType int=#{param.whType},--仓库别
        @PlanStartDT datetime=#{param.planStartDT},
        @PlanEndDT datetime=#{param.planEndDT},
        @Fname nvarchar(50)=#{param.appUserN},--申请人
        @UserName nvarchar(50)=#{param.username},--使用人
        @IsDriver int=#{param.isDriver},
        @DriverUser_Auto int=0,
        @LicenceMemo nvarchar(200)=#{param.licenceMemo},
        @Carbase_Auto bigint=#{param.carBaseAuto},--车籍序号
        @Status int=10,--送件
        @CUser int=#{param.appUser}, --申请人id,及创建人id
        @startAddr varchar(50)=#{param.startAddr},
        @startAddrLat varchar(50)=#{param.startAddrLat},
        @startAddrLng varchar(50)=#{param.startAddrLng},
        @endAddr varchar(50)=#{param.endAddr},
        @endAddrLat varchar(50)=#{param.endAddrLat},
        @endAddrLng varchar(50)=#{param.endAddrLng},
        @distance decimal(18,3)=#{param.distance},
        @isHoliday int=#{param.isHoliday},
        @useCarTime decimal(18,1)=#{param.useCarTime},
        @areaType int =#{param.areaType}
        BEGIN
        SET NOCOUNT ON;
        Declare @WorkFlow_Auto bigint
        Declare @Title nvarchar(10)
        Declare @UpUnit Nvarchar(20)
        Declare @UnitId NVarChar(6)
        Declare @OldUnitId NVarChar(6)
        Declare @ChiefId varchar(2)
        Declare @SerialNo bigint
        Declare @sType int
        Declare @sChiefFlag int
        declare @EmpId nvarchar(7)
        declare @IsSalesDep int
        declare @NAme nvarchar(20)
        declare @CNum int --判断实习组长是否能签核
        declare @error varchar(50)

        begin
        select @IsSalesDep=IsSalesDep,@NAme=FName from v_Emp where User_Auto=@AppUser

        select @EmpId=EmpId from DocSystem.dbo.v_User where UserID= @AppUser

        Select top 1 @UnitId=a.UnitId,
        @OldUnitId=a.UnitId,@UpUnit=b.UpUnit ,@ChiefId=ChiefId,@Title=Title
        from dbo.Unit a (NoLock)
        Inner Join dbo.Promoter b (NoLock) on a.UnitId = b.UnitId
        Where EmpId = @EmpId



        if(@UpUnit='华南营业二部三课（中山/佛山）' or @UpUnit='华东营业二部三课（南京）' or (@UpUnit='华东营业三部' and @UnitId='11676') or @UnitId='11293')  --11676 临沂课
        begin
        set @sChiefFlag = 1
        end
        else if(@UnitId='11500' and @ChiefId=1)--联办  组长
        begin
        set @sChiefFlag =0
        end
        else
        begin
        --组长
        set @sChiefFlag = Case When @OldUnitId in (Select top 1 Matter from DocSystem.dbo.IdCode (NoLock) Where cboKind = N'代理部门') Then 1
        Else IsNull((Select top 1 Cast(Max(a.ChiefId) as int)
        from DocSystem.dbo.Promoter  a (NoLock) Inner Join DocSystem.dbo.Unit b (NoLock) on a.UnitId = b.UnitId
        Where b.UnitId = @OldUnitId And a.ChiefId = '1' And a.Title != N'离职'),0) End

        end

        declare @Zuzhang bigint
        select @Zuzhang=User_Auto from v_Emp where DepCode=(select DepCode from v_Emp where User_Auto=@CUser) and IsOn=1 and TitleLevel=60

        select @CNum=count(a.RoleID) from Portal.dbo.Portal_Roles a where   a.RoleID  in (select b.RoleID from Portal.dbo.Portal_UserRoles b  where b.UserID=@Zuzhang) and      (a.RoleName like'%组长%' or a.RoleName like'%組長%' )
        if @CNum!=0 or @sChiefFlag=1
        begin
        set @sChiefFlag=1
        end
        else
        begin
        set @sChiefFlag=0
        end

        set @WorkFlow_Auto =(Select top 1 KindId from DocSystem.dbo.IdCode a  (NoLock)
        Inner Join DocSystem.dbo.Unit b on a.Matter = b.UnitName
        Where cboKind = N'请假签核'
        And UnitId = @UnitId)
        If @WorkFlow_Auto Is Null
        Begin
        set @WorkFlow_Auto =(Select top 1 KindId from DocSystem.dbo.IdCode a  (NoLock)
        Inner Join DocSystem.dbo.Unit b on a.Matter = b.UnitName
        Where cboKind = N'请假签核'
        And UnitName = @UpUnit)
        End

        If IsNull(@WorkFlow_Auto,0) = 0 or IsNull((Select WorkFlow_Auto from DocSystem.dbo.WorkFlow (NoLock) Where WorkFlow_Auto = @WorkFlow_Auto),0) = 0
        Begin
        --RAISERROR (N'查无签核流程设定!请联系系统管理员!',16,1)
        set @error='查无签核流程设定!请联系系统管理员!'
        select errorN=@error
        End
        end

        END
    </select>

    <!--用车审核：更改车辆-->
    <update id="carChangeUpdate">
        declare
        @CarApplicationAuto bigint=#{param.carApplicationAuto},
        @CarBaseAuto bigint=#{param.carBaseAuto},
        @loginUserID bigint=#{param.loginUserID}
        begin
            declare @WHType int,
            @Memo varchar(50)
            set @WHType=
            (select
            WHType
            from
            CarStatusEdit
            where CarBase_Auto=@CarBaseAuto)
            set @Memo=convert(varchar(10),@loginUserID)+'用车审核更改车辆'+convert(varchar(10),GETDATE(),120)
            update
            CarApplication
            set Carbase_Auto=@CarBaseAuto,WHType=@WHType,MUser=@loginUserID,Memo=@Memo,MDT=GETDATE()
            where CarApplication_Auto=@CarApplicationAuto
        end
    </update>

    <!--车辆安排：获取申请列表-->
    <select id="selectCarArrange" resultMap="queryCheckList">
    declare
    @LoginUserID bigint=#{param.loginAuto}
	begin
      select
        aa.*
      from
	(select
	c.CarApplication_Auto,c.UserName,
	v2.DepName,v.FName appUserN,c.CDT,i1.ItemName AppTypeN,
	StatusN=case c.Status when 10 then '送件中' when 20 then '核准' end ,
	c.PlanStartDT,
	c.PlanEndDT,
	cb.MakNo
	from CarApplication c
	left join v_Emp v on c.AppUser=v.User_Auto--申请人
    left join v_Emp v2 on c.UserAuto=v2.User_Auto--使用人
	left join ItemCode i1 on c.AppType=i1.Num and i1.ItemType=833
	left join CarBase cb on c.Carbase_Auto=cb.CarBase_Auto
	left join DocSystem.dbo.Employee e on v.UserName=e.Account collate Chinese_PRC_CI_AS
	where c.[Status]in(10,20) and v.IsOn=1 and v2.IsOn=1 and e.[Status]='任用'
	and e.Inc_Auto in(select V1 from ItemCode i3 inner join CarStationManager cm on i3.Num=cm.Station and cm.User_auto=@LoginUserID where i3.ItemType=826 and cm.Status=1)
        )aa
        where
        1 = 1
        <if test="param.carApplicationAuto != null and param.carApplicationAuto != ''">
            AND aa.CarApplication_Auto=#{param.carApplicationAuto}
        </if>
        <if test="param.username != null and param.username != ''">
            AND aa.UserName=#{param.username}
        </if>
        <if test="param.appUserN != null and param.appUserN != ''">
            AND aa.appUserN=#{param.appUserN}
        </if>
        <if test="param.makNo != null and param.makNo != ''">
            AND  aa.MakNo = #{param.makNo}
        </if>
        <if test="param.statusN != null and param.statusN != ''">
            AND aa.StatusN=#{param.statusN}
        </if>
        <if test="param.planStartDT != null and param.planStartDT != '' and param.planEndDT != null and param.planEndDT != ''">
            and  aa.CDT between #{param.planStartDT} and #{param.planEndDT}
        </if>
        order by aa.CarApplication_Auto desc
    end
    </select>

    <!--车辆安排：获取具体申请明细-->
    <resultMap id="queryKey" extends="queryCheckOne" type="com.funtl.myshop.plus.provider.domain.CheckOne">
        <result column="IsBack" jdbcType="INTEGER" property="isBack" />
        <result column="IsGive" jdbcType="INTEGER" property="isGive" />
        <result column="IsGet" jdbcType="INTEGER" property="isGet" />
    </resultMap>
    <select id="selectArrangeOne" resultMap="queryKey">
        declare
@LoginUserID bigint=#{loginUserID},
@CarApplication_Auto bigint=#{carApplicationAuto}
begin
select
aa.*
from
(
select distinct c.CarApplication_Auto,v.FName appUserN,i.ItemName appTypeN, c.PlanStartDT,
		c.PlanEndDT,
		v2.DepName,
        c.UserAuto,
		c.UserName,
		c.startAddr
		,c.endAddr
		,i2.ItemName areaTypeN
		,c.LicenceMemo
		,cb.CarBase_Auto
		,cb.MakNo
		,i3.ItemName oilName
		,isnull(cse.residueDL,0) residueDL
		,isnull(cse.mileage,0) mileage
		,b.BrandName
		,cn.ClasenName
		,cb.CarColor
		,i4.ItemName bsTypeN
		,i5.ItemName whTypeN1
		,i5.ItemName whTypeN2
        ,isnull(c.IsGive,0) IsGive
        ,isnull(c.IsGet,0) IsGet
        ,isnull(c.IsBack,0) IsBack
        ,c.startImg,c.endImg,c.leftImg,c.rightImg,c.behindImg
        ,c.time1,c.time2,c.time3,c.time4,c.time5
        ,c.address1,c.address2,c.address3,c.address4,c.address5
        ,c.passAddr1,c.passAddr2,c.passAddr3,c.passAddr4,c.passAddr5
		from CarApplication c
		left join v_Emp v on c.AppUser=v.User_Auto--申请人
        left join v_Emp v2 on c.UserAuto=v2.User_Auto--使用人
		left join ItemCode i on i.Num=c.AppType and i.ItemType=833
		left join CarBase cb on c.Carbase_Auto=cb.CarBase_Auto
		left join ItemCode i2 on i2.Num=c.areaType and i2.ItemType=810
		left join ItemCode i3 on i3.num = cb.oil and i3.ItemType=231 --燃油种类
		left join CarStatusEdit cse on cse.CarBase_Auto = c.Carbase_Auto
		left join Clasen cn on cb.Clasen_Auto=cn.Clasen_Auto
		left join Brand b on cb.Brand_Auto=b.Brand_Auto
		left join ItemCode i4 on i4.num = cb.BSType and i4.ItemType=841 --变速类型
		left join ItemCode i5 on i5.num = cse.WHType and i5.ItemType=826--仓库别
		left join DocSystem.dbo.Employee e on v.UserName=e.Account collate Chinese_PRC_CI_AS
		where c.[Status]in(10,20) and v.IsOn=1 and v2.IsOn=1 and e.[Status]='任用'
		and e.Inc_Auto in(select V1 from ItemCode i3 inner join CarStationManager cm on i3.Num=cm.Station and cm.User_auto=@LoginUserID where i3.ItemType=826 and cm.Status=1)
	)aa
	where aa.CarApplication_Auto=@CarApplication_Auto
end
    </select>

    <!--车辆安排：发放钥匙-->
    <update id="giveKeyUpdate">
        declare
        @giveKeyUser bigint=#{param.giveKeyUser},
        @CarApplication_Auto bigint=#{param.carApplicationAuto},
        @isGive int = #{param.isGive}
        begin
        update CarApplication set giveKeyUser=@giveKeyUser,giveKeyDT=GETDATE(),IsGive=@isGive,[Status]=21 ,MUser=@giveKeyUser,MDT=GETDATE() where CarApplication_Auto=@CarApplication_Auto
        end
    </update>

    <!--车辆安排：领取钥匙-->
    <update id="getKeyUpdate" >
        declare
        @getKeyUser bigint=#{param.getKeyUser},
        @CarApplication_Auto bigint=#{param.carApplicationAuto},
        @isGet int = #{param.isGet}
        begin
        update CarApplication set getKeyUser=@getKeyUser,getKeyDT=GETDATE(),StartDT=GETDATE(),isGet=@isGet,[Status]=30,MUser=@getKeyUser,MDT=GETDATE() where CarApplication_Auto=@CarApplication_Auto
        end
    </update>

    <!--用车申请：撤销-->
    <update id="deleteByCarApplicationAuto">
        declare
        @CarApplication_Auto bigint = #{param.carApplicationAuto},
        @LoginUserID bigint = #{param.loginUserID}
        begin
        update CarApplication set [Status]=-1,MUser=@LoginUserID,MDT=GETDATE() where CarApplication_Auto=@CarApplication_Auto
        end
    </update>

    <!--车辆归还：归还钥匙-->
    <update id="giveBack">
        declare
        @giveBackUser bigint=#{param.giveBackUser},
        @CarApplication_Auto bigint=#{param.carApplicationAuto},
        @IsBack int =#{param.isBack}
        begin
        update
		CarApplication
		set giveBackUser=@giveBackUser,EndDT=GETDATE(),IsBack=@IsBack,[Status]=40,MUser=@giveBackUser,MDT=GETDATE()
		where CarApplication_Auto=@CarApplication_Auto
        end
    </update>

    <!--用车申请、车辆领取、车辆归还：获取具体申请明细-->
    <resultMap id="queryImg" extends="queryKey" type="com.funtl.myshop.plus.provider.domain.CheckOne">
        <result column="startImg" jdbcType="VARCHAR" property="startImg" />
        <result column="endImg" jdbcType="VARCHAR" property="endImg" />
        <result column="leftImg" jdbcType="VARCHAR" property="leftImg" />
        <result column="rightImg" jdbcType="VARCHAR" property="rightImg" />
        <result column="behindImg" jdbcType="VARCHAR" property="behindImg" />
        <result column="time1" jdbcType="TIMESTAMP" property="time1" />
        <result column="time2" jdbcType="TIMESTAMP" property="time2" />
        <result column="time3" jdbcType="TIMESTAMP" property="time3" />
        <result column="time4" jdbcType="TIMESTAMP" property="time4" />
        <result column="time5" jdbcType="TIMESTAMP" property="time5" />
        <result column="address1" jdbcType="VARCHAR" property="address1" />
        <result column="address2" jdbcType="VARCHAR" property="address2" />
        <result column="address3" jdbcType="VARCHAR" property="address3" />
        <result column="address4" jdbcType="VARCHAR" property="address4" />
        <result column="address5" jdbcType="VARCHAR" property="address5" />
    </resultMap>
    <select id="selectApplyAndBack" resultMap="queryImg">
        declare
@LoginUserID bigint=#{loginUserID},
@CarApplication_Auto bigint=#{carApplicationAuto}
begin
select
aa.*
from
(
select distinct c.CarApplication_Auto,v.FName appUserN,i.ItemName appTypeN, c.PlanStartDT,
		c.PlanEndDT,
		v2.DepName,
        c.UserAuto,
		c.UserName,
		c.startAddr
		,c.endAddr
		,i2.ItemName areaTypeN
		,c.LicenceMemo
		,cb.CarBase_Auto
		,cb.MakNo
		,i3.ItemName oilName
		,isnull(cse.residueDL,0) residueDL
		,isnull(cse.mileage,0) mileage
		,b.BrandName
		,cn.ClasenName
		,cb.CarColor
		,i4.ItemName bsTypeN
		,i5.ItemName whTypeN1
		,i5.ItemName whTypeN2
<!--		,t1.AppSeq-->
<!--		,t2.RoleID-->
        ,isnull(c.IsGive,0) IsGive
        ,isnull(c.IsGet,0) IsGet
        ,isnull(c.IsBack,0) IsBack
        ,c.startImg,c.endImg,c.leftImg,c.rightImg,c.behindImg
        ,c.time1,c.time2,c.time3,c.time4,c.time5
        ,c.address1,c.address2,c.address3,c.address4,c.address5
        ,c.passAddr1,c.passAddr2,c.passAddr3,c.passAddr4,c.passAddr5
		from CarApplication c
		left join v_Emp v on c.AppUser=v.User_Auto--申请人
        left join v_Emp v2 on c.UserAuto=v2.User_Auto--使用人
		left join ItemCode i on i.Num=c.AppType and i.ItemType=833
		left join CarBase cb on c.Carbase_Auto=cb.CarBase_Auto
		left join ItemCode i2 on i2.Num=c.areaType and i2.ItemType=810
		left join ItemCode i3 on i3.num = cb.oil and i3.ItemType=231 --燃油种类
		left join CarStatusEdit cse on cse.CarBase_Auto = c.Carbase_Auto
		left join Clasen cn on cb.Clasen_Auto=cn.Clasen_Auto
		left join Brand b on cb.Brand_Auto=b.Brand_Auto
		left join ItemCode i4 on i4.num = cb.BSType and i4.ItemType=841 --变速类型
		left join ItemCode i5 on i5.num = cse.WHType and i5.ItemType=826--仓库别
		left join DocSystem.dbo.Employee e on v.UserName=e.Account collate Chinese_PRC_CI_AS
<!--		left join DocSystem.dbo.WorkFlowDoc  t1 on c.CarApplication_Auto=t1.DocPostID  and t1.DocType=10-->
<!--		left join [Portal].[dbo].[Portal_Roles] t2  on t1.RoleID=t2.RoleID-->
		where v.IsOn=1 and v2.IsOn=1 and e.[Status]='任用'
        and (c.UserAuto=@LoginUserID or c.AppUser=@LoginUserID ) --使用人、申请人
	)aa
	where aa.CarApplication_Auto=@CarApplication_Auto
end
    </select>
</mapper>
