<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funtl.myshop.plus.provider.mapper.ItemCodeMapper">
  <resultMap id="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.ItemCode">
    <!--@mbg.generated-->
    <!--@Table ItemCode-->
    <id column="ItemCode_Auto" jdbcType="BIGINT" property="itemCodeAuto" />
    <result column="ItemType" jdbcType="INTEGER" property="itemType" />
    <result column="Num" jdbcType="BIGINT" property="num" />
    <result column="ItemName" jdbcType="VARCHAR" property="itemName" />
    <result column="Memo" jdbcType="VARCHAR" property="memo" />
    <result column="IsActive" jdbcType="INTEGER" property="isActive" />
    <result column="Seq" jdbcType="INTEGER" property="seq" />
    <result column="V1" jdbcType="DECIMAL" property="v1" />
    <result column="V2" jdbcType="DECIMAL" property="v2" />
    <result column="A1" jdbcType="DECIMAL" property="a1" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ItemCode_Auto, ItemType, Num, ItemName, Memo, IsActive, Seq, V1, V2, A1
  </sql>

  <!--根据编号获取类别列表-->
  <resultMap id="queryByItemType" type="com.funtl.myshop.plus.provider.domain.TypeNameList">
    <result column="Num" jdbcType="BIGINT" property="num" />
    <result column="typeName" jdbcType="VARCHAR" property="typeName" />
  </resultMap>
  <select id="selectByItemType" resultMap="queryByItemType">

declare
@type int=#{itemType}
BEGIN
if(@type=111)--客户性质（公司性质）
begin
select num=0,typeName='==请选择=='
union all
select
Num
,typeName=convert(varchar(4),Num)+'.'+ItemName
from
ItemCode
where ItemType=111
end
if(@type=140)--产业类别（资本行业）
begin
select
Num
,typeName=convert(varchar(4),Num)+'.'+ItemName
from
ItemCode
where ItemType=140
end
if(@type=12223)--租车目的
begin
select num=0,typeName='==请选择=='
union all
select
Num
,typeName=convert(varchar(4),Num)+'.'+ItemName
from
ItemCode
where ItemType=12223
end
if(@type=12224)--担保条件
begin
select num=0,typeName='==请选择=='
union all
select
Num
,typeName=convert(varchar(4),Num)+'.'+ItemName
from
ItemCode
where ItemType=12224
end
    if(@type=2030)--获取汇款类别
    begin
    select
    0 as Num,'==请选择=='as typeName
    union all
    select
    Num,ItemName
    from ItemCode where ItemType=2030 and num != 3
    end

    if(@type=132)--获取附件类别
    begin
    select
    0 as Num,'==请选择=='as typeName
    union all
    select
    Num,ItemName
    from ItemCode where ItemType=132 order by typeName
    end
END

  </select>

    <!--公司别下拉选-->
    <resultMap id="queryIncNameList" type="com.funtl.myshop.plus.provider.domain.IncNameList">
        <result column="Inc_Auto" jdbcType="BIGINT" property="incAuto" />
        <result column="FName" jdbcType="VARCHAR" property="incName" />
    </resultMap>
  <select id="selectIncNameList" resultMap="queryIncNameList">
    declare @incName varchar(50)=#{incName}
    begin
    select
    0 as Inc_Auto,'==请选择=='as FName
    union all
    select
    Inc_Auto,FName
    from Inc
    where FName like '%'+@incName+'%'
    end
  </select>

    <!--根据进款公司别序号获取进款账号-->
    <resultMap id="queryAccountNameList" type="com.funtl.myshop.plus.provider.domain.AccountNameList">
        <result column="accountAuto" jdbcType="BIGINT" property="accountAuto" />
        <result column="accountName" jdbcType="VARCHAR" property="accountName" />
    </resultMap>
    <select id="selectAccountNameList" resultMap="queryAccountNameList">
        declare @condition bigint=#{incAuto}
        begin
        select
        0 as accountAuto,'==请选择=='as accountName
        union all
        select Num,ItemName from ItemCode where ItemType=2031 and v1=@condition
        end
    </select>
</mapper>
