<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funtl.myshop.plus.provider.mapper.OutBoundMapper">
  <resultMap id="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.OutBound">
    <!--@mbg.generated-->
    <!--@Table outBound-->
    <id column="outBoundAuto" jdbcType="BIGINT" property="outBoundAuto" />
    <result column="tradeItemAuto" jdbcType="BIGINT" property="tradeItemAuto" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="major" jdbcType="VARCHAR" property="major" />
    <result column="operation" jdbcType="VARCHAR" property="operation" />
    <result column="hostCompanies" jdbcType="VARCHAR" property="hostCompanies" />
    <result column="equipCar" jdbcType="VARCHAR" property="equipCar" />
    <result column="avgTurnover" jdbcType="DECIMAL" property="avgTurnover" />
    <result column="turnover" jdbcType="DECIMAL" property="turnover" />
    <result column="yearRate" jdbcType="VARCHAR" property="yearRate" />
    <result column="rentAimType" jdbcType="INTEGER" property="rentAimType" />
    <result column="rentAim" jdbcType="VARCHAR" property="rentAim" />
    <result column="bankBill" jdbcType="DECIMAL" property="bankBill" />
    <result column="finState" jdbcType="DECIMAL" property="finState" />
    <result column="fundsFlow" jdbcType="DECIMAL" property="fundsFlow" />
    <result column="taxReceipt" jdbcType="DECIMAL" property="taxReceipt" />
    <result column="stockCode" jdbcType="DECIMAL" property="stockCode" />
    <result column="ensureType" jdbcType="INTEGER" property="ensureType" />
    <result column="ensure" jdbcType="VARCHAR" property="ensure" />
    <result column="vista" jdbcType="VARCHAR" property="vista" />
    <result column="develop" jdbcType="VARCHAR" property="develop" />
    <result column="cuser" jdbcType="BIGINT" property="cuser" />
    <result column="cdt" jdbcType="TIMESTAMP" property="cdt" />
    <result column="muser" jdbcType="BIGINT" property="muser" />
    <result column="mdt" jdbcType="TIMESTAMP" property="mdt" />
      <result column="file1" jdbcType="VARCHAR" property="file1" />
      <result column="file2" jdbcType="VARCHAR" property="file2" />
      <result column="file3" jdbcType="VARCHAR" property="file3" />
      <result column="file4" jdbcType="VARCHAR" property="file4" />
      <result column="file5" jdbcType="VARCHAR" property="file5" />
      <result column="otherAim" jdbcType="VARCHAR" property="otherAim" />
      <result column="ensureName" jdbcType="VARCHAR" property="ensureName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    outBoundAuto, tradeItemAuto, status, major, [operation], hostCompanies, equipCar, avgTurnover,
    turnover, yearRate, rentAimType, rentAim, bankBill, finState, fundsFlow, taxReceipt,
    stockCode, ensureType, ensure, vista, develop, cuser, cdt, muser, mdt,file1,file2,file3,file4,file5,
      otherAim,ensureName
  </sql>

  <!--外访客户选择签核人员-->
  <resultMap id="queryByUserAuto" type="com.funtl.myshop.plus.provider.domain.ChooseCheckList">
    <result column="User_Auto" jdbcType="BIGINT" property="userAuto" />
    <result column="DepName" jdbcType="VARCHAR" property="depName" />
    <result column="FName" jdbcType="VARCHAR" property="empName" />
    <result column="TitleName" jdbcType="VARCHAR" property="titleName" />
  </resultMap>
  <select id="selectByUserAuto" resultMap="queryByUserAuto">
    declare
    @userAuto bigint=#{userAuto}--21107
    BEGIN
        declare @UpUnit bigint,@orgAuto bigint
        set @UpUnit=(select UpUnit from v_Emp where User_Auto=@userAuto)
        set @orgAuto=(select Org_Auto from v_Emp where User_Auto=@userAuto)
        begin
        select
        User_Auto=0,DepName='无',FName='无',TitleName='无'
        union all
        select
        a.User_Auto
        ,a.DepName
        ,a.FName
        ,b.TitleName
        from
        v_Emp a
        left join AspNet.dbo.IncTitle b on b.TitleLevel=a.TitleLevel
        where
        a.IsOn=1
        and a.TitleLevel in (30,51,60)--总监、部长、组长
        and (a.Org_Auto=@UpUnit or a.Org_Auto=@orgAuto)
        and a.User_Auto != @userAuto
        end
    END
  </select>

    <!--判断客户是否已添加过外访报告-->
    <select id="selectTradeAuto"  resultMap="BaseResultMap">
        select*from outBound where tradeItemAuto=#{tradeItemAuto}  and (status=1 or status=2)
    </select>

    <!--获取外访报告明细-->
    <resultMap id="queryOutInfo" extends="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.OutInfo">
        <result column="statusName" jdbcType="VARCHAR" property="statusName" />
    </resultMap>
    <select id="selectOutInfo" resultMap="queryOutInfo">
        declare
        @loginAuto bigint=#{loginAuto},
        @tradeItemAuto bigint=#{tradeItemAuto},
        @statusName varchar(10)=#{statusName}
        begin
        select
        aa.*
        from
        (
        select
        a.outBoundAuto, a.tradeItemAuto, a.major
        ,statusName=case when a.status=1 then '未审核'
        when a.status=2 then '核准'
        else '驳回'end
        ,a.[operation], a.hostCompanies, a.equipCar, a.avgTurnover
        ,a.turnover, a.yearRate, a.rentAimType, a.rentAim, a.bankBill, a.finState
        ,a.fundsFlow, a.taxReceipt,a.stockCode, a.ensureType, a.ensure, a.vista
        ,a.develop,a.file1,a.file2,a.file3,a.file4,a.file5,a.otherAim,a.ensureName
        from
        outBound a
        left join outCheck b on b.outBoundAuto=a.outBoundAuto
        where
        a.tradeItemAuto=@tradeItemAuto
        and
        (b.CheckAuto = @loginAuto or b.cuser=@loginAuto)
        )aa
        where aa.statusName=@statusName
        end
    </select>
</mapper>
