<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funtl.myshop.plus.provider.mapper.BrandMapper">
  <resultMap id="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.Brand">
    <!--@mbg.generated-->
    <!--@Table Brand-->
    <id column="Brand_Auto" jdbcType="BIGINT" property="brandAuto" />
    <result column="BrandName" jdbcType="VARCHAR" property="brandName" />
    <result column="CDT" jdbcType="TIMESTAMP" property="cDT" />
    <result column="CUser" jdbcType="BIGINT" property="cUser" />
    <result column="MDT" jdbcType="TIMESTAMP" property="mDT" />
    <result column="MUser" jdbcType="BIGINT" property="mUser" />
    <result column="FactoryBrand_Auto" jdbcType="INTEGER" property="factoryBrandAuto" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    Brand_Auto, BrandName, CDT, CUser, MDT, MUser, FactoryBrand_Auto
  </sql>
  <resultMap id="queryBrandName" extends="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.BrandNameSelect">
    <result column="Brand_Auto" jdbcType="BIGINT" property="brandAuto" />
    <result column="BrandName" jdbcType="VARCHAR" property="brandName" />
  </resultMap>
  <select id="selectBrandName" resultMap="queryBrandName">
    select
    Brand_Auto,BrandName
    from
    Brand
    where
    1=1
    <if test="factoryBrandAuto != null and factoryBrandAuto != ''">
      AND FactoryBrand_Auto=#{factoryBrandAuto}
    </if>
    Order by BrandName collate chinese_PRC_CS_AS_KS_WS asc
  </select>
  <resultMap id="queryClasenName" extends="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.ClasenNameSelect">
    <result column="Clasen_Auto" jdbcType="BIGINT" property="clasenAuto" />
    <result column="ClasenName" jdbcType="VARCHAR" property="clasenName" />
  </resultMap>
  <select id="selectClasenName" resultMap="queryClasenName">
    Select
    b.Clasen_Auto,b.ClasenName
    from Brand a
    Inner Join Clasen b on a.Brand_Auto = b.Brand_Auto
    Where
    1=1
    <if test="brandAuto != null and brandAuto != ''">
      AND b.Brand_Auto = #{brandAuto}
    </if>
    Order by b.Brand_Auto,b.Clasen_Auto
  </select>
</mapper>
