<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funtl.myshop.plus.provider.mapper.CarApplicationMapper">
  <resultMap id="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.CarApplication">
    <!--@mbg.generated-->
    <!--@Table CarApplication-->
    <id column="CarApplication_Auto" jdbcType="BIGINT" property="carApplicationAuto" />
    <result column="AppUser" jdbcType="INTEGER" property="appUser" />
    <result column="AppDT" jdbcType="TIMESTAMP" property="appDT" />
    <result column="AppType" jdbcType="INTEGER" property="appType" />
    <result column="FeeType" jdbcType="INTEGER" property="feeType" />
    <result column="FeeAmt" jdbcType="DECIMAL" property="feeAmt" />
    <result column="WHType" jdbcType="INTEGER" property="wHType" />
    <result column="PlanStartDT" jdbcType="TIMESTAMP" property="planStartDT" />
    <result column="PlanEndDT" jdbcType="TIMESTAMP" property="planEndDT" />
    <result column="Fname" jdbcType="VARCHAR" property="fName" />
    <result column="UserName" jdbcType="VARCHAR" property="username" />
    <result column="IsDriver" jdbcType="INTEGER" property="isDriver" />
    <result column="DriverUser_Auto" jdbcType="VARCHAR" property="driverUserAuto" />
    <result column="AppCarbase_Auto" jdbcType="BIGINT" property="appCarbaseAuto" />
    <result column="SpecialMemo" jdbcType="VARCHAR" property="specialMemo" />
    <result column="LicenceMemo" jdbcType="VARCHAR" property="licenceMemo" />
    <result column="Carbase_Auto" jdbcType="BIGINT" property="carBaseAuto" />
    <result column="StartDT" jdbcType="TIMESTAMP" property="startDT" />
    <result column="OilGaugeOut" jdbcType="INTEGER" property="oilGaugeOut" />
    <result column="MileageOut" jdbcType="DECIMAL" property="mileageOut" />
    <result column="OilCardNum" jdbcType="VARCHAR" property="oilCardNum" />
    <result column="EndDT" jdbcType="TIMESTAMP" property="endDT" />
    <result column="OilGaugeIn" jdbcType="INTEGER" property="oilGaugeIn" />
    <result column="MileageIn" jdbcType="DECIMAL" property="mileageIn" />
    <result column="Memo" jdbcType="VARCHAR" property="memo" />
    <result column="Status" jdbcType="INTEGER" property="status" />
    <result column="CUser" jdbcType="INTEGER" property="cUser" />
    <result column="CDT" jdbcType="TIMESTAMP" property="cdt" />
    <result column="MUser" jdbcType="INTEGER" property="mUser" />
    <result column="MDT" jdbcType="TIMESTAMP" property="mdt" />
    <result column="OilKM" jdbcType="INTEGER" property="oilKM" />
    <result column="OilKG" jdbcType="DECIMAL" property="oilKG" />
    <result column="RoadFee" jdbcType="DECIMAL" property="roadFee" />
    <result column="ParkingFee" jdbcType="DECIMAL" property="parkingFee" />
    <result column="IsSave" jdbcType="INTEGER" property="isSave" />
      <result column="IsHoliday" jdbcType="INTEGER" property="isHoliday" />
      <result column="useCarTime" jdbcType="DECIMAL" property="useCarTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    CarApplication_Auto, AppUser, AppDT, AppType, FeeType, FeeAmt, WHType, PlanStartDT,
    PlanEndDT, Fname, UserName, IsDriver, DriverUser_Auto, AppCarbase_Auto, SpecialMemo,
    LicenceMemo, Carbase_Auto, StartDT, OilGaugeOut, MileageOut, OilCardNum, EndDT, OilGaugeIn,
    MileageIn, Memo, [Status], CUser, CDT, MUser, MDT, OilKM, OilKG, RoadFee, ParkingFee,
    IsSave,IsHoliday,useCarTime
  </sql>
  <!--用车申请：申请列表数据-->
  <resultMap id="queryUserCar" extends="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.UserCarList">
      <result column="MakNo" jdbcType="VARCHAR" property="makNo" />
      <result column="appUserN" jdbcType="VARCHAR" property="appUserN" />
      <result column="appTypeN" jdbcType="VARCHAR" property="appTypeN" />
      <result column="statusN" jdbcType="VARCHAR" property="statusN" />
  </resultMap>
  <select id="selectUserCar" resultMap="queryUserCar">
        select c.CarApplication_Auto,v.FName appUserN,i.ItemName appTypeN, c.PlanStartDT,
		c.PlanEndDT,
		c.CDT,
		c.UserName,cb.MakNo,
        statusN= case c.Status when 10 then '送件中'
		when 5 then '驳回'
		when 20 then '核准'
		when 30 then '出车'
		when 40 then '还车'
		when -1 then '已删除' end
		from CarApplication c
		left join v_Emp v on c.AppUser=v.User_Auto
		left join ItemCode i on i.Num=c.AppType and i.ItemType=833
		left join CarBase cb on c.Carbase_Auto=cb.CarBase_Auto
		where
		1 = 1
		<if test="param.carApplicationAuto != null and param.carApplicationAuto != '' ">
          AND c.CarApplication_Auto = #{param.carApplicationAuto}
        </if>
		<if test="param.username != null and param.username != ''">
          and  c.UserName = #{param.username}
        </if>
		<if test="param.makNo != null and param.makNo != ''">
          and  cb.MakNo = #{param.makNo}
        </if>
		<if test="param.planStartDT != null">
          and  c.PlanStartDT = #{param.planStartDT}
        </if>
		<if test="param.planEndDT != null">
          and  c.PlanEndDT = #{param.planEndDT}
        </if>
		<if test="param.status != null and param.status != ''">
          and  c.Status = #{param.status}
        </if>

  </select>

    <resultMap id="queryUseCarDoc" type="com.funtl.myshop.plus.provider.domain.UseCarDoc">
<!--        <result column="DocPostID" jdbcType="BIGINT" property="carApplicationAuto" />-->
        <result column="RoleName" jdbcType="VARCHAR" property="roleName" />
        <result column="Memo" jdbcType="VARCHAR" property="memo" />
        <result column="checkName" jdbcType="VARCHAR" property="checkName" />
        <result column="MDT" jdbcType="TIMESTAMP" property="mdt" />
        <!--<result column="AppSeq" jdbcType="INTEGER" property="appSeq" />
        <result column="statusN" jdbcType="VARCHAR" property="statusN" />
        <result column="CDT" jdbcType="TIMESTAMP" property="cdt" />
        <result column="appUserN" jdbcType="VARCHAR" property="appUserN" />-->
    </resultMap>
    <!--用车申请：签核明细数据-->
    <select id="selectUseCarDoc" resultMap="queryUseCarDoc">
        declare
        @DocPostID bigint=#{carApplicationAuto}
begin
		select t1.DocPostID,t2.RoleName,t1.AppSeq,t1.Memo,
		checkName=case t1.IsAgent when 0 then t3.FName when 1 then t3.FName+'(代)' end
		,statusN = case t1.[Status] when 20 then '核准'when 5 then '驳回' when 0 then '' when 25 then '驳回' end,
		t1.MDT,t1.CDT,t4.FName appUserN
		from  CarApplication c
		left join DocSystem.dbo.WorkFlowDoc  t1 on c.CarApplication_Auto=t1.DocPostID  and t1.DocType=10
		left join [Portal].[dbo].[Portal_Roles] t2  on t1.RoleID=t2.RoleID
		left join v_Emp t3 on t3.User_Auto=t1.MUser
		left join v_Emp t4 on t4.User_Auto=c.AppUser
		where c.CarApplication_Auto = @DocPostID
		order by t1.CDT ,t1.AppSeq
end
    </select>

    <resultMap id="queryByTime" type="com.funtl.myshop.plus.provider.domain.Holiday">
        <result column="num" jdbcType="INTEGER" property="num" />
        <result column="useCarM" jdbcType="INTEGER" property="useCarM" />
    </resultMap>
    <select id="selectByTime" resultMap="queryByTime">
        select num=count(*),,useCarM=DATEDIFF(minute,#{startTime},#{endTime}) from DocSystem.dbo.Holiday where HolidayDate between #{startTime} and #{endTime}
    </select>
</mapper>
