<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funtl.myshop.plus.provider.mapper.CarApplicationMapper">
  <resultMap id="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.CarApplication">
    <!--@mbg.generated-->
    <!--@Table CarApplication-->
    <id column="CarApplication_Auto" jdbcType="BIGINT" property="carApplicationAuto" />
    <result column="AppUser" jdbcType="INTEGER" property="appUser" />
    <result column="AppDT" jdbcType="TIMESTAMP" property="appDT" />
    <result column="AppType" jdbcType="INTEGER" property="appType" />
    <result column="FeeType" jdbcType="INTEGER" property="feeType" />
    <result column="FeeAmt" jdbcType="DECIMAL" property="feeAmt" />
    <result column="WHType" jdbcType="INTEGER" property="wHType" />
    <result column="PlanStartDT" jdbcType="TIMESTAMP" property="planStartDT" />
    <result column="PlanEndDT" jdbcType="TIMESTAMP" property="planEndDT" />
    <result column="Fname" jdbcType="VARCHAR" property="fName" />
    <result column="UserName" jdbcType="VARCHAR" property="username" />
    <result column="IsDriver" jdbcType="INTEGER" property="isDriver" />
    <result column="DriverUser_Auto" jdbcType="VARCHAR" property="driverUserAuto" />
    <result column="AppCarbase_Auto" jdbcType="BIGINT" property="appCarbaseAuto" />
    <result column="SpecialMemo" jdbcType="VARCHAR" property="specialMemo" />
    <result column="LicenceMemo" jdbcType="VARCHAR" property="licenceMemo" />
    <result column="Carbase_Auto" jdbcType="BIGINT" property="carBaseAuto" />
    <result column="StartDT" jdbcType="TIMESTAMP" property="startDT" />
    <result column="OilGaugeOut" jdbcType="INTEGER" property="oilGaugeOut" />
    <result column="MileageOut" jdbcType="DECIMAL" property="mileageOut" />
    <result column="OilCardNum" jdbcType="VARCHAR" property="oilCardNum" />
    <result column="EndDT" jdbcType="TIMESTAMP" property="endDT" />
    <result column="OilGaugeIn" jdbcType="INTEGER" property="oilGaugeIn" />
    <result column="MileageIn" jdbcType="DECIMAL" property="mileageIn" />
    <result column="Memo" jdbcType="VARCHAR" property="memo" />
    <result column="Status" jdbcType="INTEGER" property="status" />
    <result column="CUser" jdbcType="INTEGER" property="cUser" />
    <result column="CDT" jdbcType="TIMESTAMP" property="cdt" />
    <result column="MUser" jdbcType="INTEGER" property="mUser" />
    <result column="MDT" jdbcType="TIMESTAMP" property="mdt" />
    <result column="OilKM" jdbcType="INTEGER" property="oilKM" />
    <result column="OilKG" jdbcType="DECIMAL" property="oilKG" />
    <result column="RoadFee" jdbcType="DECIMAL" property="roadFee" />
    <result column="ParkingFee" jdbcType="DECIMAL" property="parkingFee" />
    <result column="IsSave" jdbcType="INTEGER" property="isSave" />
      <result column="IsHoliday" jdbcType="INTEGER" property="isHoliday" />
      <result column="useCarTime" jdbcType="DECIMAL" property="useCarTime" />
      <result column="startAddr" jdbcType="VARCHAR" property="startAddr" />
      <result column="startAddrLat" jdbcType="VARCHAR" property="startAddrLat" />
      <result column="startAddrLng" jdbcType="VARCHAR" property="startAddrLng" />
      <result column="endAddr" jdbcType="VARCHAR" property="endAddr" />
      <result column="endAddrLat" jdbcType="VARCHAR" property="endAddrLat" />
      <result column="endAddrLng" jdbcType="VARCHAR" property="endAddrLng" />
      <result column="distance" jdbcType="DECIMAL" property="distance" />
      <result column="areaType" jdbcType="INTEGER" property="areaType" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    CarApplication_Auto, AppUser, AppDT, AppType, FeeType, FeeAmt, WHType, PlanStartDT,
    PlanEndDT, Fname, UserName, IsDriver, DriverUser_Auto, AppCarbase_Auto, SpecialMemo,
    LicenceMemo, Carbase_Auto, StartDT, OilGaugeOut, MileageOut, OilCardNum, EndDT, OilGaugeIn,
    MileageIn, Memo, [Status], CUser, CDT, MUser, MDT, OilKM, OilKG, RoadFee, ParkingFee,
    IsSave,IsHoliday,useCarTime,startAddr,startAddrLat,startAddrLng,endAddr,endAddrLat,
      endAddrLng,distance,areaType
  </sql>
  <!--用车申请：申请列表数据-->
  <resultMap id="queryUserCar" extends="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.UserCarList">
      <result column="MakNo" jdbcType="VARCHAR" property="makNo" />
      <result column="appUserN" jdbcType="VARCHAR" property="appUserN" />
      <result column="appTypeN" jdbcType="VARCHAR" property="appTypeN" />
      <result column="statusN" jdbcType="VARCHAR" property="statusN" />
      <result column="DepName" jdbcType="VARCHAR" property="orgName" />
  </resultMap>
  <select id="selectUserCar" resultMap="queryUserCar">
        select c.CarApplication_Auto,v.FName appUserN,i.ItemName appTypeN, c.PlanStartDT,
		c.PlanEndDT,
		c.CDT,
        v.DepName,
		c.UserName,cb.MakNo,
        statusN= case c.Status when 10 then '送件中'
		when 5 then '驳回'
		when 20 then '核准'
		when 30 then '出车'
		when 40 then '还车'
		when -1 then '已删除' end
		from CarApplication c
		left join v_Emp v on c.AppUser=v.User_Auto
		left join ItemCode i on i.Num=c.AppType and i.ItemType=833
		left join CarBase cb on c.Carbase_Auto=cb.CarBase_Auto
		where
		1 = 1
		<if test="param.carApplicationAuto != null and param.carApplicationAuto != '' ">
          AND c.CarApplication_Auto = #{param.carApplicationAuto}
        </if>
		<if test="param.username != null and param.username != ''">
          and  c.UserName = #{param.username}
        </if>
		<if test="param.makNo != null and param.makNo != ''">
          and  cb.MakNo = #{param.makNo}
        </if>
		<if test="param.planStartDT != null and param.planStartDT != ''">
          and  c.PlanStartDT = #{param.planStartDT}
        </if>
		<if test="param.planEndDT != null and param.planEndDT != '' ">
          and  c.PlanEndDT = #{param.planEndDT}
        </if>
		<if test="param.status != null and param.status != ''">
          and  c.Status = #{param.status}
        </if>

  </select>

    <!--用车申请：签核明细数据-->
    <resultMap id="queryUseCarDoc" type="com.funtl.myshop.plus.provider.domain.UseCarDoc">
        <result column="DocPostID" jdbcType="BIGINT" property="carApplicationAuto" />
        <result column="RoleID" jdbcType="BIGINT" property="roleId" />
        <result column="RoleName" jdbcType="VARCHAR" property="roleName" />
        <result column="Memo" jdbcType="VARCHAR" property="memo" />
        <result column="checkName" jdbcType="VARCHAR" property="checkName" />
        <result column="MDT" jdbcType="TIMESTAMP" property="mdt" />
        <result column="AppSeq" jdbcType="INTEGER" property="appSeq" />
        <result column="statusN" jdbcType="VARCHAR" property="statusN" />
        <result column="CDT" jdbcType="TIMESTAMP" property="cdt" />
        <result column="appUserN" jdbcType="VARCHAR" property="appUserN" />
    </resultMap>
    <select id="selectUseCarDoc" resultMap="queryUseCarDoc">
        declare
        @DocPostID bigint=#{carApplicationAuto}
begin
		select t1.DocPostID,t2.RoleID,t2.RoleName,t1.AppSeq,t1.Memo,
		checkName=case t1.IsAgent when 0 then t3.FName when 1 then t3.FName+'(代)' end
		,statusN = case t1.[Status] when 20 then '核准'when 5 then '驳回' when 0 then '' when 25 then '驳回' end,
		t1.MDT,t1.CDT,t4.FName appUserN
		from  CarApplication c
		left join DocSystem.dbo.WorkFlowDoc  t1 on c.CarApplication_Auto=t1.DocPostID  and t1.DocType=10
		left join [Portal].[dbo].[Portal_Roles] t2  on t1.RoleID=t2.RoleID
		left join v_Emp t3 on t3.User_Auto=t1.MUser
		left join v_Emp t4 on t4.User_Auto=c.AppUser
		where c.CarApplication_Auto = @DocPostID
		order by t1.CDT ,t1.AppSeq
end
    </select>

    <!--用车申请：用车时间-->
    <resultMap id="queryByTime" type="com.funtl.myshop.plus.provider.domain.Holiday">
        <result column="num" jdbcType="INTEGER" property="num" />
        <result column="useCarTime" jdbcType="DECIMAL" property="useCarTime" />
    </resultMap>
    <select id="selectByTime" resultMap="queryByTime">
        select
        num=count(*),
        useCarTime=cast(DATEDIFF(minute,#{startTime},#{endTime})*1./60 as decimal(18,1))
        from DocSystem.dbo.Holiday where HolidayDate between #{startTime} and #{endTime}
    </select>

    <!--用车申请：送件-->
    <insert id="applyInsert">
        declare
        @AppUser bigint=#{param.appUser},--申请人id
        @AppType int=#{param.appType},--用车类别
        @WHType int=#{param.whType},--仓库别
        @PlanStartDT datetime=#{param.planStartDT},
        @PlanEndDT datetime=#{param.planEndDT},
        @Fname nvarchar(50)=#{param.appUserN},--申请人
        @UserName nvarchar(50)=#{param.username},--使用人
        @userAuto bigint=#{param.userAuto},--使用人序号
        @orgName nvarchar(50)=#{param.orgName},--使用人部门
        @orgAuto bigint=#{param.orgAuto},--使用人部门序号
        @IsDriver int=#{param.isDriver},
        @DriverUser_Auto int=0,
        @LicenceMemo nvarchar(200)=#{param.licenceMemo},
        @Carbase_Auto bigint=#{param.carBaseAuto},--车籍序号
        @Status int=10,--送件
        @CUser int=#{param.appUser}, --申请人id,及创建人id
        @startAddr varchar(50)=#{param.startAddr},
        @startAddrLat varchar(50)=#{param.startAddrLat},
        @startAddrLng varchar(50)=#{param.startAddrLng},
        @endAddr varchar(50)=#{param.endAddr},
        @endAddrLat varchar(50)=#{param.endAddrLat},
        @endAddrLng varchar(50)=#{param.endAddrLng},
        @distance decimal(18,3)=#{param.distance},
        @isHoliday int=#{param.isHoliday},
        @useCarTime decimal(18,1)=#{param.useCarTime},
        @areaType int =#{param.areaType}

        BEGIN
        SET NOCOUNT ON;
        Declare @WorkFlow_Auto bigint
        Declare @Title nvarchar(10)
        Declare @UpUnit Nvarchar(20)
        Declare @UnitId NVarChar(6)
        Declare @OldUnitId NVarChar(6)
        Declare @ChiefId varchar(2)
        Declare @SerialNo bigint
        Declare @sType int
        Declare @sChiefFlag int
        declare @EmpId nvarchar(7)
        declare @IsSalesDep int
        declare @NAme nvarchar(20)
        declare @CNum int --判断实习组长是否能签核

        begin
        select @IsSalesDep=IsSalesDep,@NAme=FName from v_Emp where User_Auto=@AppUser

        select @EmpId=EmpId from DocSystem.dbo.v_User where UserID= @AppUser

        Select top 1 @UnitId=a.UnitId,
        @OldUnitId=a.UnitId,@UpUnit=b.UpUnit ,@ChiefId=ChiefId,@Title=Title
        from dbo.Unit a (NoLock)
        Inner Join dbo.Promoter b (NoLock) on a.UnitId = b.UnitId
        Where EmpId = @EmpId



        if(@UpUnit='华南营业二部三课（中山/佛山）' or @UpUnit='华东营业二部三课（南京）' or (@UpUnit='华东营业三部' and @UnitId='11676') or @UnitId='11293')  --11676 临沂课
        begin
        set @sChiefFlag = 1
        end
        else if(@UnitId='11500' and @ChiefId=1)--联办  组长
        begin
        set @sChiefFlag =0
        end
        else
        begin
        --组长
        set @sChiefFlag = Case When @OldUnitId in (Select top 1 Matter from DocSystem.dbo.IdCode (NoLock) Where cboKind = N'代理部门') Then 1
        Else IsNull((Select top 1 Cast(Max(a.ChiefId) as int)
        from DocSystem.dbo.Promoter  a (NoLock) Inner Join DocSystem.dbo.Unit b (NoLock) on a.UnitId = b.UnitId
        Where b.UnitId = @OldUnitId And a.ChiefId = '1' And a.Title != N'离职'),0) End

        end

        declare @Zuzhang bigint
        select @Zuzhang=User_Auto from v_Emp where DepCode=(select DepCode from v_Emp where User_Auto=@CUser) and IsOn=1 and TitleLevel=60

        select @CNum=count(a.RoleID) from Portal.dbo.Portal_Roles a where   a.RoleID  in (select b.RoleID from Portal.dbo.Portal_UserRoles b  where b.UserID=@Zuzhang) and      (a.RoleName like'%组长%' or a.RoleName like'%組長%' )
        if @CNum != 0 or @sChiefFlag=1
        begin
        set @sChiefFlag=1
        end
        else
        begin
        set @sChiefFlag=0
        end

        set @WorkFlow_Auto =(Select top 1 KindId from DocSystem.dbo.IdCode a  (NoLock)
        Inner Join DocSystem.dbo.Unit b on a.Matter = b.UnitName
        Where cboKind = N'请假签核'
        And UnitId = @UnitId)
        If @WorkFlow_Auto Is Null
        Begin
        set @WorkFlow_Auto =(Select top 1 KindId from DocSystem.dbo.IdCode a  (NoLock)
        Inner Join DocSystem.dbo.Unit b on a.Matter = b.UnitName
        Where cboKind = N'请假签核'
        And UnitName = @UpUnit)
        End

        If IsNull(@WorkFlow_Auto,0) = 0 or IsNull((Select WorkFlow_Auto from DocSystem.dbo.WorkFlow (NoLock) Where WorkFlow_Auto = @WorkFlow_Auto),0) = 0
        Begin
        RAISERROR (N'查无签核流程设定!请联系系统管理员!',16,1)
        End
        Else
        Begin
        declare @IsSave int
        if @Carbase_Auto > 0 and exists (select * from CarApplication where Carbase_Auto=@Carbase_Auto and Status=30 and IsSave=0)
        set @IsSave=1
        else
        set @IsSave=0

        if(@AppType != 2)--非主管用车
        begin
        Insert Into CarApplication(AppUser,AppDT,AppType,FeeType,WHType,PlanStartDT,PlanEndDT,Fname,
        UserName,IsDriver,DriverUser_Auto,LicenceMemo,Carbase_Auto,[Status],CUser,CDT,IsSave,
        startAddr,startAddrLat,startAddrLng,endAddr,endAddrLat,endAddrLng,distance,IsHoliday,
        useCarTime,areaType,UserAuto,orgAuto,orgName)
        Values(@AppUser,getdate(),@AppType,1,@WHType,@PlanStartDT,@PlanEndDT,@Fname,@UserName,@IsDriver,@DriverUser_Auto,
        @LicenceMemo,@Carbase_Auto,@Status,@CUser,getdate(),@IsSave,
        @startAddr,@startAddrLat,@startAddrLng,@endAddr,@endAddrLat,@endAddrLng,@distance,@IsHoliday,@useCarTime,@areaType,
        @UserAuto,@orgAuto,@orgName)


        declare @CarApplication_Auto bigint
        select @CarApplication_Auto=MAX(CarApplication_Auto) from CarApplication where CUser=@CUser

        if(@EmpId='17075' or @EmpId='17160')--时长征   一般出车 王春阳审核  长沙张文翔 马骁审核    主任级
        begin
        set @sType =dbo.f_GetOutcarFlowType(@ChiefId,@AppType,@sChiefFlag,1,@PlanStartDT,@PlanEndDT,@IsSalesDep)
        end
        else
        begin
        set @sType =dbo.f_GetOutcarFlowType(@ChiefId,@AppType,@sChiefFlag,DocSystem.dbo.f_GetHasChiefd2(@empid),@PlanStartDT,@PlanEndDT,@IsSalesDep)
        --下面一句是正式库的
        --set @sType =dbo.f_GetOutcarFlowType(@ChiefId,@AppType,@sChiefFlag,DocSystem.dbo.f_GetHasChiefd2_2(@empid),@PlanStartDT,@PlanEndDT,@IsSalesDep)

        end


        Exec s_OutcarApplyFlow @WorkFlow_Auto,@CarApplication_Auto,@EmpId,0,@CUser,@sType,0


        ----外出签核核准的   申请出车自动核准到出车状态
        if(@IsSalesDep=1 and @AppType=1)
        begin
        declare @VisitID bigint,@CheckUser int
        select @VisitID=VisitID,@CheckUser=MUser from VisitPlan where CUser=@CUser and (datediff(d,getdate(),VstDate)=datediff(d,getdate(),getdate())) and [Status]=20

        update DocSystem.dbo.WorkFlowDoc
        set [Status]=20,MDT=GETDATE(),MUser=@CheckUser,Memo='ok',IsAgent=0
        where DocPostID=@CarApplication_Auto  and DocType=10   and status=0

        update CarApplication
        set [Status]=20,
        StartDT=getdate(),
        MUser=@CheckUser,
        MDT=getdate()
        where CarApplication_Auto=@CarApplication_Auto
        end
        end
        else   --主管用车
        begin
        Insert Into CarApplication(AppUser,AppDT,AppType,FeeType,WHType,PlanStartDT,PlanEndDT,Fname,
        UserName,IsDriver,DriverUser_Auto,LicenceMemo,Carbase_Auto,[Status],CUser,CDT,IsSave,
        startAddr,startAddrLat,startAddrLng,endAddr,endAddrLat,endAddrLng,distance,IsHoliday,
        useCarTime,areaType,UserAuto,orgAuto,orgName)
        Values(@AppUser,getdate(),@AppType,1,@WHType,@PlanStartDT,@PlanEndDT,@Fname,@UserName,@IsDriver,@DriverUser_Auto,
        @LicenceMemo,@Carbase_Auto,20,@CUser,getdate(),@IsSave,
        @startAddr,@startAddrLat,@startAddrLng,@endAddr,@endAddrLat,@endAddrLng,@distance,@IsHoliday,@useCarTime,@areaType,
        @UserAuto,@orgAuto,@orgName)
        end
        End
        end

        END
    </insert>

    <!--用车审核：获取审核数据 -->
    <resultMap id="queryCheckList" extends="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.CheckList">
        <result column="MakNo" jdbcType="VARCHAR" property="makNo" />
        <result column="appUserN" jdbcType="VARCHAR" property="appUserN" />
        <result column="appTypeN" jdbcType="VARCHAR" property="appTypeN" />
        <result column="StatusN" jdbcType="VARCHAR" property="statusN" />
        <result column="DepName" jdbcType="VARCHAR" property="orgName" />
    </resultMap>
    <select id="selectCheckList" resultMap="queryCheckList">
        declare
@UserAuto bigint = #{param.loginAuto}
begin
select
aa.*
from
(
select c.CarApplication_Auto,v.FName appUserN,i.ItemName appTypeN, c.PlanStartDT,
		c.PlanEndDT,
		c.CDT,
		v.DepName,
		c.UserName,cb.MakNo,
		StatusN= case c.Status when 10 then '送件中'
		when 5 then '驳回'
		when 20 then '核准'
		when 30 then '出车'
		when 40 then '还车'
		when -1 then '已删除' end
		from CarApplication c
		left join DocSystem.dbo.WorkFlowDoc  t1 on c.CarApplication_Auto=t1.DocPostID  and t1.DocType=10
		left join [Portal].[dbo].[Portal_Roles] t2  on t1.RoleID=t2.RoleID
		left join v_Emp v on c.AppUser=v.User_Auto
		left join ItemCode i on i.Num=c.AppType and i.ItemType=833
		left join CarBase cb on c.Carbase_Auto=cb.CarBase_Auto
		where t2.RoleID in (
		select distinct
    c.Roles_Auto
    from
    AspNet.dbo.aspnet_Users a
    join AspNet.dbo.aspnet_UsersInRoles b  on a.UserId=b.UserId
    join AspNet.dbo.aspnet_Roles c  on b.RoleId=c.RoleId
    where
    a.ApplicationId='73663109-dda2-4c2d-8311-337946b5c373'
    and a.User_Auto= @UserAuto
		)
		)aa
		where
        1 = 1
        <if test="param.carApplicationAuto != null and param.carApplicationAuto != ''">
            AND aa.CarApplication_Auto=#{param.carApplicationAuto}
        </if>
        <if test="param.username != null and param.username != ''">
            AND aa.UserName=#{param.username}
        </if>
        <if test="param.appUserN != null and param.appUserN != ''">
            AND aa.appUserN=#{param.appUserN}
        </if>
        <if test="param.makNo != null and param.makNo != ''">
            AND  aa.MakNo = #{param.makNo}
        </if>
        <if test="param.planStartDT != null and param.planStartDT != ''">
            AND  aa.PlanStartDT = #{param.planStartDT}
        </if>
        <if test="param.planEndDT != null and param.planEndDT != '' ">
            AND  aa.PlanEndDT = #{param.planEndDT}
        </if>
        <if test="param.statusN != null and param.statusN != ''">
            AND aa.StatusN=#{param.statusN}
        </if>
		order by aa.CarApplication_Auto desc
        end
    </select>

    <!--用车审核：选取审核明细-->
    <resultMap id="queryCheckOne" extends="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.CheckOne">
        <result column="MakNo" jdbcType="VARCHAR" property="makNo" />
        <result column="appUserN" jdbcType="VARCHAR" property="appUserN" />
        <result column="appTypeN" jdbcType="VARCHAR" property="appTypeN" />
        <result column="DepName" jdbcType="VARCHAR" property="orgName" />
        <result column="Carbase_Auto" jdbcType="BIGINT" property="carBaseAuto" />
        <result column="MakNo" jdbcType="VARCHAR" property="makNo" />
        <result column="oilName" jdbcType="VARCHAR" property="oilName" />
        <result column="residueDL" jdbcType="DECIMAL" property="residueDL" />
        <result column="mileage" jdbcType="DECIMAL" property="mileage" />
        <result column="BrandName" jdbcType="VARCHAR" property="brandName" />
        <result column="ClasenName" jdbcType="VARCHAR" property="clasenName" />
        <result column="CarColor" jdbcType="VARCHAR" property="carColor" />
        <result column="bsTypeN" jdbcType="VARCHAR" property="bsTypeN" />
        <result column="whTypeN1" jdbcType="VARCHAR" property="whTypeN1" />
        <result column="whTypeN2" jdbcType="VARCHAR" property="whTypeN2" />
        <result column="AppSeq" jdbcType="INTEGER" property="appSeq" />
        <result column="RoleID" jdbcType="BIGINT" property="roleId" />
    </resultMap>
    <select id="selectCheckOne" resultMap="queryCheckOne">
        select c.CarApplication_Auto,v.FName appUserN,i.ItemName appTypeN, c.PlanStartDT,
		c.PlanEndDT,
		v.DepName,
		c.UserName,
		c.startAddr
		,c.endAddr
		,i2.ItemName areaTypeN
		,c.LicenceMemo
		,cb.CarBase_Auto
		,cb.MakNo
		,i3.ItemName oilName
		,isnull(cse.residueDL,0) residueDL
		,isnull(cse.mileage,0) mileage
		,b.BrandName
		,cn.ClasenName
		,cb.CarColor
		,i4.ItemName bsTypeN
		,i5.ItemName whTypeN1
		,i5.ItemName whTypeN2
        ,t1.AppSeq
        ,t2.RoleID
		from CarApplication c
		left join v_Emp v on c.AppUser=v.User_Auto
		left join ItemCode i on i.Num=c.AppType and i.ItemType=833
		left join CarBase cb on c.Carbase_Auto=cb.CarBase_Auto
		left join ItemCode i2 on i2.Num=c.areaType and i2.ItemType=810
		left join ItemCode i3 on i3.num = cb.oil and i3.ItemType=231 --燃油种类
		left join CarStatusEdit cse on cse.CarBase_Auto = c.Carbase_Auto
		left join Clasen cn on cb.Clasen_Auto=cn.Clasen_Auto
		left join Brand b on cb.Brand_Auto=b.Brand_Auto
		left join ItemCode i4 on i4.num = cb.BSType and i4.ItemType=841 --变速类型
		left join ItemCode i5 on i5.num = cse.WHType and i5.ItemType=826--仓库别
        left join DocSystem.dbo.WorkFlowDoc  t1 on c.CarApplication_Auto=t1.DocPostID  and t1.DocType=10
        left join [Portal].[dbo].[Portal_Roles] t2  on t1.RoleID=t2.RoleID
		where c.CarApplication_Auto=#{carApplicationAuto}
    </select>

    <!--用车审核：核准、驳回-->
    <insert id="useCarCheckInsert">
        declare
@UserId bigint=#{param.loginUserID},
@CarApplication_Auto bigint=#{param.carApplicationAuto},
@AppSeq int=#{param.appSeq},--等级
@AppStatus int=#{param.appStatus},--5驳回 20核准
@DocType int=10,
@RoleID int=#{param.roleId},
@Memo varchar(50)=#{param.memo}
BEGIN
	if(@AppStatus=5)--出车申请驳回--
	begin
		update DocSystem.dbo.WorkFlowDoc
		set InActiveList=-1
		where DocPostID=@CarApplication_Auto and DocType=@DocType

		update DocSystem.dbo.WorkFlowDoc
		set [Status]=5,MDT=GETDATE(),MUser=@UserId,Memo=@Memo,IsAgent=0
		where DocPostID=@CarApplication_Auto and AppSeq=@AppSeq and DocType=@DocType  and status=0

		update CarApplication
		set [Status]=@AppStatus,
		MUser=@UserId,
		MDT=getdate()
		where CarApplication_Auto=@CarApplication_Auto

		delete DocSystem.dbo.WorkFlowDoc where DocPostID=@CarApplication_Auto and Status=0 and DocType=@DocType


	end
	if(@AppStatus=20)--出车核准--
		begin
			declare @MaxAppSeq int,@OilGaugeIn int,@Legend decimal,
			@CarStatusEdit_Auto int,@CarBase_Auto int,@User_Auto int,@AppType int,@IsSalesDep int


			select  @CarStatusEdit_Auto=Max(CarStatusEdit_Auto),@CarBase_Auto=CarBase_Auto,@OilGaugeIn=OilGaugeIn,@Legend=Legend from CarStatusEdit  where CarBase_Auto=@CarApplication_Auto group by CarBase_Auto,OilGaugeIn,Legend

			select @User_Auto=AppUser,@AppType=AppType from CarApplication where CarApplication_Auto=@CarApplication_Auto

			select IsSalesDep from v_Emp where User_Auto=@User_Auto   --是否为业务

			update DocSystem.dbo.WorkFlowDoc
			set [Status]=20,MDT=GETDATE(),MUser=@UserId,Memo=@Memo,IsAgent=0
			where DocPostID=@CarApplication_Auto and AppSeq=@AppSeq and DocType=@DocType   and status=0


			select @MaxAppSeq=isnull(MAX(AppSeq),0)
			from DocSystem.dbo.WorkFlowDoc
			where DocPostID=@CarApplication_Auto and DocType=@DocType and InActiveList=1
			if(@MaxAppSeq=@AppSeq)--最后一个审核--
			begin
					update CarApplication
					set [Status]=20,
					StartDT=getdate(),
					MUser=@UserId,
					MDT=getdate()
					where CarApplication_Auto=@CarApplication_Auto
			end

		end
END
    </insert>

    <!--查isSalesDep值-->
    <resultMap id="querySC" type="com.funtl.myshop.plus.provider.domain.ApplyJudge">
        <result column="IsSalesDep" jdbcType="INTEGER" property="isSalesDep" />
        <result column="ChiefId" jdbcType="INTEGER" property="chiefId" />
    </resultMap>
    <select id="selectSC" resultMap="querySC">
        declare
        @LoginUserID int=#{loginUserID}--登录者id
        BEGIN
            declare
            @IsSalesDep int,
            @ChiefId int
            --select FName,IsSalesDep from v_Emp where User_Auto=@LoginUserID

            set @IsSalesDep=(select IsSalesDep from v_Emp where User_Auto=@LoginUserID)
            set @ChiefId=(select isnull(p.ChiefId,0)ChiefId from Promoter p left join v_Emp v on v.FName=p.Name where v.User_Auto=@LoginUserID)
            select IsSalesDep=@IsSalesDep,ChiefId=isnull(@ChiefId,0)
        END
    </select>

    <!--查ChiefId值-->
    <resultMap id="queryNum" type="com.funtl.myshop.plus.provider.domain.ApplyJudge">
        <result column="num" jdbcType="INTEGER" property="num" />
    </resultMap>
    <select id="selectNum" resultMap="queryNum">
        declare
        @LoginUserID int=#{loginUserID},--登录者id
        @AppDT datetime=#{appDT} --申请日期默认当天
        BEGIN
        declare @VisitID bigint

        select @VisitID=max(VisitID) from VisitPlan where CUser=@LoginUserID and (datediff(d,getdate(),VstDate)=datediff(d,getdate(),@AppDT))

        select num=count(*) from DocSystem.dbo.WorkFlowDoc where DocPostID=@VisitID and DocType=17 and InActiveList=1 and [Status]=20
        END
    </select>

    <!--用车申请报错信息-->
    <resultMap id="queryErrorN" type="com.funtl.myshop.plus.provider.domain.ApplyJudge">
        <result column="errorN" jdbcType="VARCHAR" property="errorN" />
    </resultMap>
    <select id="selectErrorN" resultMap="querySC">
        declare
        @AppUser bigint=#{param.appUser},--申请人id
        @AppType int=#{param.appType},--用车类别
        @WHType int=#{param.whType},--仓库别
        @PlanStartDT datetime=#{param.planStartDT},
        @PlanEndDT datetime=#{param.planEndDT},
        @Fname nvarchar(50)=#{param.appUserN},--申请人
        @UserName nvarchar(50)=#{param.username},--使用人
        @IsDriver int=#{param.isDriver},
        @DriverUser_Auto int=0,
        @LicenceMemo nvarchar(200)=#{param.licenceMemo},
        @Carbase_Auto bigint=#{param.carBaseAuto},--车籍序号
        @Status int=10,--送件
        @CUser int=#{param.appUser}, --申请人id,及创建人id
        @startAddr varchar(50)=#{param.startAddr},
        @startAddrLat varchar(50)=#{param.startAddrLat},
        @startAddrLng varchar(50)=#{param.startAddrLng},
        @endAddr varchar(50)=#{param.endAddr},
        @endAddrLat varchar(50)=#{param.endAddrLat},
        @endAddrLng varchar(50)=#{param.endAddrLng},
        @distance decimal(18,3)=#{param.distance},
        @isHoliday int=#{param.isHoliday},
        @useCarTime decimal(18,1)=#{param.useCarTime},
        @areaType int =#{param.areaType}
        BEGIN
        SET NOCOUNT ON;
        Declare @WorkFlow_Auto bigint
        Declare @Title nvarchar(10)
        Declare @UpUnit Nvarchar(20)
        Declare @UnitId NVarChar(6)
        Declare @OldUnitId NVarChar(6)
        Declare @ChiefId varchar(2)
        Declare @SerialNo bigint
        Declare @sType int
        Declare @sChiefFlag int
        declare @EmpId nvarchar(7)
        declare @IsSalesDep int
        declare @NAme nvarchar(20)
        declare @CNum int --判断实习组长是否能签核
        declare @error varchar(50)

        begin
        select @IsSalesDep=IsSalesDep,@NAme=FName from v_Emp where User_Auto=@AppUser

        select @EmpId=EmpId from DocSystem.dbo.v_User where UserID= @AppUser

        Select top 1 @UnitId=a.UnitId,
        @OldUnitId=a.UnitId,@UpUnit=b.UpUnit ,@ChiefId=ChiefId,@Title=Title
        from dbo.Unit a (NoLock)
        Inner Join dbo.Promoter b (NoLock) on a.UnitId = b.UnitId
        Where EmpId = @EmpId



        if(@UpUnit='华南营业二部三课（中山/佛山）' or @UpUnit='华东营业二部三课（南京）' or (@UpUnit='华东营业三部' and @UnitId='11676') or @UnitId='11293')  --11676 临沂课
        begin
        set @sChiefFlag = 1
        end
        else if(@UnitId='11500' and @ChiefId=1)--联办  组长
        begin
        set @sChiefFlag =0
        end
        else
        begin
        --组长
        set @sChiefFlag = Case When @OldUnitId in (Select top 1 Matter from DocSystem.dbo.IdCode (NoLock) Where cboKind = N'代理部门') Then 1
        Else IsNull((Select top 1 Cast(Max(a.ChiefId) as int)
        from DocSystem.dbo.Promoter  a (NoLock) Inner Join DocSystem.dbo.Unit b (NoLock) on a.UnitId = b.UnitId
        Where b.UnitId = @OldUnitId And a.ChiefId = '1' And a.Title != N'离职'),0) End

        end

        declare @Zuzhang bigint
        select @Zuzhang=User_Auto from v_Emp where DepCode=(select DepCode from v_Emp where User_Auto=@CUser) and IsOn=1 and TitleLevel=60

        select @CNum=count(a.RoleID) from Portal.dbo.Portal_Roles a where   a.RoleID  in (select b.RoleID from Portal.dbo.Portal_UserRoles b  where b.UserID=@Zuzhang) and      (a.RoleName like'%组长%' or a.RoleName like'%組長%' )
        if @CNum!=0 or @sChiefFlag=1
        begin
        set @sChiefFlag=1
        end
        else
        begin
        set @sChiefFlag=0
        end

        set @WorkFlow_Auto =(Select top 1 KindId from DocSystem.dbo.IdCode a  (NoLock)
        Inner Join DocSystem.dbo.Unit b on a.Matter = b.UnitName
        Where cboKind = N'请假签核'
        And UnitId = @UnitId)
        If @WorkFlow_Auto Is Null
        Begin
        set @WorkFlow_Auto =(Select top 1 KindId from DocSystem.dbo.IdCode a  (NoLock)
        Inner Join DocSystem.dbo.Unit b on a.Matter = b.UnitName
        Where cboKind = N'请假签核'
        And UnitName = @UpUnit)
        End

        If IsNull(@WorkFlow_Auto,0) = 0 or IsNull((Select WorkFlow_Auto from DocSystem.dbo.WorkFlow (NoLock) Where WorkFlow_Auto = @WorkFlow_Auto),0) = 0
        Begin
        --RAISERROR (N'查无签核流程设定!请联系系统管理员!',16,1)
        set @error='查无签核流程设定!请联系系统管理员!'
        select errorN=@error
        End
        end

        END
    </select>

    <!--用车审核：更改车辆-->
    <update id="carChangeUpdate">
        declare
        @CarApplicationAuto bigint=#{param.carApplicationAuto},
        @CarBaseAuto bigint=#{param.carBaseAuto},
        @loginUserID bigint=#{param.loginUserID}
        begin
            declare @WHType int,
            @Memo varchar(50)
            set @WHType=
            (select
            WHType
            from
            CarStatusEdit
            where CarBase_Auto=@CarBaseAuto)
            set @Memo=convert(varchar(10),@loginUserID)+'用车审核更改车辆'+convert(varchar(10),GETDATE(),120)
            update
            CarApplication
            set Carbase_Auto=@CarBaseAuto,WHType=@WHType,MUser=@loginUserID,Memo=@Memo,MDT=GETDATE()
            where CarApplication_Auto=@CarApplicationAuto
        end
    </update>
</mapper>
