<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funtl.myshop.plus.provider.mapper.CommissionMapper">
  <resultMap id="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.Commission">
    <!--@mbg.generated-->
    <!--@Table Commission-->
    <id column="Commission_Auto" jdbcType="BIGINT" property="commissionAuto" />
    <result column="Orders_Auto" jdbcType="BIGINT" property="ordersAuto" />
    <result column="PushMan" jdbcType="VARCHAR" property="pushMan" />
    <result column="PushTEL" jdbcType="VARCHAR" property="pushTel" />
    <result column="PushAmt" jdbcType="NUMERIC" property="pushAmt" />
    <result column="PushMemo" jdbcType="VARCHAR" property="pushMemo" />
    <result column="CUser" jdbcType="BIGINT" property="cuser" />
    <result column="CDT" jdbcType="TIMESTAMP" property="cdt" />
    <result column="MUser" jdbcType="BIGINT" property="muser" />
    <result column="MDT" jdbcType="TIMESTAMP" property="mdt" />
    <result column="PushStatus" jdbcType="INTEGER" property="pushStatus" />
    <result column="CommPush_Auto" jdbcType="BIGINT" property="commPushAuto" />
    <result column="PushAmtDT" jdbcType="TIMESTAMP" property="pushAmtDt" />
    <result column="PushRelation" jdbcType="INTEGER" property="pushRelation" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    Commission_Auto, Orders_Auto, PushMan, PushTEL, PushAmt, PushMemo, CUser, CDT, MUser,
    MDT, PushStatus, CommPush_Auto, PushAmtDT, PushRelation
  </sql>
  <resultMap id="queryCommissionList" extends="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.CommissionList">
    <result column="pushRelationName" jdbcType="VARCHAR" property="pushRelationName" />
    <result column="commissionOrders" jdbcType="VARCHAR" property="commissionOrders" />
  </resultMap>
  <select id="selectCommissionList" resultMap="queryCommissionList">
    select
    t1.PushMan,t1.PushTEL,t1.PushAmt,
    pushRelationName = t2.ItemName,
    t1.PushMemo,
    commissionOrders = dbo.F_Commission_check(t1.Commission_Auto)
    from Commission  t1
    left join ItemCode t2 on t2.ItemType = 2039 and t2.Num = t1.PushRelation
    where
    t1.Orders_Auto = #{param}
    order by
    t1.Commission_Auto
  </select>
  <resultMap id="queryRecord" extends="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.CommissionRecordList">
    <result column="pushRelationName" jdbcType="VARCHAR" property="pushRelationName" />
  </resultMap>
  <select id="selectRecord" resultMap="queryRecord">
    select
	t1.Orders_Auto,
    t1.PushMan,t1.PushTEL,t1.PushAmt,
    pushRelationName = t2.ItemName,
    t1.PushMemo
    from Commission  t1
    left join ItemCode t2 on t2.ItemType = 2039 and t2.Num = t1.PushRelation
    where
    t1.Orders_Auto in
    <foreach collection="param" index="index" item="item" open="(" separator="," close=")">
        #{item}
    </foreach>
    order by
    t1.Commission_Auto
  </select>
</mapper>
