<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funtl.myshop.plus.provider.mapper.OrdersInsureYearsMapper">
  <resultMap id="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.OrdersInsureYears">
    <!--@mbg.generated-->
    <!--@Table OrdersInsure_Years-->
    <id column="OrdersInsure_Years_Auto" jdbcType="BIGINT" property="ordersInsureYearsAuto" />
    <result column="Orders_Auto" jdbcType="BIGINT" property="ordersAuto" />
    <result column="InsureType" jdbcType="INTEGER" property="insureType" />
    <result column="InsureLimit" jdbcType="DECIMAL" property="insureLimit" />
    <result column="InsurePercnt" jdbcType="INTEGER" property="insurePercnt" />
    <result column="DetailAmt" jdbcType="DECIMAL" property="detailAmt" />
    <result column="OrgAmt" jdbcType="DECIMAL" property="orgAmt" />
    <result column="RateAmt" jdbcType="DECIMAL" property="rateAmt" />
    <result column="Memo" jdbcType="VARCHAR" property="memo" />
    <result column="CUser" jdbcType="INTEGER" property="cuser" />
    <result column="CDT" jdbcType="TIMESTAMP" property="cdt" />
    <result column="MUser" jdbcType="INTEGER" property="muser" />
    <result column="MDT" jdbcType="TIMESTAMP" property="mdt" />
    <result column="OfferAmt" jdbcType="DECIMAL" property="offerAmt" />
    <result column="InsureYear" jdbcType="INTEGER" property="insureYear" />
    <result column="InsureMode" jdbcType="INTEGER" property="insureMode" />
    <result column="InsurePrice" jdbcType="DECIMAL" property="insurePrice" />
    <result column="Percnt" jdbcType="INTEGER" property="percnt" />
    <result column="CarPlace" jdbcType="INTEGER" property="carPlace" />
    <result column="CustomerCare" jdbcType="INTEGER" property="customerCare" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    OrdersInsure_Years_Auto, Orders_Auto, InsureType, InsureLimit, InsurePercnt, DetailAmt,
    OrgAmt, RateAmt, Memo, CUser, CDT, MUser, MDT, OfferAmt, InsureYear, InsureMode,
    InsurePrice, Percnt, CarPlace, CustomerCare
  </sql>
  <resultMap id="queryInsuranceList" extends="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.InsuranceList">
    <result column="insureTypeName" jdbcType="VARCHAR" property="insureTypeName" />
    <result column="insurePercntName" jdbcType="VARCHAR" property="insurePercntName" />
    <result column="carPlace" jdbcType="VARCHAR" property="carPlace" />
  </resultMap>
    <select id="selectInsuranceList" resultMap="queryInsuranceList">
    select
    distinct a.InsureType,b.ItemName insureTypeName,c.ItemName insurePercntName,
    a.Percnt,d.ItemName carPlace
    from OrdersInsure_Years a
    inner join ItemCode b on b.itemtype = 411 and b.num = a.InsureType
    inner join ItemCode c on c.itemtype = 410 and c.num = a.InsurePercnt
    inner join ItemCode d on d.itemtype = 227 and d.num = a.CarPlace
    where a.Orders_Auto = #{param} and b.Num = 1
    Order by a.InsureType
    </select>
  <resultMap id="queryByOrdersAutoAndYear" extends="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.InsuranceTableList">
    <result column="InsureName" jdbcType="VARCHAR" property="insureName" />
    <result column="detailAmtName" jdbcType="VARCHAR" property="detailAmtName" />
  </resultMap>
  <select id="selectByOrdersAutoAndYear" resultMap="queryByOrdersAutoAndYear">
    select
    a.InsureYear,
    e.InsureName,a.InsureLimit,
    case when a.DetailAmt = 1 then '是' else '' end detailAmtName,
    a.OrgAmt,a.RateAmt,a.OfferAmt,a.Memo
    from OrdersInsure_Years a
    inner join InsureSetup e on a.InsureType = e.InsureSetup_Auto
    where
    a.Orders_Auto = #{ordersAuto} and a.InsureYear = #{insureYear}
    Order by a.InsureType
  </select>
</mapper>
