<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funtl.myshop.plus.provider.mapper.OrdersInsureYearsMapper">
  <resultMap id="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.OrdersInsureYears">
    <!--@mbg.generated-->
    <!--@Table OrdersInsure_Years-->
    <id column="OrdersInsure_Years_Auto" jdbcType="BIGINT" property="ordersInsureYearsAuto" />
    <result column="Orders_Auto" jdbcType="BIGINT" property="ordersAuto" />
    <result column="InsureType" jdbcType="INTEGER" property="insureType" />
    <result column="InsureLimit" jdbcType="DECIMAL" property="insureLimit" />
    <result column="InsurePercnt" jdbcType="INTEGER" property="insurePercnt" />
    <result column="DetailAmt" jdbcType="DECIMAL" property="detailAmt" />
    <result column="OrgAmt" jdbcType="DECIMAL" property="orgAmt" />
    <result column="RateAmt" jdbcType="DECIMAL" property="rateAmt" />
    <result column="Memo" jdbcType="VARCHAR" property="memo" />
    <result column="CUser" jdbcType="INTEGER" property="cuser" />
    <result column="CDT" jdbcType="TIMESTAMP" property="cdt" />
    <result column="MUser" jdbcType="INTEGER" property="muser" />
    <result column="MDT" jdbcType="TIMESTAMP" property="mdt" />
    <result column="OfferAmt" jdbcType="DECIMAL" property="offerAmt" />
    <result column="InsureYear" jdbcType="INTEGER" property="insureYear" />
    <result column="InsureMode" jdbcType="INTEGER" property="insureMode" />
    <result column="InsurePrice" jdbcType="DECIMAL" property="insurePrice" />
    <result column="Percnt" jdbcType="INTEGER" property="percnt" />
    <result column="CarPlace" jdbcType="INTEGER" property="carPlace" />
    <result column="CustomerCare" jdbcType="INTEGER" property="customerCare" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    OrdersInsure_Years_Auto, Orders_Auto, InsureType, InsureLimit, InsurePercnt, DetailAmt,
    OrgAmt, RateAmt, Memo, CUser, CDT, MUser, MDT, OfferAmt, InsureYear, InsureMode,
    InsurePrice, Percnt, CarPlace, CustomerCare
  </sql>
  </mapper>
