<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funtl.myshop.plus.provider.mapper.OrderBudgetMapper">
  <resultMap id="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.OrderBudget">
    <!--@mbg.generated-->
    <!--@Table OrderBudget-->
    <result column="OrderBudget_Auto" jdbcType="BIGINT" property="orderBudgetAuto" />
    <result column="Order_Auto" jdbcType="BIGINT" property="orderAuto" />
    <result column="Type_Auto" jdbcType="INTEGER" property="typeAuto" />
    <result column="TypeName" jdbcType="VARCHAR" property="typeName" />
    <result column="CountMode" jdbcType="INTEGER" property="countMode" />
    <result column="Amt" jdbcType="DECIMAL" property="amt" />
    <result column="Cou" jdbcType="INTEGER" property="cou" />
    <result column="RateDis" jdbcType="INTEGER" property="rateDis" />
    <result column="RateAmt" jdbcType="DECIMAL" property="rateAmt" />
    <result column="RateMAmt" jdbcType="DECIMAL" property="rateMAmt" />
    <result column="FinalDis" jdbcType="INTEGER" property="finalDis" />
    <result column="FinalAmt" jdbcType="DECIMAL" property="finalAmt" />
    <result column="FinalMAmt" jdbcType="DECIMAL" property="finalMAmt" />
    <result column="RealAmt" jdbcType="DECIMAL" property="realAmt" />
    <result column="RealMAmt" jdbcType="DECIMAL" property="realMAmt" />
    <result column="Status" jdbcType="INTEGER" property="status" />
    <result column="CUser" jdbcType="INTEGER" property="cUser" />
    <result column="CDT" jdbcType="TIMESTAMP" property="cDT" />
    <result column="MUser" jdbcType="INTEGER" property="mUser" />
    <result column="MDT" jdbcType="TIMESTAMP" property="mDT" />
    <result column="ARAmt" jdbcType="NUMERIC" property="aRAmt" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    OrderBudget_Auto, Order_Auto, Type_Auto, TypeName, CountMode, Amt, Cou, RateDis,
    RateAmt, RateMAmt, FinalDis, FinalAmt, FinalMAmt, RealAmt, RealMAmt, [Status], CUser,
    CDT, MUser, MDT, ARAmt
  </sql>
</mapper>
