<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funtl.myshop.plus.provider.mapper.OrdersMapper">
  <resultMap id="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.Orders">
    <!--@mbg.generated-->
    <!--@Table Orders-->
    <id column="Orders_Auto" jdbcType="BIGINT" property="ordersAuto" />
    <result column="Inc_Auto" jdbcType="BIGINT" property="incAuto" />
    <result column="TradeItem_Auto" jdbcType="BIGINT" property="tradeItemAuto" />
    <result column="CarBase_Auto" jdbcType="BIGINT" property="carBaseAuto" />
    <result column="Sales_Auto" jdbcType="BIGINT" property="salesAuto" />
    <result column="CustSource" jdbcType="INTEGER" property="custSource" />
    <result column="CustMemo" jdbcType="VARCHAR" property="custMemo" />
    <result column="CarSource" jdbcType="INTEGER" property="carSource" />
    <result column="FactoryBrand_Auto" jdbcType="INTEGER" property="factoryBrandAuto" />
    <result column="Brand_Auto" jdbcType="INTEGER" property="brandAuto" />
    <result column="Clasen_Auto" jdbcType="INTEGER" property="clasenAuto" />
    <result column="ClasenCode" jdbcType="VARCHAR" property="clasenCode" />
    <result column="CarColor" jdbcType="VARCHAR" property="carColor" />
    <result column="CarDT" jdbcType="TIMESTAMP" property="cardt" />
    <result column="CC" jdbcType="INTEGER" property="cc" />
    <result column="MakNo" jdbcType="VARCHAR" property="makNo" />
    <result column="ListPrice" jdbcType="DECIMAL" property="listPrice" />
    <result column="DisPrice" jdbcType="DECIMAL" property="disPrice" />
    <result column="GetPrice" jdbcType="DECIMAL" property="getPrice" />
    <result column="Accessary" jdbcType="DECIMAL" property="accessary" />
    <result column="PushMoney" jdbcType="DECIMAL" property="pushMoney" />
    <result column="PushMan" jdbcType="VARCHAR" property="pushMan" />
    <result column="PushMan_Auto" jdbcType="INTEGER" property="pushManAuto" />
    <result column="PushTEL" jdbcType="VARCHAR" property="pushTel" />
    <result column="CarTax" jdbcType="DECIMAL" property="carTax" />
    <result column="CarCost" jdbcType="DECIMAL" property="carCost" />
    <result column="OverAmt" jdbcType="DECIMAL" property="overAmt" />
    <result column="DptAmt" jdbcType="DECIMAL" property="dptAmt" />
    <result column="MakNoType" jdbcType="INTEGER" property="makNoType" />
    <result column="MakNoCost" jdbcType="DECIMAL" property="makNoCost" />
    <result column="OrderType" jdbcType="INTEGER" property="orderType" />
    <result column="MM" jdbcType="INTEGER" property="mm" />
    <result column="RentAmt" jdbcType="DECIMAL" property="rentAmt" />
    <result column="RentType" jdbcType="INTEGER" property="rentType" />
    <result column="StampTax" jdbcType="DECIMAL" property="stampTax" />
    <result column="SellCarTax" jdbcType="DECIMAL" property="sellCarTax" />
    <result column="TrnsFee" jdbcType="DECIMAL" property="trnsFee" />
    <result column="PayMode" jdbcType="INTEGER" property="payMode" />
    <result column="PayDay" jdbcType="INTEGER" property="payDay" />
    <result column="InsureType" jdbcType="INTEGER" property="insureType" />
    <result column="InsurePercnt" jdbcType="INTEGER" property="insurePercnt" />
    <result column="Percnt" jdbcType="INTEGER" property="percnt" />
    <result column="CarPlace" jdbcType="INTEGER" property="carPlace" />
    <result column="RateRate" jdbcType="DECIMAL" property="rateRate" />
    <result column="FinalRate" jdbcType="DECIMAL" property="finalRate" />
    <result column="RateMCost" jdbcType="DECIMAL" property="rateMCost" />
    <result column="RateYCost" jdbcType="DECIMAL" property="rateYCost" />
    <result column="RateTCost" jdbcType="DECIMAL" property="rateTCost" />
    <result column="RateM" jdbcType="DECIMAL" property="ratem" />
    <result column="RateY" jdbcType="DECIMAL" property="ratey" />
    <result column="RateT" jdbcType="DECIMAL" property="ratet" />
    <result column="RateCost" jdbcType="DECIMAL" property="rateCost" />
    <result column="RateDPN" jdbcType="DECIMAL" property="rateDpn" />
    <result column="RateTax" jdbcType="DECIMAL" property="rateTax" />
    <result column="RateAmt" jdbcType="DECIMAL" property="rateAmt" />
    <result column="FinalMCost" jdbcType="DECIMAL" property="finalMCost" />
    <result column="FinalYCost" jdbcType="DECIMAL" property="finalYCost" />
    <result column="FinalTCost" jdbcType="DECIMAL" property="finalTCost" />
    <result column="FinalM" jdbcType="DECIMAL" property="finalm" />
    <result column="FinalY" jdbcType="DECIMAL" property="finaly" />
    <result column="FinalT" jdbcType="DECIMAL" property="finalt" />
    <result column="FinalCost" jdbcType="DECIMAL" property="finalCost" />
    <result column="FinalDPN" jdbcType="DECIMAL" property="finalDpn" />
    <result column="FinalTax" jdbcType="DECIMAL" property="finalTax" />
    <result column="FinalAmt" jdbcType="DECIMAL" property="finalAmt" />
    <result column="MAmt" jdbcType="DECIMAL" property="mAmt" />
    <result column="RentAmtT" jdbcType="DECIMAL" property="rentAmtT" />
    <result column="RentRate" jdbcType="DECIMAL" property="rentRate" />
    <result column="GrossMargin" jdbcType="DECIMAL" property="grossMargin" />
    <result column="GrossMarginT" jdbcType="DECIMAL" property="grossMarginT" />
    <result column="OrderStatus" jdbcType="INTEGER" property="orderStatus" />
    <result column="Memo" jdbcType="VARCHAR" property="memo" />
    <result column="TaxMode" jdbcType="INTEGER" property="taxMode" />
    <result column="TaxRate" jdbcType="DECIMAL" property="taxRate" />
    <result column="chkListPrice" jdbcType="INTEGER" property="chkListPrice" />
    <result column="CUser" jdbcType="INTEGER" property="cuser" />
    <result column="CDT" jdbcType="TIMESTAMP" property="cdt" />
    <result column="MUser" jdbcType="INTEGER" property="muser" />
    <result column="MDT" jdbcType="TIMESTAMP" property="mdt" />
    <result column="LinceKM" jdbcType="INTEGER" property="linceKm" />
    <result column="AppDate" jdbcType="TIMESTAMP" property="appDate" />
    <result column="A1" jdbcType="VARCHAR" property="a1" />
    <result column="A2" jdbcType="VARCHAR" property="a2" />
    <result column="A3" jdbcType="VARCHAR" property="a3" />
    <result column="A4" jdbcType="VARCHAR" property="a4" />
    <result column="A5" jdbcType="VARCHAR" property="a5" />
    <result column="Orders_Old" jdbcType="BIGINT" property="ordersOld" />
    <result column="PostType" jdbcType="INTEGER" property="postType" />
    <result column="ISContractLock" jdbcType="INTEGER" property="isContractLock" />
    <result column="LockUser" jdbcType="BIGINT" property="lockUser" />
    <result column="LockDT" jdbcType="TIMESTAMP" property="lockDt" />
    <result column="ISThirdParty" jdbcType="INTEGER" property="isThirdParty" />
    <result column="BsType" jdbcType="INTEGER" property="bsType" />
    <result column="NoInsure" jdbcType="INTEGER" property="noInsure" />
    <result column="IRR" jdbcType="DECIMAL" property="irr" />
    <result column="NPV" jdbcType="DECIMAL" property="npv" />
    <result column="IsCredit" jdbcType="INTEGER" property="isCredit" />
    <result column="IsCreditUser" jdbcType="INTEGER" property="isCreditUser" />
    <result column="DptType" jdbcType="INTEGER" property="dptType" />
    <result column="Supplier_Buy" jdbcType="INTEGER" property="supplierBuy" />
    <result column="Project_Auto" jdbcType="BIGINT" property="projectAuto" />
    <result column="Onetime" jdbcType="INTEGER" property="onetime" />
    <result column="RepurchaseAmt" jdbcType="DECIMAL" property="repurchaseAmt" />
    <result column="ISInsureOffer" jdbcType="INTEGER" property="isInsureOffer" />
    <result column="CostAdjustment" jdbcType="DECIMAL" property="costAdjustment" />
    <result column="DptTaxPay" jdbcType="INTEGER" property="dptTaxPay" />
    <result column="DptTax" jdbcType="DECIMAL" property="dptTax" />
    <result column="oil" jdbcType="INTEGER" property="oil" />
    <result column="IsCustomerCare" jdbcType="INTEGER" property="isCustomerCare" />
    <result column="ReletMakno" jdbcType="VARCHAR" property="reletMakNo" />
    <result column="IsRelet" jdbcType="INTEGER" property="isRelet" />
    <result column="OnetimeTransfer" jdbcType="DECIMAL" property="onetimeTransfer" />
    <result column="OnetimePoundage" jdbcType="DECIMAL" property="onetimePoundage" />
    <result column="OverAmt_Y" jdbcType="DECIMAL" property="overAmtY" />
    <result column="Budget01_Y" jdbcType="DECIMAL" property="budget01Y" />
    <result column="CarTransfer" jdbcType="INTEGER" property="carTransfer" />
    <result column="MakNo_INC" jdbcType="VARCHAR" property="makNoInc" />
    <result column="Weight" jdbcType="VARCHAR" property="weight" />
    <result column="MM2" jdbcType="INTEGER" property="mm2" />
    <result column="UseKM" jdbcType="INTEGER" property="usekm" />
    <result column="ServiceAmt" jdbcType="DECIMAL" property="serviceAmt" />
    <result column="OutFee" jdbcType="DECIMAL" property="outFee" />
    <result column="FinanceFee" jdbcType="DECIMAL" property="financeFee" />
    <result column="UrgentFee" jdbcType="DECIMAL" property="urgentFee" />
    <result column="MortgageAddr" jdbcType="INTEGER" property="mortgageAddr" />
    <result column="CommissionRate" jdbcType="DECIMAL" property="commissionRate" />
    <result column="RateTaxY" jdbcType="DECIMAL" property="rateTaxy" />
    <result column="A6" jdbcType="VARCHAR" property="a6" />
    <result column="A7" jdbcType="VARCHAR" property="a7" />
    <result column="InsureAnomalyType" jdbcType="INTEGER" property="insureAnomalyType" />
    <result column="CarPriceRef" jdbcType="DECIMAL" property="carPriceRef" />
    <result column="IsBigTradeItem" jdbcType="INTEGER" property="isBigTradeItem" />
    <result column="CarExtensionAmt" jdbcType="DECIMAL" property="carExtensionAmt" />
    <result column="Discount" jdbcType="DECIMAL" property="discount" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    Orders_Auto, Inc_Auto, TradeItem_Auto, CarBase_Auto, Sales_Auto, CustSource, CustMemo,
    CarSource, FactoryBrand_Auto, Brand_Auto, Clasen_Auto, ClasenCode, CarColor, CarDT,
    CC, MakNo, ListPrice, DisPrice, GetPrice, Accessary, PushMoney, PushMan, PushMan_Auto,
    PushTEL, CarTax, CarCost, OverAmt, DptAmt, MakNoType, MakNoCost, OrderType, MM, RentAmt,
    RentType, StampTax, SellCarTax, TrnsFee, PayMode, PayDay, InsureType, InsurePercnt,
    Percnt, CarPlace, RateRate, FinalRate, RateMCost, RateYCost, RateTCost, RateM, RateY,
    RateT, RateCost, RateDPN, RateTax, RateAmt, FinalMCost, FinalYCost, FinalTCost, FinalM,
    FinalY, FinalT, FinalCost, FinalDPN, FinalTax, FinalAmt, MAmt, RentAmtT, RentRate,
    GrossMargin, GrossMarginT, OrderStatus, Memo, TaxMode, TaxRate, chkListPrice, CUser,
    CDT, MUser, MDT, LinceKM, AppDate, A1, A2, A3, A4, A5, Orders_Old, PostType, ISContractLock,
    LockUser, LockDT, ISThirdParty, BsType, NoInsure, IRR, NPV, IsCredit, IsCreditUser,
    DptType, Supplier_Buy, Project_Auto, Onetime, RepurchaseAmt, ISInsureOffer, CostAdjustment,
    DptTaxPay, DptTax, oil, IsCustomerCare, ReletMakno, IsRelet, OnetimeTransfer, OnetimePoundage,
    OverAmt_Y, Budget01_Y, CarTransfer, MakNo_INC, Weight, MM2, UseKM, ServiceAmt, OutFee,
    FinanceFee, UrgentFee, MortgageAddr, CommissionRate, RateTaxY, A6, A7, InsureAnomalyType,
    CarPriceRef, IsBigTradeItem, CarExtensionAmt, Discount
  </sql>
  <!--试算签核-->
  <resultMap id="queryByRoleIds" extends="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.MasterList">
    <result column="salesName" jdbcType="VARCHAR" property="salesName" />
    <result column="SName" jdbcType="VARCHAR" property="sName" />
    <result column="DepName" jdbcType="VARCHAR" property="depName" />
    <result column="nowPlace" jdbcType="VARCHAR" property="nowPlace" />
    <result column="onetimeName" jdbcType="VARCHAR" property="onetimeName" />
    <result column="orderStatusName" jdbcType="VARCHAR" property="orderStatusName" />
    <result column="auditOK" jdbcType="INTEGER" property="auditOK" />
  </resultMap>
  <select id="selectByRoleIds" resultMap="queryByRoleIds">
    declare
    @User_Auto Int,
    @Roles Int
<!--    @RealUser Int-->
    set @User_Auto = #{userAuto} <!--&#45;&#45;代理人id-->
    set @Roles = #{rolesAuto}
<!--    set @RealUser = 0 &#45;&#45;租金计算中的，可不管默认0即可-->
    Begin
    Declare @Seq Int
    Select @Seq=isnull(seq,0) From ItemCode
    Where ItemType=1062 And Num=@Roles

    select a.Orders_Auto
    into #C
    from Orders a
    where a.orderstatus &gt; 0 and a.orderstatus &lt; 20
    and ( @Roles in(11,30,145)<!--&#45;&#45;30：保险维护  145：服务部经理  11;业务助理-->
    or a.Sales_Auto in (
    Select  a.User_Auto from AspNet.dbo.aspnet_Users a
    Join AspNet.dbo.EmpBase b on a.UserName=b.UserName
    Where Org_Auto in (select a.org_auto from AspNet.dbo.org2EMP a
    Where a.User_Auto=@User_AUTO and AclType=0)
    ))

    Select distinct a.Orders_Auto,a.OrderType,a.Sales_Auto,
    n.ItemName AS orderStatusName,b.FName salesname,c.SName,b.DepName,
    p.Memo nowplace,case when a.Onetime = 1 then '是' else '' end onetimeName
    ,case when k.MaxLevel &lt;= @Seq then 1 else 0 end auditOK
    From #C
    left join Orders(nolock) a on a.Orders_Auto = #C.Orders_Auto
    left join workflowdoc(nolock) k0 on a.orders_Auto=k0.DocPostID And k0.Memo='999' and k0.Status = 0 and k0.AppSeq &lt;= 0 and k0.levnow = k0.AppSeq
    inner Join workflowdoc(nolock) k on a.orders_Auto=k.DocPostID And k.Memo='999' and k.Status = 0 and ((k0.AppSeq is not null and k0.AppSeq = k.AppSeq) or (k0.AppSeq is null and k.AppSeq = k.LevNow +1)) <!--&#45;&#45; and (k.levnow = k.AppSeq or k.AppSeq = k.LevNow +1)-->
    Left join v_Emp b on a.Sales_Auto=b.User_Auto
    Left Join customer(nolock) f on a.TradeItem_Auto=f.TradeItem_Auto
    LEFT join TradeItem(nolock) c On c.TradeItem_Auto=f.TradeItem_Auto
    Left Join Brand cc on a.Brand_Auto=cc.Brand_Auto
    Left Join Clasen dd on dd.Clasen_Auto=a.Clasen_Auto
    Left Join itemcode p on k.roleid=p.num And p.itemtype=1062
    Left join Itemcode n on a.OrderStatus = n.Num and n.ItemType = 327
    Where k.RoleID = @Roles
    Order By a.Orders_Auto Desc

    drop table #C
    End
  </select>

  <resultMap id="queryByOrdersAuto" extends="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.OrdersList">
    <result column="fName" jdbcType="VARCHAR" property="fName" />
    <result column="salesName" jdbcType="VARCHAR" property="salesName" />
    <result column="carIncName" jdbcType="VARCHAR" property="carIncName" />
    <result column="rentTypeName" jdbcType="VARCHAR" property="rentTypeName" />
    <result column="orderTypeName" jdbcType="VARCHAR" property="orderTypeName" />
    <result column="custSourceName" jdbcType="VARCHAR" property="custSourceName" />
    <result column="carSourceName" jdbcType="VARCHAR" property="carSourceName" />
    <result column="oilName" jdbcType="VARCHAR" property="oilName" />
    <result column="FactoryBrandName" jdbcType="VARCHAR" property="factoryBrandName" />
    <result column="BrandName" jdbcType="VARCHAR" property="brandName" />
    <result column="ClasenName" jdbcType="VARCHAR" property="clasenName" />
    <result column="supplierBuyName" jdbcType="VARCHAR" property="supplierBuyName" />
    <result column="postTypeName" jdbcType="VARCHAR" property="postTypeName" />
    <result column="orderStatusName" jdbcType="VARCHAR" property="orderStatusName" />
    <result column="dptTypeName" jdbcType="VARCHAR" property="dptTypeName" />
    <result column="dptTaxPayN" jdbcType="VARCHAR" property="dptTaxPayN" />
    <result column="dptP" jdbcType="VARCHAR" property="dptP" />
    <result column="irr" jdbcType="VARCHAR" property="irr" />
    <result column="grossMarginT" jdbcType="VARCHAR" property="grossMarginT" />
    <result column="a1" jdbcType="VARCHAR" property="a1" />
    <result column="a2" jdbcType="VARCHAR" property="a2" />
    <result column="a3" jdbcType="VARCHAR" property="a3" />
    <result column="a4" jdbcType="VARCHAR" property="a4" />
    <result column="a5" jdbcType="VARCHAR" property="a5" />
    <result column="repurchaseAmt" jdbcType="DECIMAL" property="repurchaseAmt" />
    <result column="bsTypeName" jdbcType="VARCHAR" property="bsTypeName" />
    <result column="insureTypeName" jdbcType="VARCHAR" property="insureTypeName" />
    <result column="insurePercntName" jdbcType="VARCHAR" property="insurePercntName" />
    <result column="carPlace" jdbcType="VARCHAR" property="carPlace" />
    <result column="customerCareName" jdbcType="VARCHAR" property="customerCareName" />
    <result column="a6" jdbcType="VARCHAR" property="a6" />
    <result column="a7" jdbcType="VARCHAR" property="a7" />
    <result column="projectName" jdbcType="VARCHAR" property="projectName" />
    <result column="isBigTra" jdbcType="VARCHAR" property="isBigTra" />
    <result column="customerStatus" jdbcType="VARCHAR" property="customerStatus" />

    <!--    <result column="insureRealAmt" jdbcType="DECIMAL" property="insureRealAmt" />-->
  </resultMap>
  <select id="selectOrdersList" resultMap="queryByOrdersAuto">
    select
    a.TaxRate,a.RateRate,a.RateCost,a.RateDPN,a.RateAmt,a.RateTax,
    a.MAmt,a.RentRate,a.ServiceAmt,
    a.FinalRate,a.FinalCost,a.FinalDPN,a.FinalAmt,a.FinalTax,
    a.Orders_Auto,a.Orders_Old,a.MM,a.isRelet,
    o.ItemName AS dptTypeName,a.PostType,
<!--    (select CONVERT(decimal(18,2),sum(InsureRealAmt)/count(*)) from OrdersInsureList where Orders_Auto = #{params}) insureRealAmt,-->
    convert(varchar(10),convert(decimal(18,2),((cast(a.DptAmt as decimal) *100/cast(a.CarCost as decimal)))))+'%' as dptP,
    case when p.ItemName is null then '' else ' :    ' + p.ItemName end dptTaxPayN,
    m.ItemName AS postTypeName,n.ItemName AS orderStatusName,
    a.RentType,
    e.ItemName AS rentTypeName,f.ItemName AS orderTypeName,
    a.TradeItem_Auto,c.FName AS fName,b.FName AS salesname,
    g.ItemName AS custSourceName,
    a.PushMan,a.PushTEL,supplierBuyName = Supplier_Buy.FName,
    a.CarDT,
    l.FactoryBrandName,j.BrandName,k.ClasenName,
    a.CarColor,h.ItemName AS carSourceName,a.CarSource,
    a.ClasenCode,a.CC,i.ItemName AS oilName,
    r.ItemName AS bsTypeName,a.MakNo,a.CarBase_Auto,
    a.ReletMakno,d.FName AS carIncName,q.ItemName AS makNoTypeName,
    a.MakNoCost,a.ListPrice,a.DisPrice,a.GetPrice,a.CarPriceRef,
    a.Accessary,a.CarTax,a.CarCost,a.PushMoney,a.OverAmt_Y,
    a.DptAmt,a.OverAmt,a.RentAmt,a.CostAdjustment,isnull(a.RepurchaseAmt,0) AS repurchaseAmt,
    a.DptTax,a.CarExtensionAmt,a.OutFee,a.FinanceFee,a.UrgentFee,
    a.StampTax,a.SellCarTax,a.TrnsFee,a.PayMode,a.PayDay,
    a.RentAmtT,a.GrossMargin,a.Memo,
    convert(varchar(10),convert(decimal(18,2),(a.IRR)))+'%' as irr,
    convert(varchar(10),convert(decimal(18,2),(a.GrossMarginT)))+'%' as grossMarginT,
    isnull(a.A1,'') AS a1,isnull(a.A2,'') AS a2,isnull(a.A3,'') AS a3,isnull(a.A4,'') AS a4,isnull(a.A5,'') AS a5,
    s.ItemName AS insureTypeName,t.ItemName As insurePercntName,
    a.Percnt,u.ItemName as carPlace,v.ItemName customerCareName,a.isCustomerCare,
    a.Budget01_Y,a.Onetime,isnull(a.A6,'') AS a6,isnull(a.A7,'') AS a7,
    isnull(w.Project_Name,'') as projectName,
    isBigTra=case  when a.IsBigTradeItem =1  then '（大口客户）' when a.IsBigTradeItem =0  then '' else '' end
    ,isnull([dbo].[f_CustomerStatus](a.TradeItem_Auto),'') customerStatus
    from
    Orders a
    left join v_Emp b on a.Sales_Auto = b.User_Auto
    left join TradeItem(nolock) c On a.TradeItem_Auto = c.TradeItem_Auto
    left join Inc d on a.Inc_Auto = d.Inc_Auto
    left join Itemcode e on a.RentType = e.Num and e.ItemType = 314
    left join Itemcode f on a.OrderType = f.Num and f.ItemType = 326
    left join Itemcode g on a.CustSource = g.Num and g.ItemType = 313
    left join Itemcode h on a.CarSource = h.Num and h.ItemType = 503
    left join Itemcode i on a.oil = i.Num and i.ItemType = 231
    left join FactoryBrand l on a.FactoryBrand_Auto = l.FactoryBrand_Auto
    left join Brand j on a.Brand_Auto = j.Brand_Auto
    left join Clasen k on a.Clasen_Auto = k.Clasen_Auto
    left join Itemcode m on a.PostType = m.Num and m.ItemType = 413
    left join Itemcode n on a.OrderStatus = n.Num and n.ItemType = 327
    left join TradeItem Supplier_Buy (nolock) on a.Supplier_Buy=Supplier_Buy.TradeItem_Auto
    left join Itemcode o on a.DptType = o.Num and o.ItemType = 332
    left join ItemCode p on p.ItemType = 333 and p.Num = a.DptTaxPay
    left join ItemCode q on q.ItemType = 412 and q.Num = a.MakNoType
    left join ItemCode r on r.ItemType = 841 and r.Num = a.BsType
    left join Itemcode s on a.InsureType = s.Num and s.ItemType = 411
    left join Itemcode t on a.InsurePercnt = t.Num and t.ItemType = 410
    left join ItemCode u on u.itemtype = 227 and u.num = a.CarPlace
    left join ItemCode v on v.ItemType = 128 and v.Num = a.ISCustomerCare
    left join Orders_Project w on w.Project_Auto = a.Project_Auto
    where
    a.Orders_Auto = #{params}
  </select>
    <resultMap id="querySupplierList" extends="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.SupplierList">
      <result column="Order_Auto" jdbcType="BIGINT" property="orderAuto" />
      <result column="brandName" jdbcType="VARCHAR" property="brandName" />
      <result column="ClasenName" jdbcType="VARCHAR" property="clasenName" />
      <result column="supplierName" jdbcType="VARCHAR" property="supplierName" />
      <result column="bookDT" jdbcType="TIMESTAMP" property="bookDT" />
      <result column="salesName" jdbcType="VARCHAR" property="salesName" />
      <result column="endDt" jdbcType="TIMESTAMP" property="endDt" />
    </resultMap>
    <select id="selectSupplierList" resultMap="querySupplierList">
      select
      distinct a.Order_Auto,b.Orders_Auto,
      c.FactoryBrandName+'-'+e.BrandName brandName,
      g.ClasenName,convert(decimal(18,0),b.ListPrice) ListPrice,
      f.fname supplierName,h.enddt bookDT,
      d.fname salesName,isnull(h.enddt,a.CDT) endDt
      from orders b
      left join [order] a on a.Orders_Auto = b.Orders_Auto
      left join v_emp d on a.Sales_Auto=d.User_Auto
      left Join TradeItem f on b.Supplier_Buy = f.TradeItem_Auto
      left join FactoryBrand c on c.FactoryBrand_Auto = b.FactoryBrand_Auto
      left join Brand e on e.Brand_Auto = b.Brand_Auto
      left join Clasen g on g.Clasen_Auto = b.Clasen_Auto
      left join Credit_Order i on i.Orders_Auto = b.Orders_Auto
      left join BookCar h on h.CreditMain_Auto = i.CreditMain_Auto
      where b.Supplier_Buy=(select Supplier_Buy from orders where Orders_Auto=#{params}  )
      and (datediff(m,h.EndDT,getdate())&lt;=6 or datediff(m,a.CDT,getdate())&lt;=6)
      order By isnull(h.enddt,a.CDT) desc
    </select>

  <resultMap id="queryOrdersBackList" extends="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.OrdersBackList">
    <result column="fName" jdbcType="VARCHAR" property="fName" />
    <result column="salesName" jdbcType="VARCHAR" property="salesName" />
    <result column="carIncName" jdbcType="VARCHAR" property="carIncName" />
    <result column="orderTypeName" jdbcType="VARCHAR" property="orderTypeName" />
    <result column="custSourceName" jdbcType="VARCHAR" property="custSourceName" />
    <result column="carSourceName" jdbcType="VARCHAR" property="carSourceName" />
    <result column="oilName" jdbcType="VARCHAR" property="oilName" />
    <result column="FactoryBrandName" jdbcType="VARCHAR" property="factoryBrandName" />
    <result column="BrandName" jdbcType="VARCHAR" property="brandName" />
    <result column="ClasenName" jdbcType="VARCHAR" property="clasenName" />
    <result column="supplierBuyName" jdbcType="VARCHAR" property="supplierBuyName" />
    <result column="irr" jdbcType="VARCHAR" property="irr" />
    <result column="grossMarginT" jdbcType="VARCHAR" property="grossMarginT" />
    <result column="a1" jdbcType="VARCHAR" property="a1" />
    <result column="a2" jdbcType="VARCHAR" property="a2" />
    <result column="a3" jdbcType="VARCHAR" property="a3" />
    <result column="a4" jdbcType="VARCHAR" property="a4" />
    <result column="a5" jdbcType="VARCHAR" property="a5" />
    <result column="bsTypeName" jdbcType="VARCHAR" property="bsTypeName" />
    <result column="rateRate" jdbcType="VARCHAR" property="rateRate" />
    <result column="rentRateN" jdbcType="VARCHAR" property="rentRateN" />
    <result column="rateTaxy" jdbcType="VARCHAR" property="rateTaxy" />
    <result column="salesTax" jdbcType="DECIMAL" property="salesTax" />
    <result column="isBigTra" jdbcType="VARCHAR" property="isBigTra" />
    <result column="mortgageAddrN" jdbcType="VARCHAR" property="mortgageAddrN" />
    <result column="pushTel" jdbcType="VARCHAR" property="pushTel" />
    <result column="commissionRate" jdbcType="VARCHAR" property="commissionRate" />
    <result column="rentMAmt" jdbcType="DECIMAL" property="rentMAmt" />
    <result column="gpsAmt" jdbcType="DECIMAL" property="gpsAmt" />
    <result column="insureRealAmt" jdbcType="DECIMAL" property="insureRealAmt" />
    <result column="postTypeName" jdbcType="VARCHAR" property="postTypeName" />
    <result column="finalTax" jdbcType="DECIMAL" property="finalTax" />
    <result column="insureTypeName" jdbcType="VARCHAR" property="insureTypeName" />
    <result column="insurePercntName" jdbcType="VARCHAR" property="insurePercntName" />
    <result column="carPlace" jdbcType="VARCHAR" property="carPlace" />
    <result column="customerStatus" jdbcType="VARCHAR" property="customerStatus" />
  </resultMap>
  <select id="selectOrdersBackList" resultMap="queryOrdersBackList">
    select
    p.ItemName AS postTypeName,
    (select isnull(convert(decimal(18,0),(sum(FeeAmt))),0) from OrdersFee where Orders_Auto=#{params} and FeeType_Auto not in(2,16)) feeAmt,
    (select isnull(convert(decimal(18,0),(sum(FeeAmt))),0) from OrdersFee where Orders_Auto=#{params} and FeeType_Auto in(2)) gpsAmt,
    (select isnull(convert(decimal(18,0),(sum(InsureRealAmt))),0) from OrdersInsureList where Orders_Auto = #{params}) insureRealAmt,
    a.Orders_Auto,a.Orders_Old,a.MM,
    a.TradeItem_Auto,c.FName AS fName,b.FName AS salesname,
    g.ItemName AS custSourceName,
    a.PushMan,isnull(a.PushTEL,'') AS pushTel,supplierBuyName = Supplier_Buy.FName,
    a.CarDT,
    l.FactoryBrandName,j.BrandName,k.ClasenName,
    a.CarColor,h.ItemName AS carSourceName,
    a.ClasenCode,a.CC,i.ItemName AS oilName,
    r.ItemName AS bsTypeName,a.MakNo,d.FName AS carIncName,
    convert(decimal(18,0),(a.ListPrice)) as ListPrice,
    convert(decimal(18,0),(a.DisPrice)) as DisPrice,
    convert(decimal(18,0),(a.GetPrice)) as GetPrice,
    isnull(a.CarPriceRef,0) CarPriceRef,
    convert(decimal(18,0),(a.Accessary)) as Accessary,
    a.CarTax,a.PushMoney,
    convert(decimal(18,0),(a.DptAmt)) as DptAmt,a.RentAmt,
    a.CarExtensionAmt,a.OutFee,a.FinanceFee,a.UrgentFee,
    a.StampTax,a.PayMode,a.PayDay,
    a.RentAmtT,a.GrossMargin,a.Memo,
    convert(varchar(10),convert(decimal(18,2),(a.IRR)))+'%' as irr,
    convert(varchar(10),convert(decimal(18,2),(a.GrossMarginT)))+'%' as grossMarginT,
    isnull(a.A1,'') AS a1,isnull(a.A2,'') AS a2,isnull(a.A3,'') AS a3,isnull(a.A4,'') AS a4,isnull(a.A5,'') AS a5,
    o.ItemName AS mortgageAddrN,
	a.MM2,a.UseKM,a.Weight, m.ItemName AS insureTypeName,n.ItemName As insurePercntName,
	a.Percnt,isnull(convert(decimal(18,0),a.Discount),0) as Discount,
    q.ItemName as carPlace,
	convert(varchar(10),convert(decimal(18,2),(a.RateTaxY)))+'%' as rateTaxY,
	a.TaxMode,
	convert(varchar(10),convert(decimal(18,2),(a.RateRate)))+'%' as rateRate,
    a.TaxRate AS salesTax,
    a.rentRate,
	convert(varchar(10),convert(decimal(18,2),(a.rentRate)))+'%' as rentRateN,
    convert(decimal(18,2),(a.FinalTax)) as finalTax,
    isBigTra=case  when a.IsBigTradeItem =1  then '（大口客户）' when a.IsBigTradeItem =0  then '' else '' end,f.ItemName AS orderTypeName,
    convert(varchar(10),convert(decimal(18,2),(a.commissionRate)))+'%' as commissionRate,
    a.MAmt AS rentMAmt
    ,isnull([dbo].[f_CustomerStatus](a.TradeItem_Auto),'') customerStatus
	from
    Orders a
    left join v_Emp b on a.Sales_Auto = b.User_Auto
    left join TradeItem(nolock) c On a.TradeItem_Auto = c.TradeItem_Auto
    left join Inc d on a.Inc_Auto = d.Inc_Auto
    left join Itemcode g on a.CustSource = g.Num and g.ItemType = 313
    left join Itemcode h on a.CarSource = h.Num and h.ItemType = 503
    left join Itemcode i on a.oil = i.Num and i.ItemType = 231
    left join FactoryBrand l on a.FactoryBrand_Auto = l.FactoryBrand_Auto
    left join Brand j on a.Brand_Auto = j.Brand_Auto
    left join Clasen k on a.Clasen_Auto = k.Clasen_Auto
    left join TradeItem Supplier_Buy (nolock) on a.Supplier_Buy=Supplier_Buy.TradeItem_Auto
    left join ItemCode r on r.ItemType = 841 and r.Num = a.BsType
    left join Itemcode m on a.InsureType = m.Num and m.ItemType = 411
    left join Itemcode n on a.InsurePercnt = n.Num and n.ItemType = 410
    left join ItemCode o on o.itemtype = 135 and o.num = a.MortgageAddr
    left join Itemcode f on a.OrderType = f.Num and f.ItemType = 326
    left join Itemcode p on a.PostType = p.Num and p.ItemType = 413
    left join ItemCode q on q.itemtype = 227 and q.num = a.CarPlace
    where
    a.Orders_Auto =  #{params}
  </select>
  <resultMap id="queryMsg" extends="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.MsgDto">
    <result column="msg" jdbcType="VARCHAR" property="msg" />
  </resultMap>
  <select id="selectMsg" resultMap="queryMsg">
    declare @Orders_Auto int
    set @Orders_Auto = #{params}
    Declare @ServiceCost_ int,@ServiceCost int,@CarTax_ Decimal(10,2),@CarTax Decimal(10,2)
    Declare @ListPrice Decimal(10,2),@OverAmt Decimal(10,2),@MM int,@TaxMode int,@chkListPrice int,@MSG NVARCHAR(500),
    @PushMoney_ Decimal(10,2),@PushMoney Decimal(10,2),@OverP_ Decimal(10,2),@OverP Decimal(10,2),@Orders_Old bigint,@OrderStatus int,
    @CC int,@CDT datetime,@Tax Decimal(16,2)

    Select @MSG=''

    select @ListPrice =ListPrice,@OverAmt=OverAmt,@MM=MM,@CarTax=CarTax,@TaxMode =TaxMode,@chkListPrice =chkListPrice,@Orders_Old=Orders_Old,@CC = CC,@CDT=CDT,@Tax = b.V1
    from [Orders] a (nolock)
    left join ItemCode b on b.ItemType = 2014 and b.num =a.TaxMode
    where orders_auto=@Orders_Auto

    if (@CC &lt;= 1600 and year(@CDT) &lt; 2017)
    BEGIN
    SELECT @MSG=@MSG+'从2015年10月1日到2016年12月31日,对购买1.6升及以下排量乘用车实施减半征收车辆购置税的优惠政策！'
    END

    if @Orders_Old  &gt; 0
    BEGIN
    select @OrderStatus=isnull(OrderStatus,0)
    from [Orders] (nolock)
    where orders_auto=@Orders_Old

    SELECT @MSG=CASE When @OrderStatus=30 then '原单授信已核准 ' When @OrderStatus=50 then '原单已转申购 ' ELSE '' End
    END


    if @chkListPrice=0 And @TaxMode=3
    BEGIN
    SELECT @MSG=@MSG+'购车发票不能抵扣 '
    END


    if ((@CC &gt; 1600 and @CarTax &lt; Round(@ListPrice/11.3,0)) or (@CC &lt;= 1600 and year(@CDT) &lt; 2017 and @CarTax &lt; Round(@ListPrice/(1+@Tax)*0.05,0)))
    BEGIN
    SELECT @MSG=@MSG+' 购置税必需大于' + convert(varchar(20), convert(decimal(18,2), case when @CC &gt; 1600 then Round(@ListPrice/11.3,0) else Round(@ListPrice/(1+@Tax)*0.05,0) end))
    END


    Select @ServiceCost_=isNULL(A1,0) FROM ItemCode (nolock)
    Where ItemType=328 And @ListPrice between V1 And V2

    select @ServiceCost=PA from [OrdersBudget] (nolock) where orders_auto=@Orders_Auto And Type_auto=4

    if @ServiceCost &lt; @ServiceCost_
    BEGIN
    SELECT @MSG=@MSG+' 服务费标准为' +Convert(NVARCHAR(20),@ServiceCost_)
    END

    Select @MM=Case When @MM &lt;=12 Then 12
    When @MM &lt;=24 Then 24
    else 36 End

    Select @OverP_=Case	When @MM &lt;=12 Then .5
    When @MM &lt;=24 Then .4
    else .3 End
    if @OverAmt=0
    BEGIN
    SELECT @MSG=@MSG+' 残值标准为' +Convert(NVARCHAR(20),@OverP_*100)+'%'
    END
    ELSE
    BEGIN
    if @ListPrice/@OverAmt>@OverP_
    BEGIN
    SELECT @MSG=@MSG+' 残值标准为' +Convert(NVARCHAR(20),@OverP_*100)+'%'
    END
    END

    Select @PushMoney_=isNull( A1,0) FROM ItemCode (nolock)
    Where ItemType = 330 And @ListPrice between V1 And V2 And @MM=ItemName

    if @PushMoney_ &lt; @PushMoney
    BEGIN
    SELECT @MSG=@MSG+' 佣金必需小于' +Convert(NVARCHAR(20),@PushMoney_)
    END

    SELECT @MSG AS msg
  </select>
  <select id="selectCrossList" resultMap="queryByRoleIds">
    declare
    @User_Auto Int,
    @Roles Int
    set @User_Auto = #{userAuto}
    set @Roles = #{rolesAuto}
    Begin
    Declare @Seq Int
    Select @Seq=isnull(seq,0) From ItemCode
    Where ItemType=1062 And Num=@Roles

    select a.Orders_Auto
    into #C
    from Orders a
    where a.orderstatus &gt; 0 and a.orderstatus &lt; 20
    and ( @Roles in(11,30,145)
    or a.Sales_Auto in (
    Select  a.User_Auto from AspNet.dbo.aspnet_Users a
    Join AspNet.dbo.EmpBase b on a.UserName=b.UserName
    Where Org_Auto in (select a.org_auto from AspNet.dbo.org2EMP a
    Where a.User_Auto=@User_AUTO and AclType=0)
    ))

    Select distinct a.Orders_Auto,a.OrderType,a.Sales_Auto,
    n.ItemName AS orderStatusName,b.FName salesname,c.SName,b.DepName,
    p.Memo nowplace,case when a.Onetime = 1 then '是' else '' end onetimeName
    ,case when k.MaxLevel &lt;= @Seq then 1 else 0 end auditOK
    From #C
    left join Orders(nolock) a on a.Orders_Auto = #C.Orders_Auto
    inner Join workflowdoc(nolock) k on a.orders_Auto=k.DocPostID And k.Memo='999' and k.Status = 0 and (k.levnow = k.AppSeq or k.AppSeq = k.LevNow +1)
    Left join v_Emp b on a.Sales_Auto=b.User_Auto
    Left Join customer(nolock) f on a.TradeItem_Auto=f.TradeItem_Auto
    LEFT join TradeItem(nolock) c On c.TradeItem_Auto=f.TradeItem_Auto
    Left Join Brand cc on a.Brand_Auto=cc.Brand_Auto
    Left Join Clasen dd on dd.Clasen_Auto=a.Clasen_Auto
    Left Join itemcode p on k.roleid=p.num And p.itemtype=1062
    Left join Itemcode n on a.OrderStatus = n.Num and n.ItemType = 327
    Where  @Seq &gt; k.AppSeq and (k.levnow  &gt;=2 or (a.PostType = 4 and k.levnow &gt; -1 and  @Roles not in(11,145)))
    Order By a.Orders_Auto Desc

    drop table #C
    End
  </select>

  <!--回租报价：查询按钮-->
  <resultMap id="queryLeasebackList" extends="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.LeasebackList">
    <result column="incName" jdbcType="VARCHAR" property="incName" />
    <result column="custName" jdbcType="VARCHAR" property="custName" />
    <result column="brandName" jdbcType="VARCHAR" property="brandName" />
    <result column="clasenName" jdbcType="VARCHAR" property="clasenName" />
    <result column="salesName" jdbcType="VARCHAR" property="salesName" />
    <result column="statusName" jdbcType="VARCHAR" property="statusName" />
  </resultMap>
  <select id="selectLeasebackList" resultMap="queryLeasebackList">
    declare
    @UserID BigInt=#{params.userAuto},
    @Mode int=#{params.mode},
    @SearchWord NvarChar(20)=#{params.searchWord},
    @StartDT NvarChar(20)=#{params.startDT},
    @EndDT NvarChar(20)=#{params.endDT},
    @IsChecked int = 0,
    @Type int = 8
    --[dbo].[s_Orders_N_R]
    -- @Mode 1报价单号 2客户名称 3业务员
    Declare @Orders Table
    (
    Orders_Auto Bigint
    )
    Declare @IsLook int     --是否可以查看

    Set @IsLook=0

    if Exists(select distinct Roles_Auto,RoleName,e.ItemName from  AspNet.dbo.aspnet_Users a
    join AspNet.dbo.aspnet_UsersInRoles b
    on a.UserId=b.UserId  join AspNet.dbo.aspnet_Roles c
    on b.RoleId=c.RoleId  join ItemCode e on c.Roles_Auto=e.Num and e.ItemType=1010
    where  a.ApplicationId='73663109-dda2-4c2d-8311-337946b5c373' and a.User_Auto=@UserID
    and e.itemname in('ORDER_ROLES','BUSASS_ROLES' ,'ZHAI_ROLES','ADMIN_ROLES','QIHUA_ROLES') )
    begin
    Set @IsLook=1
    end

    If @Mode=1  -- 1报价单号
    Begin
    Insert Into @Orders
    Select Orders_Auto
    From [Orders] a (NoLock)
    left join dbo.f_GetEmpList(@UserID) c on @IsLook=0 and c.User_auto=a.Sales_Auto
    Where Orders_Auto=@SearchWord
    and (@Type = -1 or (@Type = 0 and a.OrderType != 8) or (@Type = 8 and a.OrderType = 8))
    and (@IsLook=1 or c.User_auto is not null)
    End

    If @Mode=2   --2客户名称
    Begin
    Insert Into @Orders
    Select a.Orders_Auto
    From [Orders] a  (NoLock)
    inner join TradeItem b (NoLock) on a.TradeItem_Auto=b.TradeItem_Auto
    left join dbo.f_GetEmpList(@UserID) c on @IsLook=0 and c.User_auto=a.Sales_Auto
    Where a.CDT between @StartDT and DATEADD(dd,1,@EndDT) and b.FName Like '%'+@SearchWord+'%'
    and (@Type = -1 or (@Type = 0 and a.OrderType != 8) or (@Type = 8 and a.OrderType = 8))
    and (@IsChecked = 0 or (@IsChecked = 1 and a.OrderStatus >= 20))
    and (@IsLook=1 or c.User_auto is not null)
    End

    If @Mode=3   --3业务员
    Begin
    Insert Into @Orders
    Select a.Orders_Auto
    From [Orders] a (NoLock)
    inner join v_emp b on a.Sales_Auto=b.User_Auto
    left join dbo.f_GetEmpList(@UserID) c on @IsLook=0 and c.User_auto=a.Sales_Auto
    Where  a.CDT between @StartDT and DATEADD(dd,1,@EndDT) and b.FName like @SearchWord+'%'
    and (@Type = -1 or (@Type = 0 and a.OrderType != 8) or (@Type = 8 and a.OrderType = 8))
    and (@IsChecked = 0 or (@IsChecked = 1 and a.OrderStatus >= 20))
    and (@IsLook=1 or c.User_auto is not null)
    End


    if Exists(Select Orders_Auto From @Orders)
    Begin

    Select
    t1.SName incName,a.Orders_Auto
    ,custName=c.SName
    ,d1.BrandName,d2.ClasenName
    ,a.MAmt,a.OverAmt,a.DptAmt,a.RentRate
    ,salesName=isnull(f.fname,17)
    ,statusName=dbo.f_GetItemName(327,a.OrderStatus)
    from @Orders b
    inner join [Orders] a (NoLock) on a.Orders_Auto=b.Orders_Auto
    inner Join Brand d1 (NoLock) on a.Brand_Auto=d1.Brand_Auto
    inner Join Clasen d2 (NoLock) On a.Clasen_Auto=d2.Clasen_Auto
    inner join v_emp f on f.User_auto=a.Sales_Auto
    Left Join TradeItem c (NoLock) on a.TradeItem_Auto=c.TradeItem_Auto
    left join Inc t1 (NoLock) on a.Inc_Auto=t1.Inc_Auto
    Order by a.CDT desc
    End
  </select>

  <!--回租报价：单号获取数据-->
  <resultMap id="queryLeasebacks" extends="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.Leasebacks">
    <result column="postType" jdbcType="BIGINT" property="postType" />
    <result column="postTypeName" jdbcType="VARCHAR" property="postTypeName" />
    <result column="fName" jdbcType="VARCHAR" property="fName" />
    <result column="User_Auto" jdbcType="BIGINT" property="userAuto" />
    <result column="salesName" jdbcType="VARCHAR" property="salesName" />
    <result column="Org_Auto" jdbcType="BIGINT" property="orgAuto" />
    <result column="depName" jdbcType="VARCHAR" property="depName" />
    <result column="companyInc" jdbcType="BIGINT" property="companyInc" />
    <result column="companyIncN" jdbcType="VARCHAR" property="companyIncN" />
    <result column="orderType" jdbcType="BIGINT" property="orderType" />
    <result column="orderTypeName" jdbcType="VARCHAR" property="orderTypeName" />
    <result column="custSource" jdbcType="BIGINT" property="custSource" />
    <result column="custSourceName" jdbcType="VARCHAR" property="custSourceName" />
    <result column="carSource" jdbcType="BIGINT" property="carSource" />
    <result column="carSourceName" jdbcType="VARCHAR" property="carSourceName" />
    <result column="oil" jdbcType="BIGINT" property="oil" />
    <result column="FactoryBrand_Auto" jdbcType="BIGINT" property="factoryBrandAuto" />
    <result column="Brand_Auto" jdbcType="BIGINT" property="brandAuto" />
    <result column="Clasen_Auto" jdbcType="BIGINT" property="clasenAuto" />
    <result column="oilName" jdbcType="VARCHAR" property="oilName" />
    <result column="FactoryBrandName" jdbcType="VARCHAR" property="factoryBrandName" />
    <result column="BrandName" jdbcType="VARCHAR" property="brandName" />
    <result column="ClasenName" jdbcType="VARCHAR" property="clasenName" />
    <result column="supplierBuyName" jdbcType="VARCHAR" property="supplierBuyName" />
    <result column="irr" jdbcType="VARCHAR" property="irr" />
    <result column="grossMarginT" jdbcType="VARCHAR" property="grossMarginT" />
    <result column="a1" jdbcType="VARCHAR" property="a1" />
    <result column="a2" jdbcType="VARCHAR" property="a2" />
    <result column="a3" jdbcType="VARCHAR" property="a3" />
    <result column="a4" jdbcType="VARCHAR" property="a4" />
    <result column="a5" jdbcType="VARCHAR" property="a5" />
    <result column="bsType" jdbcType="BIGINT" property="bsType" />
    <result column="bsTypeName" jdbcType="VARCHAR" property="bsTypeName" />
    <result column="rateRate" jdbcType="VARCHAR" property="rateRate" />
    <result column="rentRateN" jdbcType="VARCHAR" property="rentRateN" />
    <result column="rateTaxYear" jdbcType="DECIMAL" property="rateTaxYear" />
    <result column="salesTax" jdbcType="DECIMAL" property="salesTax" />
    <result column="mortgageAddr" jdbcType="BIGINT" property="mortgageAddr" />
    <result column="mortgageAddrN" jdbcType="VARCHAR" property="mortgageAddrN" />
    <result column="pushTel" jdbcType="VARCHAR" property="pushTel" />
    <result column="commissionRate" jdbcType="VARCHAR" property="commissionRate" />
    <result column="rentMAmt" jdbcType="DECIMAL" property="rentMAmt" />
    <result column="gpsAmt" jdbcType="DECIMAL" property="gpsAmt" />
    <result column="insureRealAmt" jdbcType="DECIMAL" property="insureRealAmt" />
    <result column="postTypeName" jdbcType="VARCHAR" property="postTypeName" />
    <result column="finalTax" jdbcType="DECIMAL" property="finalTax" />
    <result column="insureType" jdbcType="BIGINT" property="insureType" />
    <result column="insurePercent" jdbcType="BIGINT" property="insurePercent" />
    <result column="insureTypeName" jdbcType="VARCHAR" property="insureTypeName" />
    <result column="insurePercentName" jdbcType="VARCHAR" property="insurePercentName" />
    <result column="carPlace" jdbcType="VARCHAR" property="carPlace" />
    <result column="customerStatus" jdbcType="VARCHAR" property="customerStatus" />
    <result column="payMode" jdbcType="BIGINT" property="payMode" />
    <result column="payModeN" jdbcType="BIGINT" property="payModeN" />
  </resultMap>
  <select id="selectLeasebacks" resultMap="queryLeasebacks">
    select
	p.Num AS postType,
    p.ItemName AS postTypeName,
	a.Orders_Auto,a.Orders_Old,a.MM,
    a.TradeItem_Auto,
	c.FName AS fName,
	b.Org_Auto,b.DepName,
	b.User_Auto,b.FName AS salesname,
    g.Num AS custSource ,g.ItemName AS custSourceName,
	a.PushMan,isnull(a.PushTEL,'') AS pushTel,supplierBuyName = Supplier_Buy.FName,
    a.CarDT,
    l.FactoryBrand_Auto,l.FactoryBrandName,j.Brand_Auto,j.BrandName,k.Clasen_Auto,k.ClasenName,
    a.CarColor,
	h.Num AS carSource ,h.ItemName AS carSourceName,
    a.ClasenCode,a.CC,i.Num AS oil,i.ItemName AS oilName,a.MakNo,
    r.Num AS bsType,r.ItemName AS bsTypeName,
	d.Inc_Auto AS companyInc,d.SName AS companyIncN,
	a.IsBigTradeItem,
	o.Num AS mortgageAddr ,o.ItemName AS mortgageAddrN,
    (select isnull(convert(decimal(18,0),(sum(FeeAmt))),0) from OrdersFee where Orders_Auto=#{ordersAuto} and FeeType_Auto not in(2,16)) feeAmt,
    (select isnull(convert(decimal(18,0),(sum(FeeAmt))),0) from OrdersFee where Orders_Auto=#{ordersAuto} and FeeType_Auto in(2)) gpsAmt,
    (select isnull(convert(decimal(18,0),(sum(InsureRealAmt))),0) from OrdersInsureList where Orders_Auto = #{ordersAuto}) insureRealAmt,
    convert(decimal(18,0),(a.ListPrice)) as ListPrice,
    convert(decimal(18,0),(a.DisPrice)) as DisPrice,
    convert(decimal(18,0),(a.GetPrice)) as GetPrice,
    isnull(a.CarPriceRef,0) CarPriceRef,
    convert(decimal(18,0),(a.Accessary)) as Accessary,
    a.CarTax,a.PushMoney,
    convert(decimal(18,0),(a.DptAmt)) as DptAmt,a.RentAmt,
    a.CarExtensionAmt,a.OutFee,a.FinanceFee,a.UrgentFee,
    a.StampTax,
	s.Num AS payMode,s.ItemName AS payModeN,
	a.PayDay,
    a.RentAmtT,a.GrossMargin,a.Memo,
    convert(varchar(10),convert(decimal(18,2),(a.IRR)))+'%' as irr,
    convert(varchar(10),convert(decimal(18,2),(a.GrossMarginT)))+'%' as grossMarginT,
    isnull(a.A1,'') AS a1,isnull(a.A2,'') AS a2,isnull(a.A3,'') AS a3,isnull(a.A4,'') AS a4,isnull(a.A5,'') AS a5,
	a.MM2,a.UseKM,a.Weight,
	m.Num AS insureType,m.ItemName AS insureTypeName,
	n.Num As insurePercent,n.ItemName As insurePercentName,
	a.Percnt,isnull(convert(decimal(18,0),a.Discount),0) as Discount,
	q.Num as car,q.ItemName as carPlace,
    isnull(a.RateTaxY,0) as rateTaxYear,
	a.TaxMode,
    isnull(a.RateRate,0) as rateRate,
    a.TaxRate AS salesTax,
    a.rentRate,
	convert(varchar(10),convert(decimal(18,2),(a.rentRate)))+'%' as rentRateN,
    convert(decimal(18,2),(a.FinalTax)) as finalTax,
	f.Num AS orderType ,f.ItemName AS orderTypeName,
    convert(varchar(10),convert(decimal(18,2),(a.commissionRate)))+'%' as commissionRate,
    a.MAmt AS rentMAmt
    ,isnull([dbo].[f_CustomerStatus](a.TradeItem_Auto),'') customerStatus
	from
    Orders a
    left join v_Emp b on a.Sales_Auto = b.User_Auto
    left join TradeItem(nolock) c On a.TradeItem_Auto = c.TradeItem_Auto
    left join Inc d on a.Inc_Auto = d.Inc_Auto
    left join Itemcode g on a.CustSource = g.Num and g.ItemType = 313
    left join Itemcode h on a.CarSource = h.Num and h.ItemType = 503
    left join Itemcode i on a.oil = i.Num and i.ItemType = 231
    left join FactoryBrand l on a.FactoryBrand_Auto = l.FactoryBrand_Auto
    left join Brand j on a.Brand_Auto = j.Brand_Auto
    left join Clasen k on a.Clasen_Auto = k.Clasen_Auto
    left join TradeItem Supplier_Buy (nolock) on a.Supplier_Buy=Supplier_Buy.TradeItem_Auto
    left join ItemCode r on r.ItemType = 841 and r.Num = a.BsType
    left join Itemcode m on a.InsureType = m.Num and m.ItemType = 411
    left join Itemcode n on a.InsurePercnt = n.Num and n.ItemType = 410
    left join ItemCode o on o.itemtype = 135 and o.num = a.MortgageAddr
    left join Itemcode f on a.OrderType = f.Num and f.ItemType = 326
    left join Itemcode p on a.PostType = p.Num and p.ItemType = 413
    left join ItemCode q on q.itemtype = 227 and q.num = a.CarPlace
	left join ItemCode s on s.itemtype = 316 and s.num = a.PayMode
    where
    a.Orders_Auto =  #{ordersAuto}
  </select>

  <!--回租报价：报价车商列表 -->
  <resultMap id="querySupplierNames" type="com.funtl.myshop.plus.provider.domain.SupplierNames">
    <result column="TradeItem_Auto" jdbcType="BIGINT" property="supplierBuy" />
    <result column="SName" jdbcType="VARCHAR" property="supplierBuyName" />
    <result column="IsOpen" jdbcType="VARCHAR" property="isOpen" />
  </resultMap>
  <select id="selectSupplierNames" resultMap="querySupplierNames">
    --分页查询
    declare
    @Mode int = #{params.mode},
    @SearchWord nvarchar(50)=#{params.searchWord},
    @PageCount int=#{params.pageNum},--分页总数
    @PageSize int =#{params.pageSize},--每页多少条数据
    @PageIndex int=#{params.pageIndex}--当前要求的页码索引

    BEGIN
    declare @Count int --记录的总数
    declare @min int,@max int

    begin
    select @Count=count(*) from dbo.f_GetSupplier(@Mode,@SearchWord)
    set @PageCount=(@Count+@PageSize-1)/@PageSize
    set @min=(@PageIndex-1)*@PageSize+1
    set @max=(@PageSize*@PageIndex)
    select
    ROW_NUMBER() OVER(ORDER BY SName collate chinese_PRC_CS_AS_KS_WS) as sno,TradeItem_Auto,SName,IsOpen
    into #a
    from
    dbo.f_GetSupplier(@Mode,@SearchWord)
    --where IsOpen != '已停用'
    where TradeItem_Auto != 0
    select TradeItem_Auto,SName,IsOpen from #a where sno between @min and @max
    drop table #a
    end

    END
  </select>

  <!--回租报价：客户全称列表-->
  <resultMap id="queryFNamesDto" type="com.funtl.myshop.plus.provider.domain.FNames">
    <result column="TradeItem_Auto" jdbcType="BIGINT" property="tradeItemAuto" />
    <result column="FName" jdbcType="VARCHAR" property="fName" />
  </resultMap>
  <select id="selectFNamesDto" resultMap="queryFNamesDto">
    declare
@UserID BigInt=#{params.salesAuto},--业代序号
@SearchWord NvarChar(50)=#{params.searchWord},
    @PageCount int=#{params.pageNum},--分页总数
    @PageSize int =#{params.pageSize},--每页多少条数据
    @PageIndex int=#{params.pageIndex}--当前要求的页码索引
BEGIN
declare @Count int --记录的总数
declare @min int,@max int
    Begin
	  select @Count=count(*) from TradeItem a join Customer b on a.TradeItem_Auto=b.TradeItem_Auto
	  set @PageCount=(@Count+@PageSize-1)/@PageSize
      set @min=(@PageIndex-1)*@PageSize+1
      set @max=(@PageSize*@PageIndex)
        Select @SearchWord='%'+@SearchWord+'%'
        Select ROW_NUMBER() OVER(ORDER BY FName) as sno,a.TradeItem_Auto,a.FName
		into #a
        from TradeItem a join Customer b on a.TradeItem_Auto=b.TradeItem_Auto
        Where a.FName Like @SearchWord and (@UserID = 0 or b.Sales_Auto = @UserID)
        Order by FName

		select TradeItem_Auto,FName from #a where sno between @min and @max
        drop table #a
    End
End
  </select>
</mapper>
