<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funtl.myshop.plus.provider.mapper.PurchaseRequestMapper">
  <resultMap id="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.PurchaseRequest">
    <!--@mbg.generated-->
    <!--@Table PurchaseRequest-->
    <id column="PurchaseRequest_Auto" jdbcType="BIGINT" property="purchaseRequestAuto" />
    <result column="Inc_Auto" jdbcType="BIGINT" property="incAuto" />
    <result column="Invoice_Number" jdbcType="VARCHAR" property="invoiceNumber" />
    <result column="RequestUser" jdbcType="BIGINT" property="requestUser" />
    <result column="Request_Type" jdbcType="INTEGER" property="requestType" />
    <result column="RequestDT" jdbcType="TIMESTAMP" property="requestDT" />
    <result column="RequestAmt" jdbcType="DECIMAL" property="requestAmt" />
    <result column="PayRequestAmt" jdbcType="DECIMAL" property="payRequestAmt" />
    <result column="Is_ZJ" jdbcType="INTEGER" property="isZJ" />
    <result column="ZJAmt" jdbcType="DECIMAL" property="zJAmt" />
    <result column="ZJpay_Type" jdbcType="INTEGER" property="zjPayType" />
    <result column="Pay_Type" jdbcType="INTEGER" property="payType" />
    <result column="CyberBank_Type" jdbcType="INTEGER" property="cyBerBankType" />
    <result column="Payee" jdbcType="VARCHAR" property="payee" />
    <result column="Payee_Account" jdbcType="VARCHAR" property="payeeAccount" />
    <result column="BankName" jdbcType="VARCHAR" property="bankName" />
    <result column="Remark" jdbcType="VARCHAR" property="remark" />
    <result column="Status" jdbcType="INTEGER" property="status" />
    <result column="Is_RR" jdbcType="INTEGER" property="isRR" />
    <result column="Cuser" jdbcType="BIGINT" property="cuser" />
    <result column="CDT" jdbcType="TIMESTAMP" property="cdt" />
    <result column="Muser" jdbcType="BIGINT" property="muser" />
    <result column="MDT" jdbcType="TIMESTAMP" property="mdt" />
    <result column="LKInc_Auto" jdbcType="BIGINT" property="lKIncAuto" />
    <result column="IsBatch" jdbcType="INTEGER" property="isBatch" />
    <result column="BankType" jdbcType="INTEGER" property="bankType" />
    <result column="InvType" jdbcType="INTEGER" property="invType" />
    <result column="Is_Eas" jdbcType="INTEGER" property="isEas" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    PurchaseRequest_Auto, Inc_Auto, Invoice_Number, RequestUser, Request_Type, RequestDT,
    RequestAmt, PayRequestAmt, Is_ZJ, ZJAmt, ZJpay_Type, Pay_Type, CyberBank_Type, Payee,
    Payee_Account, BankName, Remark, [Status], Is_RR, Cuser, CDT, Muser, MDT, LKInc_Auto,
    IsBatch, BankType, InvType, Is_Eas
  </sql>
    <select id="selectInc" resultType="com.funtl.myshop.plus.provider.domain.RequestInc">

    </select>
</mapper>
