<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funtl.myshop.plus.provider.mapper.RptVstMapper">
  <resultMap id="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.RptVst">
    <!--@mbg.generated-->
    <!--@Table RptVst-->
    <id column="RptVst_Auto" jdbcType="BIGINT" property="rptVstAuto" />
    <result column="TradeItem_Auto" jdbcType="BIGINT" property="tradeItemAuto" />
    <result column="Visit_Auto" jdbcType="INTEGER" property="visitAuto" />
    <result column="VstType" jdbcType="INTEGER" property="vstType" />
    <result column="VstDT" jdbcType="TIMESTAMP" property="vstDT" />
    <result column="VstAddr" jdbcType="VARCHAR" property="vstAddr" />
    <result column="Fee" jdbcType="DECIMAL" property="fee" />
    <result column="OutComing" jdbcType="INTEGER" property="outComing" />
    <result column="Aim" jdbcType="VARCHAR" property="aim" />
    <result column="Summary" jdbcType="VARCHAR" property="summary" />
    <result column="Detail" jdbcType="VARCHAR" property="detail" />
    <result column="Thought" jdbcType="VARCHAR" property="thought" />
    <result column="Remark" jdbcType="VARCHAR" property="remark" />
    <result column="CUser" jdbcType="INTEGER" property="cUser" />
    <result column="CDT" jdbcType="TIMESTAMP" property="cdt" />
    <result column="NextVstDT" jdbcType="TIMESTAMP" property="nextVstDT" />
    <result column="Status" jdbcType="INTEGER" property="status" />
    <result column="CustSource" jdbcType="INTEGER" property="custSource" />
    <result column="SignMap" jdbcType="VARCHAR" property="signMap" />
    <result column="SignLongitude" jdbcType="VARCHAR" property="signLongitude" />
    <result column="SignLatitude" jdbcType="VARCHAR" property="signLatitude" />
    <result column="MUser" jdbcType="INTEGER" property="mUser" />
    <result column="MCDT" jdbcType="TIMESTAMP" property="mcDT" />
    <result column="GPS_ID" jdbcType="INTEGER" property="gpsId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    RptVst_Auto, TradeItem_Auto, Visit_Auto, VstType, VstDT, VstAddr, Fee, OutComing,
    Aim, Summary, Detail, Thought, Remark, CUser, CDT, NextVstDT, [Status], CustSource,
    SignMap, SignLongitude, SignLatitude, MUser, MCDT, GPS_ID
  </sql>
  <resultMap id="queryByTrip" extends="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.TripRecorderList">
    <result column="RptVstFlow_Auto" jdbcType="BIGINT" property="rptVstFlowAuto" />
    <result column="customerName" jdbcType="VARCHAR" property="customerName" />
    <result column="contName" jdbcType="VARCHAR" property="contName" />
    <result column="vstTypeName" jdbcType="VARCHAR" property="vstTypeName" />
    <result column="outComingName" jdbcType="VARCHAR" property="outComingName" />
    <result column="salesName" jdbcType="VARCHAR" property="salesName" />
    <result column="statusName" jdbcType="VARCHAR" property="statusName" />
  </resultMap>
  <select id="selectByTrip" resultMap="queryByTrip">
    declare
@year int, -- 年份
@month int,--月份
@Status int,--0 未审核 1 已审核
@User int,--操作人
@Role int,--权限
@Org int --部门
set @year=#{param.year}
set @month=#{param.month}
set @Status=#{param.status}
set @User=#{param.userAuto}
set @Role=#{param.roleAuto}
set @Org=#{param.orgAuto}

begin
	select a.RptVst_Auto,a.VstDT,a.VstAddr,a.Detail,b.Name contName,c.FName customerName,d.ItemName vstTypeName,e.ItemName+'_'+e.Memo outComingName,f.FName salesName,g.RptVstFlow_Auto,case isnull(a.Status,0) when 0 then '业代组长' when 1 then '营业部主管' when 2 then '已审' end statusName
	from RptVst a
	inner join RptVstFlow g on g.RptVst_Auto = a.RptVst_Auto and g.RoleID = @Role
	left join CRM_Contact b on a.TradeItem_Auto=b.TradeItem_Auto
	left join TradeItem c on a.TradeItem_Auto=c.TradeItem_Auto
	left join ItemCode d on d.ItemType=1042 and d.Num = a.VstType
	left join ItemCode e on e.ItemType=1043 and e.Num = a.OutComing
	left join v_Emp  f on f.User_Auto = a.CUser
	where year(a.VstDT) = @year and month(a.VstDT) = @month and ((@Status = 1 and g.Status = @Status) or (@Status = 0 and ((@Role = 12 and a.Status = 1) or (@Role = 16 and a.Status = 0))))
	and f.Org_Auto in (Select a.Org_Auto From AspNet.dbo.Org2EMP a Where a.User_Auto = @User and Org_Auto = @Org And a.Acltype=0)
end
  </select>
  <select id="selectByTripTwo" resultMap="queryByTrip">
      declare
      @year int, -- 年份
      @month int,--月份
      @Status int,--0 未审核 1 已审核
      @User int,--操作人
      @Role int,--权限
      @Org int --部门
      set @year=#{param.year}
      set @month=#{param.month}
      set @Status=#{param.status}
      set @User=#{param.userAuto}
      set @Role=#{param.roleAuto}
      set @Org=#{param.orgAuto}

      begin
      select a.RptVst_Auto,a.VstDT,a.VstAddr,a.Detail,b.Name contName,c.FName customerName,d.ItemName vstTypeName,e.ItemName+'_'+e.Memo outComingName,f.FName salesName,g.RptVstFlow_Auto,case isnull(a.Status,0) when 0 then '业代组长' when 1 then '营业部主管' when 2 then '已审' end statusName
      from RptVst a
      inner join RptVstFlow g on g.RptVst_Auto = a.RptVst_Auto and g.RoleID = @Role
      left join CRM_Contact b on a.TradeItem_Auto=b.TradeItem_Auto
      left join TradeItem c on a.TradeItem_Auto=c.TradeItem_Auto
      left join ItemCode d on d.ItemType=1042 and d.Num = a.VstType
      left join ItemCode e on e.ItemType=1043 and e.Num = a.OutComing
      left join v_Emp  f on f.User_Auto = a.CUser
      where year(a.VstDT) = @year and month(a.VstDT) = @month and g.Status = @Status and @Status = 0 and @Role = 12 and a.Status = 0
      and f.Org_Auto in (Select a.Org_Auto From AspNet.dbo.Org2EMP a Where a.User_Auto = @User and Org_Auto = @Org And a.Acltype=0)
      end
  </select>
    <resultMap id="queryCrmTripList" extends="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.CrmTripList">
        <result column="RptVst_Auto" jdbcType="BIGINT" property="rptVstAuto" />
        <result column="TradeItem_Auto" jdbcType="BIGINT" property="tradeItemAuto" />
        <result column="Visit_Auto" jdbcType="INTEGER" property="visitAuto" />
        <result column="VstType" jdbcType="INTEGER" property="vstType" />
        <result column="VstDT" jdbcType="TIMESTAMP" property="vstDT" />
        <result column="VstAddr" jdbcType="VARCHAR" property="vstAddr" />
        <result column="vstTypeName" jdbcType="VARCHAR" property="vstTypeName" />
    </resultMap>
    <select id="selectCrmTripList" resultMap="queryCrmTripList">
        select
        a.Visit_Auto,a.vstType,a.vstAddr,
        a.VstDT,a.RptVst_Auto,a.TradeItem_Auto,
        d.ItemName vstTypeName
	    from
	    RptVst a
	    left join TradeItem c on a.TradeItem_Auto=c.TradeItem_Auto
	    left join v_Emp  b on b.User_Auto = a.CUser
        left join ItemCode d on d.ItemType=1042 and d.Num = a.VstType
	    where
        1=1
        <if test="customerName != null and customerName != ''">
            AND c.FName LIKE '%${customerName}%'
        </if>
        <if test="userAuto != null and userAuto != ''">
            AND a.CUser = #{userAuto}
        </if>
	    order by a.Visit_Auto
    </select>
    <resultMap id="queryByRptVstAuto" extends="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.CrmDetail">
        <result column="customerName" jdbcType="VARCHAR" property="customerName" />
        <result column="custSourceName" jdbcType="VARCHAR" property="custSourceName" />
        <result column="vstTypeName" jdbcType="VARCHAR" property="vstTypeName" />
        <result column="contName" jdbcType="VARCHAR" property="contName" />
        <result column="outComingName" jdbcType="VARCHAR" property="outComingName" />
        <result column="ContectType" jdbcType="INTEGER" property="contectType" />
    </resultMap>
    <select id="selectByRptVstAuto" resultMap="queryByRptVstAuto">
        select
        a.RptVst_Auto,
        a.VstDT,c.FName customerName,h.ItemName custSourceName,f.ItemName vstTypeName,a.Fee,
        d.Title contName,a.vstAddr,e.ItemName+'_'+e.Memo outComingName,a.NextVstDT,
        a.Aim,a.Summary,a.Detail,a.Thought,a.Remark,
        a.TradeItem_Auto,a.VstType,a.OutComing,d.ContectType
        from RptVst a
        left join Contect d on a.TradeItem_Auto=d.TradeItem_Auto
        left join TradeItem c on a.TradeItem_Auto=c.TradeItem_Auto
        left join ItemCode f on f.ItemType=1042 and f.Num = a.VstType
        left join ItemCode e on e.ItemType=1043 and e.Num = a.OutComing
        left join ItemCode h on h.ItemType=313 and h.Num = a.CustSource
        where a.RptVst_Auto=#{rptVstAuto}
    </select>
    <resultMap id="queryCustomerNameSelect" extends="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.CustomerNameSelect">
        <result column="FName" jdbcType="VARCHAR" property="customerName" />
        <result column="TradeItem_Auto" jdbcType="BIGINT" property="tradeItemAuto" />
        <result column="Customer_Auto" jdbcType="BIGINT" property="customerAuto" />
        <result column="AddrProvince" jdbcType="BIGINT" property="addrProvince"/>
        <result column="AddrCity" jdbcType="BIGINT" property="addrCity"/>
        <result column="AddrArea" jdbcType="BIGINT" property="addrArea"/>
        <result column="Addr" jdbcType="VARCHAR" property="addr" />
    </resultMap>
    <select id="selectByFName" resultMap="queryCustomerNameSelect">
        select
        a.FName,a.TradeItem_Auto,b.Customer_Auto,a.Addr,a.AddrProvince,a.AddrCity,a.AddrArea
        from TradeItem a
        left join Customer b on b.TradeItem_Auto = a.TradeItem_Auto
        left join v_Emp c on c.User_Auto = b.Sales_Auto
        where
        1=1
        <if test="fName != null and fName != ''">
            AND a.FName LIKE '%${fName}%'
        </if>
        <if test="salesAuto != null and salesAuto != ''">
            AND b.Sales_Auto = #{salesAuto}
        </if>
    </select>

    <resultMap id="queryContNameSelect" extends="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.ContNameSelect">
        <result column="contName" jdbcType="VARCHAR" property="contName" />
        <result column="TradeItem_Auto" jdbcType="BIGINT" property="tradeItemAuto" />
        <result column="ContectType" jdbcType="INTEGER" property="contectType" />
    </resultMap>
    <select id="selectByTradeItemAuto" resultMap="queryContNameSelect">
        select
        Title contName ,TradeItem_Auto,ContectType
        from
        Contect
        where
        1=1
        <if test="tradeItemAuto != null and tradeItemAuto != ''">
            AND TradeItem_Auto = #{tradeItemAuto}
        </if>
        <if test="contName != null and contName != ''">
            AND Title = #{contName}
        </if>
    </select>

    <resultMap id="queryCrmItemNameSelect" extends="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.CrmItemNameSelect">
        <result column="ItemName" jdbcType="VARCHAR" property="itemName" />
        <result column="Num" jdbcType="INTEGER" property="num" />
    </resultMap>
    <select id="selectByTypes" resultMap="queryCrmItemNameSelect">

        declare
        @types int,
        @num int
        set @types = #{types}
        set @num = #{num}

        if(@types = 1)--客户来源
        begin
        if(@num != 0)
        select Num,ItemName from (
        select Num=-1,ItemName=null,0 seq
        union all
        select Num,ItemName,seq from ItemCode where ItemType=313 and V1 > 0
        union all
        select Num=1,ItemName='保有维系',98 seq
        union all
        select Num=2,ItemName='通路维系',99 seq
        )aa where Num=@num order by seq
        else
        select Num,ItemName from (
        select Num=-1,ItemName=null,0 seq
        union all
        select Num,ItemName,seq from ItemCode where ItemType=313 and V1 > 0
        union all
        select Num=1,ItemName='保有维系',98 seq
        union all
        select Num=2,ItemName='通路维系',99 seq
        )aa order by seq
        end

        else if(@types = 2)--活动内容
        begin
        if(@num != 0)
        select Num,ItemName from ItemCode where ItemType=1042 and Num=@num
        else
        select Num,ItemName from ItemCode where ItemType=1042
        end

        else if(@types = 3)--进度
        begin
        if(@num != 0)
        select Num,(ItemName +'_'+ Memo)ItemName from ItemCode where ItemType=1043 and Num=@num
        else
        select Num,(ItemName +'_'+ Memo)ItemName from ItemCode where ItemType=1043
        end

    </select>
</mapper>
