<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funtl.myshop.plus.provider.mapper.VisitPlanMapper">
    <resultMap id="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.VisitPlan">
        <!--@mbg.generated-->
        <!--@Table VisitPlan-->
        <id column="VisitID" jdbcType="BIGINT" property="visitId"/>
        <result column="Visit_Auto" jdbcType="INTEGER" property="visitAuto"/>
        <result column="TradeItem_Auto" jdbcType="INTEGER" property="tradeItemAuto"/>
        <result column="Customer_Auto" jdbcType="VARCHAR" property="customerAuto"/>
        <result column="Contact_Auto" jdbcType="VARCHAR" property="contactAuto"/>
        <result column="VstDate" jdbcType="TIMESTAMP" property="vstDate"/>
        <result column="VstType" jdbcType="INTEGER" property="vstType"/>
        <result column="VstAddr" jdbcType="VARCHAR" property="vstAddr"/>
        <result column="VstAim" jdbcType="VARCHAR" property="vstAim"/>
        <result column="Remark" jdbcType="VARCHAR" property="remark"/>
        <result column="IsVsted" jdbcType="BIT" property="isVsted"/>
        <result column="CUser" jdbcType="INTEGER" property="cuser"/>
        <result column="CDT" jdbcType="TIMESTAMP" property="cdt"/>
        <result column="Addr_Province" jdbcType="BIGINT" property="addrProvince"/>
        <result column="Addr_City" jdbcType="BIGINT" property="addrCity"/>
        <result column="Addr_Street" jdbcType="BIGINT" property="addrStreet"/>
        <result column="FreeCarApply_Auto" jdbcType="BIGINT" property="freeCarApplyAuto"/>
        <result column="ParkFee" jdbcType="DECIMAL" property="parkFee"/>
        <result column="ParkCount" jdbcType="INTEGER" property="parkCount"/>
        <result column="PassFee" jdbcType="DECIMAL" property="passFee"/>
        <result column="PassCount" jdbcType="INTEGER" property="passCount"/>
        <result column="Isoneself" jdbcType="INTEGER" property="isOneSelf"/>
        <result column="Refuel" jdbcType="FLOAT" property="refuel"/>
        <result column="VstMile" jdbcType="FLOAT" property="vstMile"/>
        <result column="Status" jdbcType="INTEGER" property="status"/>
        <result column="MUser" jdbcType="BIGINT" property="muser"/>
        <result column="MDT" jdbcType="TIMESTAMP" property="mdt"/>
        <result column="GPS_ID" jdbcType="INTEGER" property="gpsId"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        VisitID, Visit_Auto, TradeItem_Auto, Customer_Auto, Contact_Auto, VstDate, VstType,
        VstAddr, VstAim, Remark, IsVsted, CUser, CDT, Addr_Province, Addr_City, Addr_Street,
        FreeCarApply_Auto, ParkFee, ParkCount, PassFee, PassCount, Isoneself, Refuel, VstMile,
        [Status], MUser, MDT, GPS_ID
    </sql>
    <resultMap id="queryByType" type="com.funtl.myshop.plus.provider.domain.AddressList">
        <result column="code" jdbcType="BIGINT" property="code"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>
    <select id="selectByType" resultMap="queryByType">
    declare
    @type int=#{type},
    @code Nvarchar(20)=#{code}
    if(@type = 1)--省
    begin
    select convert(bigint,code) code, name from CreditProvince where code = @code
    end
    else if(@type = 2)--市
    begin
    select convert(bigint,code) code,name from CreditCity where code = @code
    end
    else if(@type = 3)--区
    begin
    select convert(bigint,code) code,name from CreditArea where code = @code
    end
  </select>

    <resultMap id="queryCrmArrangeDto" extends="BaseResultMap" type="com.funtl.myshop.plus.provider.domain.CrmArrangeList">
        <result column="compName" jdbcType="VARCHAR" property="compName"/>
        <result column="contName" jdbcType="VARCHAR" property="contName"/>
        <result column="vstTypeName" jdbcType="VARCHAR" property="vstTypeName"/>
        <result column="sno" jdbcType="INTEGER" property="sno"/>
        <result column="saleName" jdbcType="VARCHAR" property="saleName"/>
        <result column="addrProvince" jdbcType="BIGINT" property="addrProvince"/>
        <result column="addrCity" jdbcType="BIGINT" property="addrCity"/>
        <result column="addrArea" jdbcType="BIGINT" property="addrArea"/>
    </resultMap>
    <select id="selectCrmArrangeDto" resultMap="queryCrmArrangeDto">
declare
@VisitID bigint=#{param.visitId},
@kind int=#{param.kind},
@SearchWord nvarchar(50)=#{param.searchWord},
@SalesName nvarchar(50)=#{param.salesName},
@PageCount int=0,--分页总数
@PageSize int =#{param.pageSize},--每页多少条数据
@PageIndex int=#{param.pageIndex}--当前要求的页码索引
        BEGIN
        declare @Count int --记录的总数
        declare @min int,@max int
        if @VisitID=0 or @VisitID is null or @VisitID = ''
        begin
        select @Count=count(*) from VisitPlan t1
        inner join Customer t3 on t1.TradeItem_Auto=t3.TradeItem_Auto
        inner join Contect t4  on t1.TradeItem_Auto=t4.TradeItem_Auto and t1.Contact_Auto=t4.ContectType
        where t3.Sales_Auto=@SalesName
        set @PageCount=(@Count+@PageSize-1)/@PageSize
        set @min=(@PageIndex-1)*@PageSize+1
        set @max=(@PageSize*@PageIndex)
        select*into #visitPlan from(
        select
        t1.VisitID,
        t1.Visit_Auto,
        t1.TradeItem_Auto,t.FName as compName,
        t1.Contact_Auto,t4.Title as contName,
        t1.VstDate,
        t2.ItemName as vstTypeName,t1.VstAddr,
        t1.VstAim,t1.Remark,
        t1.IsVsted, isnull(t1.CUser, 0) as CUser,
        Status = isnull(t1.Status,0),
        t1.VstType
        ,t1.Addr_Province as addrProvince,t1.Addr_City as addrCity,t1.Addr_Street as addrArea
        from VisitPlan t1
        inner join Customer t3 on t1.TradeItem_Auto=t3.TradeItem_Auto
        left join TradeItem t on t.TradeItem_Auto=t3.TradeItem_Auto
        inner join Contect t4  on t1.TradeItem_Auto=t4.TradeItem_Auto and t1.Contact_Auto=t4.ContectType
        inner join v_Emp t5 on t3.Cuser=t5.User_Auto
        left join ItemCode t2 on t1.VstType=t2.Num and t2.ItemType=1042
        where t3.Sales_Auto=@SalesName) t
        order by  t.Visit_Auto,t.TradeItem_Auto

        if(@kind=1)
        begin
        select ROW_NUMBER() OVER(ORDER BY Visit_Auto desc) as sno,VisitID,
        Visit_Auto,TradeItem_Auto,compName,Contact_Auto,contName,
        VstDate,vstTypeName,VstAddr,VstAim,Remark,IsVsted,CUser,VstType,
        saleName=(select FName from v_Emp where User_Auto=CUser)
        ,addrProvince,addrCity,addrArea
        into #tvisitPlan
        from #visitPlan
        where
        compName like '%'+@SearchWord+'%' and Status != -1 --and IsVsted = 0
        select * from #tvisitPlan where sno between @min and @max
        drop table #tvisitPlan
        end
        else if(@kind=2)
        begin
        select ROW_NUMBER() OVER(ORDER BY Visit_Auto desc) as sno,VisitID,
        Visit_Auto,TradeItem_Auto,compName,Contact_Auto,contName,
        VstDate,vstTypeName,VstAddr,VstAim,Remark,IsVsted,CUser,VstType,
        saleName=(select FName from v_Emp where User_Auto=CUser)
        ,addrProvince,addrCity,addrArea
        into #tvisitPlan2
        from #visitPlan
        where
        contName like '%'+@SearchWord+'%' and Status != -1 --and IsVsted = 0
        select * from #tvisitPlan2 where sno between @min and @max
        drop table #tvisitPlan2
        end
        drop table #visitPlan
        end
        else
        begin
        select @Count=count(*) from VisitPlan t1
        inner join Customer t3 on t1.TradeItem_Auto=t3.TradeItem_Auto
        inner join Contect t4  on t1.TradeItem_Auto=t4.TradeItem_Auto and t1.Contact_Auto=t4.ContectType
        where t3.Sales_Auto=@SalesName
        set @PageCount=(@Count+@PageSize-1)/@PageSize
        set @min=(@PageIndex-1)*@PageSize+1
        set @max=(@PageSize*@PageIndex)
        select*into #visitPlans from(
        select
        t1.VisitID,
        t1.Visit_Auto,
        t1.TradeItem_Auto,t.FName as compName,
        t1.Contact_Auto,t4.Title as contName,
        t1.VstDate,
        t2.ItemName as vstTypeName,t1.VstAddr,
        t1.VstAim,t1.Remark,
        t1.IsVsted, isnull(t1.CUser, 0) as CUser,
        Status = isnull(t1.Status,0),
        t1.VstType
        ,t1.Addr_Province as addrProvince,t1.Addr_City as addrCity,t1.Addr_Street as addrArea
        from VisitPlan t1
        inner join Customer t3 on t1.TradeItem_Auto=t3.TradeItem_Auto
        left join TradeItem t on t.TradeItem_Auto=t3.TradeItem_Auto
        inner join Contect t4  on t1.TradeItem_Auto=t4.TradeItem_Auto and t1.Contact_Auto=t4.ContectType
        inner join v_Emp t5 on t3.Cuser=t5.User_Auto
        left join ItemCode t2 on t1.VstType=t2.Num and t2.ItemType=1042
        where t3.Sales_Auto=@SalesName and t1.VisitID=@VisitID) t
        order by  t.Visit_Auto,t.TradeItem_Auto

        if(@kind=1)
        begin
        select ROW_NUMBER() OVER(ORDER BY Visit_Auto desc) as sno,VisitID,
        Visit_Auto,TradeItem_Auto,compName,Contact_Auto,contName,
        VstDate,vstTypeName,VstAddr,VstAim,Remark,IsVsted,CUser,VstType,
        saleName=(select FName from v_Emp where User_Auto=CUser)
        ,addrProvince,addrCity,addrArea
        into #tvisitPlans
        from #visitPlans
        where
        compName like '%'+@SearchWord+'%' and Status != -1 --and IsVsted = 0
        select * from #tvisitPlans where sno between @min and @max
        drop table #tvisitPlans
        end
        else if(@kind=2)
        begin
        select ROW_NUMBER() OVER(ORDER BY Visit_Auto desc) as sno,VisitID,
        Visit_Auto,TradeItem_Auto,compName,Contact_Auto,contName,
        VstDate,vstTypeName,VstAddr,VstAim,Remark,IsVsted,CUser,VstType,
        saleName=(select FName from v_Emp where User_Auto=CUser)
        ,addrProvince,addrCity,addrArea
        into #tvisitPlans2
        from #visitPlans
        where
        contName like '%'+@SearchWord+'%' and Status  !=  -1 --and IsVsted = 0
        select * from #tvisitPlans2 where sno between @min and @max
        drop table #tvisitPlans2
        end
        drop table #visitPlans
        end
        END
    </select>
</mapper>
